.featuredcategory_list_head

{

	border-bottom:1px solid #CCC;

	padding-bottom:5px;

}



#featured_list

{

	line-height:30px;

	padding-top:30px;

}



#featured_list li

{	

	width:30%;

	margin-left:2%;

	float:left;

		

}

#featuredcategory_char_filter

{

	text-align:left;

	margin:0 0 0 15px;

}



#featuredcategory_char_filter li

{

	display:inline;

	margin-right:5px;

	font-weight:bold;

}

#featured_category li

{

	display:inline;

	margin-right:30px;

}

#featured_category li:last-child {
	margin-right: 0;
}


#featured_category li a img

{

	width: 255px;
	height: 255px;

}