<style type="text/css">.data-table thead th {white-space: normal!important;}</style>
<div class="page-title">
    <h1><?php echo Mage::helper("mpsellerbuyercomm")->__("Coversation List"); ?></h1>
</div>
<?php echo $this->getPagerHtml();?>
<table class="data-table">
    <thead>
        <tr class="first last">
            <th><?php echo Mage::helper("mpsellerbuyercomm")->__("Id"); ?></th>
            <th><?php echo Mage::helper("mpsellerbuyercomm")->__("Product Name"); ?></th>            
            <th><?php echo Mage::helper("mpsellerbuyercomm")->__("Seller"); ?></th>
            <th><?php echo Mage::helper("mpsellerbuyercomm")->__("Subject"); ?></th>
            <th><?php echo Mage::helper("mpsellerbuyercomm")->__("Date"); ?></th>
            <th class="a-center"><?php echo Mage::helper("mpsellerbuyercomm")->__("Action"); ?></th>
        </tr>
    </thead>
    <tbody>
		<?php
		$collection = $this->getCollection();	
		$totalcount = count($collection);
		$count = 1;
		if($totalcount >0 ){
			foreach ($collection as $row) 	{ ?>
		    	<tr class="<?php if($count == 1)echo 'first ';if($count == $totalcount)echo 'last ';if($count % 2 == 0)echo 'even';else echo 'odd';?>">
		            <td><?php echo $row->getId()?></td>
		            <td>
		            	<?php 
		            	if($row->getProductid()){
		            		$product = Mage::getModel('catalog/product')->load($row->getProductid());	?>
		            		<a href="<?php echo $this->getUrl($product->getUrlPath())?>" title="<?php echo $product->getName()?>"><?php echo $product->getName()?></a>
		            		<?php
		            	}else{
		            		echo Mage::helper("mpsellerbuyercomm")->__("None");
		            	}
		            	?>
		            </td>
		            <td>
		            	<?php 
		            	$sellerid = $row->getSellerid();
		            	$seller = Mage::getModel('customer/customer')->load($sellerid);
						echo $seller->getFirstname()." ".$seller->getLastname();
		            	?>
		            </td>		            
		            <td><?php echo $row->getSubject()?></td>
		            <td><?php $date = date_create($row->getCreatedAt());echo date_format($date, "g:ia jS F Y");?></td>
		            <td class="a-center last">
		                <span class="nobr">
		                	<a href="<?php echo $this->getUrl('mpsellerbuyercomm/index/view/').'id/'.$row->getId()?>"><?php echo Mage::helper("mpsellerbuyercomm")->__("View"); ?></a>
		        		</span>
		            </td>
		        </tr>
			<?php $count++;
			}
		}else {	?>
			<tr class="first last">
	            <td colspan="6" class="a-center"><?php echo Mage::helper("mpsellerbuyercomm")->__("Your coversation history is empty."); ?>.</td>
		    </tr>
		<?php
		}?>
    </tbody>
</table>
<?php echo $this->getPagerHtml(); ?>