<?php  
	$helper=Mage::helper('marketplace');
	$feeds=$this->getFeed();
	$partner=$this->getProfileDetail();
	$userid=$partner['mageuserid'];
	$customer=Mage::getModel('customer/customer')->load($userid);
	$locsearch=$partner->getcomplocality()==''? Mage::getModel('directory/country')
				->load($partner->getcountrypic())->getName():$partner->getcomplocality();
	$countryflag=$this->getSkinUrl('marketplace/images/country/countryflags/')
				.strtolower($partner->getcountrypic()==""?"xx":
				$partner->getcountrypic()).".gif";
	$baseurl=$this->getUrl('marketplace/seller');
				
?>
<script type="text/javascript">
	if (typeof jQuery == 'undefined'){
		document.write(unescape("%3Cscript src='//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js' type='text/javascript'%3E%3C/script%3E"));
	}
</script> 
<div id="patner-info" class="block block-social-menu">  
	<div class="block-title">    
		<strong>
			<span><?php echo $helper->__('Store FootPrint') ?> </span>
		</strong>  
	</div>
	<div id="info" class="block-content">    
		<div class="details">		
			<div class="seller section first">			
				<div class="content">				
					<p class="storename">
						<a class="store-name" href="<?php echo $baseurl."profile/".$partner->getProfileurl();?>">
							<?php if($partner->getShoptitle()!='')
									echo $partner->getShoptitle();
								  else
									echo $partner->getProfileurl(); ?>
						</a>
					</p>
					<h4 class="full-view">
						<a href="<?php echo  $baseurl."collection/".$partner->getProfileurl() ?>">
							<?php echo $helper->__('View Full Collection') ?>
						</a>
					</h4>			
				</div>		
			</div>
			<div class="seller section" style="padding: 5px 0px 0px 5px;">			
				<div class="content ask_que">
					<h4 class="full-view">
						<a title="<?php echo $helper->__('Ask Que') ?>" id="askque"><?php echo $helper->__('Ask Que') ?></a>
					</h4>
					<div id="ask_data">
						<div class="modal_header">
							<h3><?php echo $helper->__('Ask Question to me') ?>..</h3>
							<span  class="wk_close" >x</span>
							<span  class="wk_clear" ></span>
						</div>
						<form id="ask_form" method="post" >
							<span class="label"><?php echo $helper->__('Email') ?> :</span><input type="text" name="email" class="queryemail"/>
							<span class="label"><?php echo $helper->__('Subject') ?> :</span><input type="text" name="subject" class="querysubject"/>
							<span class="label"> <?php echo $helper->__('Ask') ?> :</span><textarea  name="ask" class="queryquestion"></textarea>
							<input type="hidden" name="seller-id" value="<?php echo $partner->getMageuserid();?>"/>
							<div class="modal_footer">
								<span class="error"></span>
								<span class="errormail"></span>
								<input type="reset" value="<?php echo $helper->__('Reset') ?>" id="resetbtn"/>
								<input type="button" value="<?php echo $helper->__('Ask') ?>" id="askbtn" class="clickask"/>
								<span class="wk_clear"></span>
							</div>
						</form>
					</div>
				</div>		
			</div>
			<div class="wefrom section">     
				<h4><?php echo $helper->__('We\'re from') ?></h4>		
				
				<a title="<?php echo $helper->__('View Map') ?>" target="_blank" href="<?php echo  $baseurl."location/".$partner->getProfileurl()."?q=".$locsearch?>">
					<img class="piccountry" title="<?php echo $helper->__('View Map') ?>View Map" src="<?php echo$countryflag;  ?>" />
				</a>		
				<a class="cont-name" title="<?php echo $helper->__('Search') ?>" href="<?php echo  $baseurl."location/".$partner->getProfileurl()."?q=".$locsearch?>" target="_blank">
					<span><?php echo $locsearch; ?></span>
				</a> 	
			</div>  
		</div>  
		<div class="ratings section">    
			<h4><?php echo $helper->__('Feedback') ?></h4>  
			<div class="content">     
				<a class="feedback" href="<?php echo  $baseurl."feedback/".$partner->getProfileurl()?>">     
					<span title="" class="icon"></span>      
					<strong><?php echo $feeds['totalfeed']; ?>%</strong>(<strong><?php echo $feeds['feedcount']; ?></strong>)     
				</a>
			</div> 
		</div>
		<div class="connect section">   
			<h4><?php echo $helper->__('Connect with Us') ?></h4> 
			<div class="content">    
				<ul>      
					<li>			
						<span class="icon icon-msg-small"></span>	
						<a href="mailto:<?php echo $customer->getemail()?>">
							<?php echo $helper->__('Send us a message') ?>
						</a>		
					</li>       
					<li>			
						<span class="icon icon-fb-small"></span>			
						<a target="_blank" href="http://www.facebook.com/<?php echo $partner->getfacebookid()?>">
							<?php echo $helper->__('Find us on Facebook') ?>
						</a>		
					</li>      
					<li>			
						<span class="icon icon-tw-small"></span>		
						<a target="_blank" href="http://twitter.com/<?php echo $partner->gettwitterid() ?>">
							<?php echo $helper->__('Follow us on Twitter') ?>
						</a>		
					</li>
				</ul>    
			</div>    
		</div>  
	</div>
 </div>
 <script>
	$wk_jq=jQuery.noConflict(); 
	(function($wk_jq){
		$wk_jq(function(){
			$wk_jq('.wk-block-hover-div').prepend($wk_jq('<a />').attr('href','<?php echo  Mage::getUrl()."marketplace/seller/profile/".$rowsocial['profileurl'] ?>')
								.append($wk_jq('<img />').addClass('hover-bannerpicrs').attr('src','<?php echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_MEDIA).'avatar/'.$rowsocial['logopic']; ?>')));
			
			$wk_jq('#ask_form').delegate('input,textarea','focus',function(){
				$wk_jq(this).removeClass('error_border');
			});
			$wk_jq('.wrapper').append($wk_jq('#ask_data'));
			$wk_jq('.ask_que').click(function(){
				$wk_jq('#ask_form input,#ask_form textarea').removeClass('error_border');
				$wk_jq('.page').css('opacity','0.4');
				$wk_jq('#ask_data').show();
			});
			$wk_jq('.wk_close').click(function(){
				$wk_jq('.page').css('opacity','1');
				$wk_jq('#resetbtn').trigger('click');
				$wk_jq('#ask_data').hide();
			});
			
			$wk_jq('#askbtn').click(function(){
				var thisthis = $wk_jq(this);
				if(thisthis.hasClass("clickask")){
					thisthis.removeClass('clickask');
					if(!validateEmail($wk_jq('.queryemail').val())){
						$wk_jq(this).addClass('error_border');
						$wk_jq('#ask_form .errormail').text("<?php echo $helper->__('Enter valid email Id') ?>").slideDown('slow').delay(2000).slideUp('slow');
						thisthis.addClass('clickask');
					}
					else{
						var f=0;
						$wk_jq('#ask_form input,#ask_form textarea').each(function(){
							if($wk_jq(this).val()==''){
								$wk_jq(this).addClass('error_border');
								f++;
							}
						});
						if(f>0){
							$wk_jq('#ask_form .error').text("<?php echo $helper->__('Fill all the fields') ?>").slideDown('slow').delay(2000).slideUp('slow');
							thisthis.addClass('clickask');
						}else{	
							$wk_jq('#ask_data').addClass('mail_procss');
							$wk_jq.ajax({
								url:'<?php echo Mage::getBaseUrl();?>mpsellerbuyercomm/askquery/savenewmsg',
								data:$wk_jq('#ask_form').serialize(),
								type:'post',
								dataType:'json',
								success:function(d){
									thisthis.addClass('clickask');
									$wk_jq('#ask_data').removeClass('mail_procss')
									alert("<?php echo $helper->__('Mail Send') ?>..");
									$wk_jq('.wk_close,#resetbtn').trigger('click');
								},error: function(){
									thisthis.addClass('clickask');
									$wk_jq('#ask_data').removeClass('mail_procss');
									$wk_jq('.wk_close, #resetbtn').trigger('click');
									alert("<?php echo $helper->__('Error occurred!') ?>..");
								}
							});
						}	
					}
				}
			});
		});
	})($wk_jq);
	function validateEmail($email) {
	  var emailReg = /^([\w-\.]+@([\w-]+\.)+[\w-]{2,4})?$/;
	  if( !emailReg.test( $email ) ) {
		return false;
	  } else {
		return true;
	  }
	}
</script>