<?php	
$id = $this->getRequest()->getParam("id");
$subject = Mage::getModel("mpsellerbuyercomm/sellerbuyercomm")->load($id)->getSubject();
?>
<div class="page-title">
    <h1><?php echo Mage::helper("mpsellerbuyercomm")->__("Seller's Coversation History"); ?></h1>
</div>
<div id="wk_sbcom_history">
    <?php echo Mage::helper("mpsellerbuyercomm")->__("Query Subject : ").$subject; ?>
</div>
<div id="wk_sbcom_conversation_container">
<?php 	echo $this->getPagerHtml(); 	
	 	$collection = $this->getCollection();
        foreach ($collection as $coll) {		?>
        	<div class="wk_sbcom_onereply">
		        <span class="wk_sbcom_onereply_head <?php if($coll->getSendertype() == 0) echo "wk_sbcom_onereply_customer"; else if($coll->getSendertype() == 2) echo "wk_sbcom_onereply_admin"; ?>">
		            <span class="wk_sbcom_onereply_head_left"><?php echo date("d/M/Y H:i:s",$coll->getCreatedAt()); ?></span>
					<span class="wk_sbcom_onereply_head_right">
						<?php 
						if($coll->getSendertype() == 0) 
							echo Mage::helper("mpsellerbuyercomm")->__("Customer: ").$coll->getSender();
						else if($coll->getSendertype() == 1) 
							echo Mage::helper("mpsellerbuyercomm")->__("Me");
						else echo Mage::helper("mpsellerbuyercomm")->__("Administrator"); ?>
					</span>
			    </span>
		        <p class="wk_sbcom_onereply_cntnt"><?php echo $coll->getMessage(); ?></p>
		    </div>
<?php   }
		echo $this->getPagerHtml(); 
		$admintype=Mage::getModel("mpsellerbuyercomm/sellerbuyercomm")->load($this->getRequest()->getParam('id'))->getAdmintype();	
		if($admintype == 1) {?>	
			<form method="post" action="<?php echo $this->getUrl('mpsellerbuyercomm/adminmsg/saveconversation/')?>" id="wk_sbcom_con_form">
		<?php
		} else{ ?>
			<form method="post" action="<?php echo $this->getUrl('mpsellerbuyercomm/seller/saveconversation/')?>" id="wk_sbcom_con_form">		
		<?php
		} ?>
    		<input type="hidden" value="<?php echo Mage::getSingleton('core/session')->getFormKey(); ?>" name="form_key"/>
    		<input type="hidden" value="<?php echo $id; ?>" name="commid"/>
    		<input type="hidden" value="1" name="sendertype"/>
		    <div class="fieldset">
		        <h2 class="legend"><?php echo Mage::helper("mpsellerbuyercomm")->__("Send Message"); ?></h2>
		        <ul class="form-list">
		            <li class="wide">
		                <label class="required"><em>*</em><?php echo Mage::helper("mpsellerbuyercomm")->__("Enter Message"); ?></label>
		                <div class="input-box">
		                    <textarea class="required-entry" name="message" id="wk_sbcom_msg_content"></textarea>		                    
		                </div>
		            </li>
		        </ul>
		    </div>
		    <div class="buttons-set">
		        <p class="required">* <?php echo Mage::helper("mpsellerbuyercomm")->__("Required Fields"); ?></p>
		        <p class="back-link">
					<a href="javascript:;" onclick="javascript: window.history.back();" class="left">&laquo; <?php echo Mage::helper("core")->__('Back') ?></a>
				</p>
		        <button class="button" title="Submit Request" type="submit">
		        	<span><span><?php echo Mage::helper("mpsellerbuyercomm")->__("Send Message"); ?></span></span>
		        </button>
		    </div>
		</form>		
	</div>
	<script> 
	var newCustomerProductForm = new VarienForm('wk_sbcom_con_form', true);
	</script>