<?php $magentoCurrentUrl = Mage::helper('core/url')->getCurrentUrl(); ?>
<li  <?php echo (strpos($magentoCurrentUrl,'mpsellerbuyercomm/seller/'))? "class=current":"";?>>
	<?php 
	if(strpos($magentoCurrentUrl,'mpsellerbuyercomm/seller/')){ ?>
		<strong><?php echo Mage::helper('mpsellerbuyercomm')->__('Messages Notifications') ?></strong>
	<?php 
	}else{ ?>
		<!-- <a href="<?php echo $this->getUrl('mpsellerbuyercomm/seller/'); ?>"><?php echo Mage::helper('mpsellerbuyercomm')->__('Messages Notifications') ?></a> -->
	<?php 
	} ?>
</li>
<li  <?php echo (strpos($magentoCurrentUrl,'mpsellerbuyercomm/adminmsg/'))? "class=current":"";?>>
	<?php 
	if(strpos($magentoCurrentUrl,'mpsellerbuyercomm/adminmsg/')){ ?>
		<strong><?php echo Mage::helper('mpsellerbuyercomm')->__('Messages Notifications') ?></strong>
	<?php 
	}else{ ?>
		<a href="<?php echo $this->getUrl('mpsellerbuyercomm/adminmsg/'); ?>"><?php echo Mage::helper('mpsellerbuyercomm')->__('Messages Notifications') ?></a>
	<?php 
	} ?>
</li>