.modal-title {
margin: 0;
line-height: 1.42857143;
font-size: 18px;
font-family: inherit;
font-weight: 500;
display: inline-block;
}
#ask_data_approve {    
    background-clip: padding-box;    
    background-color: #FFFFFF;    
    border: 1px solid rgba(0, 0, 0, 0.3);    
    border-radius: 6px 6px 6px 6px;    
    box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);    
    display: none;    
    left: 50%;    
    margin: -250px 0 0 -280px;    
    outline: medium none;    
    position: fixed;    
    top: 50%;    
    width: 530px;    
    z-index: 1050;
}
#ask_form_approve { 
    display: inline-block;
    width: 100%;
}
#ask_data_approve .label {
    display: inline-block;
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 7px;
    padding-left: 20px;
    text-align: left;
    width: 80px;
}
#askbtn_approve:hover,#askbtn_approve.focus {
  color: #fff;
  background-color: #ccc;
  text-decoration: none;
}
#ask_data {    
    background-clip: padding-box;    
    background-color: #FFFFFF;    
    border: 1px solid rgba(0, 0, 0, 0.3);    
    border-radius: 6px 6px 6px 6px;    
    box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);    
    display: none;    
    left: 50%;    
    margin: -250px 0 0 -280px;    
    outline: medium none;    
    position: fixed;    
    top: 50%;    
    width: 530px;    
    z-index: 1050;
}
#ask_form { 
    display: inline-block;
    width: 100%;
}
#ask_data .label {
    display: inline-block;
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 7px;
    padding-left: 20px;
    text-align: left;
    width: 80px;
}
.wk_modal_btn{
  cursor: pointer;
}
#askbtn:hover,#askbtn.focus {
  color: #fff;
  background-color: #ccc;
  text-decoration: none;
}
.querysubject{
  width: 315px;
}
.modal_header { 
  border-bottom: 1px solid #EEEEEE;
  border-radius: 4px 4px 0 0;
  padding: 9px 15px;
}
.modal_header h3 { display: inline-block;font-size: 20px;opacity: 0.6; }
.wk_close {    
    color: #000000;    
    cursor: pointer;    
    float: right;    
    font-size: 20px;    
    font-weight: bold;    
    line-height: 20px;    
    opacity: 0.2;    
    text-shadow: 0 1px 0 #FFFFFF;
}
.wk_close:hover,
.wk_close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
  filter: alpha(opacity=50);
  opacity: .5;
}
.modal_footer:before, .modal_footer:after { content: "";display: table;line-height: 0; }
.modal_footer:before, .modal_footer:after { content: "";display: table;line-height: 0; }
.modal_footer {    
  padding: 15px;
  text-align: right;
  border-top: 1px solid #e5e5e5;
}
.error_border { border-color: #FF0000 !important; }
.mail_procss { cursor: wait;opacity: 0.5; }
.wk_mp_btn{
    float: right;
    margin-left: 5px!important;
}

.wk_btn_default {
  color: #333;
  background-color: #fff;
  border-color: #ccc;
}
.wk_btn_default:hover,
.wk_btn_default:focus,
.wk_btn_default.focus,
.wk_btn_default:active,
.wk_btn_default.active,
.open > .dropdown-toggle.wk_btn_default {
  color: #333;
  background-color: #e6e6e6;
  border-color: #adadad;
}
.wk_btn_default:active,
.wk_btn_default.active,
.open > .dropdown-toggle.wk_btn_default {
  background-image: none;
}
.wk_btn_default.disabled,
.wk_btn_default[disabled],
fieldset[disabled] .wk_btn_default,
.wk_btn_default.disabled:hover,
.wk_btn_default[disabled]:hover,
fieldset[disabled] .wk_btn_default:hover,
.wk_btn_default.disabled:focus,
.wk_btn_default[disabled]:focus,
fieldset[disabled] .wk_btn_default:focus,
.wk_btn_default.disabled.focus,
.wk_btn_default[disabled].focus,
fieldset[disabled] .wk_btn_default.focus,
.wk_btn_default.disabled:active,
.wk_btn_default[disabled]:active,
fieldset[disabled] .wk_btn_default:active,
.wk_btn_default.disabled.active,
.wk_btn_default[disabled].active,
fieldset[disabled] .wk_btn_default.active {
  background-color: #fff;
  border-color: #ccc;
}
.wk_btn_default .badge {
  color: #fff;
  background-color: #333;
}
.wk_btn_primary {
  color: #fff;
  background-color: #428bca;
  border-color: #357ebd;
}
.wk_btn_primary:hover,
.wk_btn_primary:focus,
.wk_btn_primary.focus,
.wk_btn_primary:active,
.wk_btn_primary.active,
.open > .dropdown-toggle.wk_btn_primary {
  color: #fff;
  background-color: #3071a9;
  border-color: #285e8e;
}
.wk_btn_primary:active,
.wk_btn_primary.active,
.open > .dropdown-toggle.wk_btn_primary {
  background-image: none;
}
.wk_btn_primary.disabled,
.wk_btn_primary[disabled],
fieldset[disabled] .wk_btn_primary,
.wk_btn_primary.disabled:hover,
.wk_btn_primary[disabled]:hover,
fieldset[disabled] .wk_btn_primary:hover,
.wk_btn_primary.disabled:focus,
.wk_btn_primary[disabled]:focus,
fieldset[disabled] .wk_btn_primary:focus,
.wk_btn_primary.disabled.focus,
.wk_btn_primary[disabled].focus,
fieldset[disabled] .wk_btn_primary.focus,
.wk_btn_primary.disabled:active,
.wk_btn_primary[disabled]:active,
fieldset[disabled] .wk_btn_primary:active,
.wk_btn_primary.disabled.active,
.wk_btn_primary[disabled].active,
fieldset[disabled] .wk_btn_primary.active {
  background-color: #428bca;
  border-color: #357ebd;
}
.wk_btn_primary .badge {
  color: #428bca;
  background-color: #fff;
}
.wk_btn {
display: inline-block;
padding: 6px 12px;
margin-bottom: 0;
font-size: 14px;
font-weight: 400;
line-height: 1.42857143;
text-align: center;
white-space: nowrap;
vertical-align: middle;
-ms-touch-action: manipulation;
touch-action: manipulation;
cursor: pointer;
-webkit-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
background-image: none;
border: 1px solid #ccc;
border-radius: 4px;
}
.form-control {
display: block;
width: 95%;
height: 34px;
padding: 6px 12px;
font-size: 14px;
line-height: 1.42857143;
color: #555;
background-color: #fff;
background-image: none;
border: 1px solid #ccc;
border-radius: 4px;
-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
-webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
-o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
.modal-body {
position: relative;
padding: 15px;
width: 94%;
}
textarea.bootbox-input.bootbox-input-text.form-control:focus{
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
          box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
}