<?php 
$partner=$this->getProfileDetail();

$is_owner = false;
// Check if any customer is logged in or not
if (Mage::getSingleton('customer/session')->isLoggedIn()) {
 
    // Load the customer's data
    $customer = Mage::getSingleton('customer/session')->getCustomer();
    // var_dump($customer->getEntityId());  
    // var_dump($partner->getProfileurl());
    if($customer->getEntityId() == $partner->getProfileurl())
    {
        $is_owner = true;
    }
}

if($partner->getprofileurl()!=''){
?>
<style>
.main{background-image:none;background-color:<?php echo $partner->getbackgroundth();?>}
</style>
<?php
	$_productCollection=$this->getCollection();
	$_helper = $this->helper('catalog/output');
	$partner=$this->getProfileDetail();
    $productname=$this->getRequest()->getParam('name');
	$bannerpic=$partner->getbannerpic()!=''?$partner->getbannerpic():"banner-image.png";
	$bannerpic=Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_MEDIA).'avatar/'.$bannerpic;
	$today =date('Y-m-d');
?>

<?php if(!$_productCollection->count()): ?>

    <h2>There is no image yet.</h2>
    <ul class="products-grid">
        <?php if($is_owner)  {?>
        <li class="item">
            <a href="<?php echo $this->getUrl('marketplace/marketplaceaccount/new'); ?>" title="Add new image" class="product-image">
                <img src="<?php echo $this->getSkinUrl('images/add-image.png'); ?>" width="135" height="135" alt="add new image" />
            </a>
            <h2 class="product-name"><a href="<?php echo $this->getUrl('marketplace/marketplaceaccount/new'); ?>" title="">Submit New Art</a></h2>
        </li>
        <?php } ?>
    </ul>

<?php else: ?>
<h1>Designs</h1>
<div class="category-products">
    <?php if($productname!=''){ ?>
    <div class="page-title">
        <h1><?php echo $this->__('Search results for "').$productname.$this->__('"'); ?></h1>
    </div>
    <?php } ?>
    <?php //echo $this->getToolbarHtml() ?>
    <?php // List mode ?>
    <?php if($this->getMode()!='grid'): ?>
    <?php $_iterator = 0; ?>
    <ol class="products-list" id="products-list">
    
    <?php foreach ($_productCollection as $_product): ?>
	    <li class="item<?php if( ++$_iterator == sizeof($_productCollection) ): ?> last<?php endif; ?>">
            <?php // Product Image ?>
            <a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $this->stripTags($this->getImageLabel($_product, 'small_image'), null, true) ?>" class="product-image"><img src="<?php echo Mage::helper('catalog/image')->init($_product,'thumbnail'); ?>" width="135" height="135" alt="<?php echo $this->stripTags($this->getImageLabel($_product, 'small_image'), null, true) ?>" /></a>
            <?php // Product description ?>
            <div class="product-shop">
                <div class="f-fix">
                    <?php $_productNameStripped = $this->stripTags($_product->getName(), null, true); ?>
                    <h2 class="product-name"><a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $_productNameStripped; ?>"><?php echo $_helper->productAttribute($_product, $_product->getName() , 'name'); ?></a></h2>
                    <?php if($_product->getRatingSummary()): ?>
                    <?php echo Mage_Catalog_Block_Product::getReviewsSummaryHtml($_product) ?>
                    <?php endif; ?>
                    <?php if(($_product->getSpecialPrice() < $_product->getPrice()) && ($_product->getSpecialPrice()!='') && ($today < $_product->getSpecialToDate())){ ?>
						<div class="price-box">
							<p class="old-price">
								<span class="price-label"><?php echo $this->__('Regular Price:'); ?></span>
								<span class="price"><?php echo Mage::helper('core')->currency($_product->getPrice()); ?></span>
							</p>
							<p class="special-price">
								<span class="price-label" style="font-size:12px;"><?php echo $this->__('Special Price:'); ?></span>
								<span class="price"><?php echo Mage::helper('core')->currency($_product->getSpecialPrice()); ?> </span>
							</p>
						</div>
					<?php }else{ ?>
						<div class="price-box">
							<span class="regular-price">
							<span class="price"><?php echo Mage::helper('core')->currency($_product->getPrice()); ?></span>
							</span>
						</div>
					<?php } //echo Mage_Catalog_Block_Product::getPriceHtml($_product, true) ?>
                    <?php if($_product->isSaleable()): ?>
                        <p><button type="button" title="<?php echo $this->__('Add to Cart') ?>" class="button btn-cart" onclick="setLocation('<?php echo Mage::helper('checkout/cart')->getAddUrl($_product) ?>')"><span><span><?php echo $this->__('Add to Cart') ?></span></span></button></p>
                    <?php else: ?>
                        <p class="availability out-of-stock"><span><?php echo $this->__('Out of stock') ?></span></p>
                    <?php endif; ?>
                    <div class="desc std">
                        <?php echo $_helper->productAttribute($_product, $_product->getShortDescription(), 'short_description') ?>
                        <a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $_productNameStripped ?>" class="link-learn"><?php echo $this->__('Learn More') ?></a>
                    </div>
                    <ul class="add-to-links">
                        <?php if ($this->helper('wishlist')->isAllow()) : ?>
                            <li><a href="<?php echo $this->helper('wishlist')->getAddUrl($_product) ?>" class="link-wishlist"><?php echo $this->__('Add to Wishlist') ?></a></li>
                        <?php endif; ?>
                        <?php if($_compareUrl=$this->getAddToCompareUrl($_product)): ?>
                            <li><span class="separator">|</span> <a href="<?php echo $_compareUrl ?>" class="link-compare"><?php echo $this->__('Add to Compare') ?></a></li>
                        <?php endif; ?>
                    </ul>
                </div>
            </div>
        </li>
    <?php endforeach; ?>
    </ol>
    <script type="text/javascript">decorateList('products-list', 'none-recursive')</script>

    <?php else: ?>

    <?php // Grid Mode ?>

    <?php $_collectionSize = $_productCollection->count() ?>
    <?php $_columnCount = $this->getColumnCount(); ?>
    <?php $i=0; foreach ($_productCollection as $_product): ?>
        <?php if ($i++%$_columnCount==0): ?>
        <ul class="products-grid">

        <?php if($is_owner)  {?>
        <li class="item">
            <a href="<?php echo $this->getUrl('marketplace/marketplaceaccount/new'); ?>" title="Add new image" class="product-image">
                <img src="<?php echo $this->getSkinUrl('images/add-image.png'); ?>" width="135" height="135" alt="add new image" />
            </a>
            <h2 class="product-name"><a href="<?php echo $this->getUrl('marketplace/marketplaceaccount/new'); ?>" title="">Submit New Art</a></h2>
        </li>
        <?php } ?>
        <?php endif ?>
            <li class="item<?php if(($i-1)%$_columnCount==0): ?> first<?php elseif($i%$_columnCount==0): ?> last<?php endif; ?>">
                <a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $this->stripTags($this->getImageLabel($_product, 'small_image'), null, true) ?>" class="product-image"><img src="<?php echo Mage::helper('catalog/image')->init($_product,'thumbnail'); ?>" width="135" height="135" alt="<?php echo $this->stripTags($this->getImageLabel($_product, 'small_image'), null, true) ?>" /></a>
                <h2 class="product-name"><a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $this->stripTags($_product->getName(), null, true) ?>"><?php echo $_helper->productAttribute($_product, $_product->getName(), 'name') ?></a></h2>
                <?php if($_product->getRatingSummary()): ?>
                <?php echo Mage_Catalog_Block_Product::getReviewsSummaryHtml($_product, 'short') ?>
                <?php endif; ?>
                <?php if(($_product->getSpecialPrice() < $_product->getPrice()) && ($_product->getSpecialPrice()!='') && ($today < $_product->getSpecialToDate())){ ?>
						<div class="price-box">
							<p class="old-price">
								<span class="price-label"><?php echo $this->__('Regular Price:'); ?></span>
								<span class="price"><?php echo Mage::helper('core')->currency($_product->getPrice()); ?></span>
							</p>
							<p class="special-price">
								<span class="price-label" style="font-size:12px;"><?php echo $this->__('Special Price:'); ?></span>
								<span class="price"><?php echo Mage::helper('core')->currency($_product->getSpecialPrice()); ?> </span>
							</p>
						</div>
					<?php }else{ ?>
						<div class="price-box">
							<span class="regular-price">
							<span class="price"><?php echo Mage::helper('core')->currency($_product->getPrice()); ?></span>
							</span>
						</div>
					<?php } //echo Mage_Catalog_Block_Product::getPriceHtml($_product, true) ?>
<!--                 <div class="actions">
                    <?php if($_product->isSaleable()): ?>
                        <button type="button" title="<?php echo $this->__('Add to Cart') ?>" class="button btn-cart" onclick="setLocation('<?php echo Mage::helper('checkout/cart')->getAddUrl($_product) ?>')"><span><span><?php echo $this->__('Add to Cart') ?></span></span></button>
                    <?php else: ?>
                        <p class="availability out-of-stock"><span><?php echo $this->__('Out of stock') ?></span></p>
                    <?php endif; ?>
                    <ul class="add-to-links">
                        <?php if ($this->helper('wishlist')->isAllow()) : ?>
                            <li><a href="<?php echo $this->helper('wishlist')->getAddUrl($_product) ?>" class="link-wishlist"><?php echo $this->__('Add to Wishlist') ?></a></li>
                        <?php endif; ?>
                        <?php if($_compareUrl=$this->getAddToCompareUrl($_product)): ?>
                            <li><span class="separator">|</span> <a href="<?php echo $_compareUrl ?>" class="link-compare"><?php echo $this->__('Add to Compare') ?></a></li>
                        <?php endif; ?>
                    </ul>
                </div> -->
            </li>
        <?php if ($i%$_columnCount==0 || $i==$_collectionSize): ?>
        </ul>
        <?php endif ?>
        <?php endforeach ?>
        <script type="text/javascript">decorateGeneric($$('ul.products-grid'), ['odd','even','first','last'])</script>
    <?php endif; ?>

    <div class="toolbar-bottom">
        <?php echo $this->getToolbarHtml() ?>
    </div>
</div>
<?php endif; ?>
<script type="text/javascript">
if (typeof jQuery == 'undefined'){
    document.write(unescape("%3Cscript src='http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js' type='text/javascript'%3E%3C/script%3E"));
}
</script>
<script>	
jQuery.noConflict();
(function($wk_jq){
	$wk_jq('.toolbar select option').each(function(){
        $url=$wk_jq(this).attr('value').replace('profile/','profile/'+'<?php echo $partner->getprofileurl();?>/');
        $wk_jq(this).attr('value',$url);
    });
    $wk_jq('.toolbar a').each(function(){
        $wk_jq(this).attr('href',$wk_jq(this).attr('href').replace('profile/','profile/'+'<?php echo $partner->getprofileurl();?>/'));
    });
})(jQuery);

</script>
<?php } ?>
