<script type="text/javascript">
	if (typeof $wk_jq == 'undefined'){
		document.write(unescape("%3Cscript src='http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js' type='text/javascript'%3E%3C/script%3E"));
	}
</script> 
<script src="//code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
<link rel="stylesheet" href="//code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
<?php

	$isPartner= Mage::getModel('marketplace/userprofile')->isPartner();
	$helper=Mage::helper('marketplace');
	$customerid=Mage::getSingleton('customer/session')->getCustomerId();
	if($isPartner==1){
		$rightseller=Mage::getModel('marketplace/userprofile')->isRightSeller($this->getRequest()->getParam('id'));
		if($rightseller){
?>
<script type="text/javascript">
  bkLib.onDomLoaded(function(){
	new nicEditor({fullPanel : true}).panelInstance('description');
	new nicEditor({fullPanel : true}).panelInstance('short_description');     
  });
</script>
<?php

	$urlid=$this->getRequest()->getParam('id');

	$loadpro =Mage::getModel('catalog/product')->load($urlid);
	$cat=$loadpro->getCategoryIds();
	$instock =  Mage::getModel('cataloginventory/stock_item')->loadByProduct($urlid)->getIsInStock();				
	$qtyStock = Mage::getModel('cataloginventory/stock_item')->loadByProduct($urlid)->getQty();				
	$categories = Mage::getModel('catalog/category')->getCollection()->addAttributeToSelect('*')->addIsActiveFilter();
	$allcatid = array();
	$k=0;
	foreach($categories as $c){
		$allcatid[$k] = $c->getId();
		$k++;
	}
	$finalcat=array_shift($allcatid);	
	$partner=Mage::getModel('marketplace/userprofile')->getPartnerProfileById($customerid); ?>
	<div class="page-title">
		<h1><?php echo $helper->__('Edit Simple Product') ?></h1>
	</div>
	<form action="<?php echo $this->getUrl('marketplace/marketplaceaccount/editapprovedsimple') ?>" enctype="multipart/form-data" method="post" id="form-customer-product-editPost">
		<input type="hidden" name="form_key" value="<?php echo Mage::getSingleton('core/session')->getFormKey(); ?>" />
		<div class="fieldset">
			<input type="hidden" name="productid" value="<?php echo $urlid; ?>" />
			<h4 class="legend"><?php echo $helper->__('Simple Product') ?></h4>
			<ul class="form-list" id="wk_bodymain">
				<?php if(($partner['twitterid']=='')||($partner['facebookid']=='')||($partner['bannerpic']=='')||($partner['logopic']=='')||($partner['complocality']=='')||($partner['countrypic']=='')||($partner['compdesi']=='')){?>
					<marquee><h4 class="wk_marquee"><?php echo $helper->__('Please Complete your Profile..')?></h4></marquee>
				<?php } ?>
				<li>
					<label class="required"><em>*</em><?php echo $helper->__('Product Category') ?>:</label>
					<div class="wk_field wk_category">
						<div class="wk_for_validation">
							<div id="wk_category_label"><?php echo $helper->__("CATEGORIES"); ?></div>
							<?php $Mar_lef = 0;$count = 0;$categories = $loadpro->getCategoryIds();
							$category_helper = Mage::helper("catalog/category");
							$category_model = Mage::getModel("catalog/category");
							$_categories = $category_helper->getStoreCategories();
							$total = count($_categories->getNodes());
						    if($total > 0) {
									foreach($_categories as $_category)	{
											$count++; 
						        if(count($category_model->getResource()->getAllChildren($category_model->load($_category['entity_id'])))-1 > 0){
											if($count <= $total) { ?>
											<div class="wk_cat_container"><span class="wk_plus">
											</span><span class="wk_foldersign"></span>
											<span class="wk_elements wk_cat_name"><?php echo $_category->getName() ?></span>
											<?php if(in_array($_category["entity_id"],$categories)) {?>
											<input onchange='catchanged()' class="wk_elements" type="checkbox" name="category[]" value=<?php echo $_category['entity_id'] ?>  checked > </div>
											<?php }
											else { ?>
											<input onchange='catchanged()' class="wk_elements" type="checkbox" name="category[]" value=<?php echo $_category['entity_id'] ?> > </div>
											<?php } ?>
										<?php	} }
										 else 
										     {
										 ?><div class="wk_cat_container">
											</span><span class="wk_foldersign"></span>
											<span class="wk_elements wk_cat_name"><?php echo $_category->getName() ?></span>
											<?php if(in_array($_category["entity_id"],$categories)) {?>
											<input onchange='catchanged()' class="wk_elements" type="checkbox" name="category[]" value=<?php echo $_category['entity_id'] ?> checked > </div>
											 <?php }
											else { ?>
											<input onchange='catchanged()' class="wk_elements" type="checkbox" name="category[]" value=<?php echo $_category['entity_id'] ?>></div>
											<?php } 
									    }
									   }                                  									   
									}								
							     ?> 
							
						</div>
					</div>
				</li>
				<li>
					<label class="required"><em>*</em><?php echo $helper->__('Product Name') ?>:</label>
					<div class="input-box">
						<input type="name" class="required-entry input-text" name="name" id="name" value="<?php echo $loadpro->getName(); ?>" />
					</div>
				</li>
				<li>
					<label><?php echo $helper->__('Description') ?>:</label>
					<div class="input-box">
						<textarea name="description" id="description" rows="5" cols="75" ><?php echo $loadpro->getDescription(); ?></textarea>
					</div>
				</li>
				<li>
					<label><?php echo $helper->__('Short Description') ?>:</label>
					<div class="input-box">
						<textarea name="short_description" id="short_description" rows="5" cols="75"><?php echo $loadpro->getShortDescription();?></textarea>
					</div>
				</li>
				<?php if($loadpro->getStatus()==1){?>
				<li>
					<label class="required"><em>*</em><?php echo $helper->__('Status') ?>:</label>
					<div class="input-box">
						<input type="radio" class="" name="status" id="status" checked="checked" value="1" /><?php echo $helper->__("Enable"); ?><br>
						<input type="radio" class="" name="status" id="status" value="2" /><?php echo $helper->__("Disable"); ?>
					</div>
				</li>
				<?php }?>
				<li>
					<label class="required"><em>*</em><?php echo $helper->__('SKU') ?>:</label>
					<div class="input-box">
						<input name="sku" id="sku" class="input-text required-entry" value="<?php  echo $loadpro->getsku(); ?>"/> 
					</div>
					<div id="skuavail" >
						<span class="success-msg skuavailable"><?php echo $helper->__('SKU Available') ?></span>
					</div>
					<div id="skunotavail" >
						<span class="error-msg skunotavailable"><?php echo $helper->__('SKU Already Exist') ?></span>
					</div>
				</li>
				<li>
					<label class="required"><em>*</em><?php echo $helper->__('Price') ?><b><?php $currency_code = Mage::app()->getStore()->getCurrentCurrencyCode(); echo  " (". Mage::app()->getLocale()->currency( $currency_code )->getSymbol().")"; ?></b>:</label>
					<div class="input-box">
						<input type="price" class="required-entry validate-zero-or-greater input-text" name="price" id="price" value="<?php

						$baseCurrencyCode = Mage::app()->getStore()->getBaseCurrencyCode();
						$currentCurrencyCode = Mage::app()->getStore()->getCurrentCurrencyCode();
						$price = Mage::helper('directory')->currencyConvert($loadpro->getPrice(), $baseCurrencyCode, $currentCurrencyCode);
						  echo number_format($price, 2, '.', ''); ?>" />
					</div>
				</li>
				<li>
					<label class="required"><?php echo $helper->__('Special Price') ?><b><?php $currency_code = Mage::app()->getStore()->getCurrentCurrencyCode(); echo  " (". Mage::app()->getLocale()->currency( $currency_code )->getSymbol().")"; ?></b>:</label>
					<div class="input-box">
						<input type="special_price" class="widthinput input-text" name="special_price" id="special_price" value="<?php
                        if($loadpro->getSpecialPrice()!='')
                        {
						$baseCurrencyCode = Mage::app()->getStore()->getBaseCurrencyCode();
						$currentCurrencyCode = Mage::app()->getStore()->getCurrentCurrencyCode();
						$special_price = Mage::helper('directory')->currencyConvert($loadpro->getSpecialPrice(), $baseCurrencyCode, $currentCurrencyCode);
						  echo number_format($special_price, 2, '.', ''); 
						}
						else
						{
							echo $loadpro->getSpecialPrice();
						}  
						  
						  ?>"/>
					</div>
				</li>
				<li>
					<label class="required"><?php echo $helper->__('Special Price From') ?>:</label>
					<div class="input-box">
						<input name="special_from_date" id="special_from_date" class="input-text" value="<?php echo $loadpro->getData('special_from_date'); ?>" />
					</div>
				</li>
				<li>
					<label class="required"><?php echo $helper->__('Special Price To') ?>:</label>
					<div class="input-box">
						<input name="special_to_date" id="special_to_date" class="input-text" value="<?php echo $loadpro->getData('special_to_date'); ?>"/>
					</div>
				</li>
				<li>
					<label class="required"><em>*</em><?php echo $helper->__('Stock') ?>:</label>
					<div class="input-box">
						<input type="stock" class="required-entry validate-number input-text" name="stock" id="stock" value="<?php echo $qtyStock; ?>"/>
					</div>
				</li>
				<li>
					<label class="required"><em>*</em><?php echo $helper->__('Stock Availability') ?>:</label>
					<div class="input-box">
						<select id="inventory_stock_availability" class="select" name="is_in_stock">
							<option <?php if($instock==1)echo "selected"; ?> value="1"><?php echo $helper->__("In Stock"); ?></option>
							<option <?php if($instock==0)echo "selected"; ?> value="0"><?php echo $helper->__("Out of Stock"); ?></option>
						</select>
					</div>
				</li>
				<li>
					<label class="required"><em>*</em><?php echo $helper->__('Tax Class') ?>:</label>
					<div class="input-box">
						<select id="tax_class_id" class=" required-entry required-entry select" name="tax_class_id">
							<option value="0"><?php echo $helper->__("None"); ?></option>
							<?php
								$taxid=$loadpro->getData('tax_class_id');
								$taxes=Mage::getModel('tax/class')->getCollection()
											->addFieldToFilter('class_type',array('eq'=>'PRODUCT'));
								foreach($taxes as $tax){
							?>
							<option <?php echo $taxid==$tax->getId()? 'selected':''; ?> value="<?php echo $tax->getId() ?>"><?php echo $tax->getClassName()?></option>
							<?php } ?>
						</select>
					</div>
				</li>
				<li>
					<label class="required"><em>*</em><?php echo $helper->__('Weight') ?>:</label>
					<div class="input-box">
						<input type="weight" class="required-entry validate-number validate-zero-or-greater validate-number-range number-range-0-99999999.9999 input-text" name="weight" id="weight"  value="<?php echo $loadpro->getWeight();?>"/>
					</div>
				</li>
				<li>
					<label><?php echo $helper->__('Sample Image') ?>:</label>
					<div class="input-box" style="width:380px;">
						<input type='file' name='images' class="wk_imagevalidate" accept="image/*"/>
						<input type="radio" value='' class='defaultimage' onchange='defaultimagevalue(this)' name="defaultimage">
						<span class='defaultimageset'><?php echo $helper->__("Base image"); ?></span>
						<br>
						<a class="wk_add_image" href='#' onClick='showOtherImage(); return false;'><?php echo $helper->__("Add Other Image");?></a><br/>
						<div id='otherimages'></div>
						<div class="image_set">
							<?php $_product = Mage::getModel('catalog/product')->load($loadpro->getId())->getMediaGalleryImages();
							$_productimage = Mage::getModel('catalog/product')->load($loadpro->getId())->getImage();
							 if($_product) {  ?>
								<?php $i=0;
								  foreach($_product as $_image) {
								  $check=$_productimage==$_image->getFile()?"checked='checked'":'';
								  $i++; 
								  ?>
								  <div class="setimage">
									  <img id="<?php echo $_image->getFile(); ?>" pid="<?php echo $loadpro->getId(); ?>" src="<?=$this->helper('catalog/image')->init($_product, 'thumbnail',$_image->getFile())->resize(200, 130); ?>" width="50" height="50" alt="<?=$this->htmlEscape($_image->getLabel());?>" title="<?=$this->htmlEscape($_image->getLabel()); ?>" />
									  <span class="wk_imagedelete" title="Delete"><?php echo $helper->__('X') ?></span><br>
									  <input type="radio" name="defaultimage" <?php echo  $check ?>  class='defaultimage' value='<?php echo $_image->getValueId(); ?>'>
									  <div class='defaultimageset'><?php echo $helper->__("Base image"); ?></div>
								  </div>
							   <?php  } 
							   } ?>
						</div>
					</div>
				</li>
				<?php echo $this->getChildHtml();?>
			</ul>
		</div>
		<div class="buttons-set">
			<p class="required">* <?php echo $helper->__('Required Fields') ?></p>
			<button class="button" title="Save" type="submit" id="save_butn">
				<span><span><?php echo $helper->__('Save') ?></span></span>
			</button>
			<p class="back-link">
				<a href="javascript:;" onclick="javascript: window.history.back();" class="left">&laquo; <?php echo $helper->__('Back') ?></a>
			</p>
		</div>
	</form>
<script> 
var $wk_jq=jQuery.noConflict();
(function($wk_jq){
	var newCustomerProductForm = new VarienForm('form-customer-product-editPost', true);
	$wk_jq( "#special_from_date" ).datepicker({'dateFormat':'yy:mm:dd'});
	$wk_jq( "#special_to_date" ).datepicker({'dateFormat':'yy:mm:dd'});
	$wk_jq('#save_butn').click(function(){
		if(newCustomerProductForm.validator.validate()!=false){
			var descrip = nicEditors.findEditor( "description" ).getContent();
			
		    var sdescrip = nicEditors.findEditor( "short_description" ).getContent();
			var regex = /(&lt([^>]+)&gt)/ig;
            var result = descrip .replace(regex, "");
            nicEditors.findEditor( "description" ).setContent(result);
            
		    var sresult = sdescrip .replace(regex, "");
		    nicEditors.findEditor( "short_description" ).setContent(sresult);
		    jQuery('#description').text(result);
		     jQuery('#short_description').text(sresult);
		   
			
			$wk_jq('#save_butn span span').text('Saving..');
			$wk_jq('.button').css('opacity','0.7');
			$wk_jq('.button').css('cursor','default');
			$wk_jq('.button').attr('disabled','disabled');			
			jQuery('#form-customer-product-editPost').submit();
		}			
	});
	
	$wk_jq('.input-text').change(function(){
	 var validt = $wk_jq(this).val();
	 var regex = /(<([^>]+)>)/ig;
     var mainvald = validt .replace(regex, "");
     $wk_jq(this).val(mainvald);	
    });
	
	$wk_jq(".dumimg").change(function(){
		$wk_jq( ".defaultimage" ).prop( "checked", false );
	});
	$wk_jq(function(){
		$wk_jq('input#sku').change(function(){
			var len=$wk_jq('input#sku').val();
			var len2=len.length;
			if(len2==0){
				alert("<?php echo $helper->__('SKU can\'t be left empty ') ?>");
				$wk_jq('div#skuavail').css('display','none');
				$wk_jq('div#skunotavail').css('display','none');
			}
			else{
				$wk_jq.ajax({
					url: "<?php echo Mage::getUrl('marketplace/marketplaceaccount/verifysku');?>",
					type: "POST",
					data: {sku:$wk_jq('input#sku').val()},
					dataType: 'html',
					success:function($data){
						$data=JSON.parse($data);
						if($data.avl==1){
							$wk_jq('div#skuavail').css('display','block');
							$wk_jq('div#skunotavail').css('display','none');
						}
						else{
							$wk_jq('div#skunotavail').css('display','block');
							$wk_jq('div#skuavail').css('display','none');
							$wk_jq("input#sku").attr('value','');
						}
					}
				});
			}
		});
	
		$wk_jq('.image_set span').click(function(event){
			var dicisionapp=confirm('Sure Want To Delete Image');
			if(dicisionapp==true){
				var imag = $wk_jq(this).prev('img').attr('id');
				$wk_jq.ajax({
					url: "<?php echo $this->getUrl('marketplace/marketplaceaccount/deleteimage');?>",
					type: "POST",
					data: {file:$wk_jq(this).prev('img').attr('id'),pid:$wk_jq(this).prev('img').attr('pid')},
					dataType: 'html',
					success:function(content){
						$wk_jq(this).parent('div').remove();
					}
				});
				$wk_jq(this).parent('div').remove();
			}		
		});
		$wk_jq('.image_set img').mouseover(function(event){
			$wk_jq(event.target).parent('div').find('span').css({display:'block'});
			$wk_jq(event.target).parent('div').find('img').css('opacity','0.4');
		});
		$wk_jq('.image_set img').mouseout(function(event){
			$wk_jq(event.target).parent('div').find('span').css({display:'none'});
			$wk_jq(event.target).parent('div').find('img').css('opacity','1');
		});

		$wk_jq('.image_set span').mouseover(function(event){
			$wk_jq(event.target).parent('div').find('span').css({display:'block'});
			$wk_jq(event.target).parent('div').find('img').css('opacity','0.4');
		});
		$wk_jq('.image_set span').mouseout(function(event){
			$wk_jq(event.target).parent('div').find('span').css({display:'none'});
			$wk_jq(event.target).parent('div').find('img').css('opacity','1');
		});
	})
})($wk_jq);
</script>	

<script type="text/javascript">
	var newCustomerProductForm = new VarienForm('form-customer-product-editPost', true);
	var i=2;
	function showOtherImage() {
		var newdiv = document.createElement('div');
		newdiv.setAttribute("id","childDiv"+i);
		newdiv.innerHTML = "<input type='file' name='images"+i+"' accept='image/\*' class='wk_imagevalidate'/><input type='radio'  onClick='defaultimagevalue(this)'  value=''  class='defaultimage' name='defaultimage'><span class='defaultimageset'><?php echo $helper->__('Base image '); ?></span><a href=\"javascript:;\" onclick=\"removeEvent('childDiv"+i+"')\"><?php echo $helper->__('Remove ') ?></a>";
		var ni = document.getElementById('otherimages');
		ni.appendChild(newdiv);
		i++;
	}

	function defaultimagevalue(object){
		var strs=jQuery(object).prev('input').val().split('\\'); 
	    jQuery(object).val(strs[strs.length-1]);
	}

	function removeEvent(divNum){
		var d = document.getElementById('otherimages');
		var olddiv = document.getElementById(divNum);
		d.removeChild(olddiv);
		i--;
	}

	function catchanged(){
		jQuery("#wk_cp_cat_edited").val(1);
	}

	jQuery("body").delegate('.wk_imagevalidate',"change",function(){
		var ext = jQuery(this).val().split('.').pop().toLowerCase();
		if(jQuery.inArray(ext, ['gif','png','jpg','jpeg']) == -1) {
			jQuery(this).val('');
		    alert('invalid extension! Please Upload an image.');
		}
	});

	jQuery("#wk_bodymain").delegate('.wk_plus ,.wk_plusend,.wk_minus, .wk_minusend ',"click",function(){
		var thisthis=jQuery(this);	
		if(thisthis.hasClass("wk_plus") || thisthis.hasClass("wk_plusend")){
			if(thisthis.hasClass("wk_plus"))
				thisthis.removeClass('wk_plus').addClass('wk_plus_click');
			if(thisthis.hasClass("wk_plusend"))
				thisthis.removeClass('wk_plusend').addClass('wk_plusend_click');
			thisthis.prepend("<span class='wk_node_loader'></span>");
			
			jQuery.ajax({
				url  	:   "<?php echo $this->getUrl('marketplace/marketplaceaccount/categorytree/');?>",
				type 	:   "POST",
				data 	:   {CID:thisthis.siblings("input").val(),
							ML:thisthis.parent(".wk_cat_container").css("margin-left").replace("px",""),
							CATS : 	"<?php echo implode(',',$categories); ?>"},
				dataType:   "html",
				success :   function(content){
					var newdata=  jQuery.parseJSON(content);
					len= newdata.length;
					var pxl= parseInt(thisthis.parent(".wk_cat_container").css("margin-left").replace("px",""))+20;
					thisthis.find(".wk_node_loader").remove();
					if(thisthis.attr("class") == "wk_plus")
						thisthis.attr("class","wk_minus");
					if(thisthis.attr("class") == "wk_plusend")
						thisthis.attr("class","wk_minusend");
					if(thisthis.attr("class") == "wk_plus_click")
						thisthis.attr("class","wk_minus");
					if(thisthis.attr("class") == "wk_plusend_click")
						thisthis.attr("class","wk_minusend");
				     for(i=0;i<len; i++){ 
						id=newdata[i].id;
						checkn=newdata[i].check;
						nam=newdata[i].name;
						if(checkn==1){														 
							if(newdata[i].counting ==0){
								thisthis.parent(".wk_cat_container").after('<div class="wk_removable wk_cat_container" style="display:none;margin-left:'+pxl+'px;"><span  class="wk_no"></span><span class="wk_foldersign"></span><span class="wk_elements wk_cat_name">'+ nam +'</span><input class="wk_elements" type="checkbox" checked name="category[]" value='+ id+' </div>');
							}else{
								thisthis.parent(".wk_cat_container").after('<div class="wk_removable wk_cat_container" style="display:none;margin-left:'+pxl+'px;"><span  class="wk_plusend"></span><span class="wk_foldersign"></span><span class="wk_elements wk_cat_name">'+ nam +'</span><input class="wk_elements" type="checkbox" checked name="category[]" value='+ id +'></div>');   
							}
						}else{
							if(newdata[i].counting ==0){
								thisthis.parent(".wk_cat_container").after('<div class="wk_removable wk_cat_container" style="display:none;margin-left:'+pxl+'px;"><span  class="wk_no"></span><span class="wk_foldersign"></span><span class="wk_elements wk_cat_name">'+ nam +'</span><input class="wk_elements" type="checkbox" name="category[]" value='+ id+'></div>');
							}else{
								thisthis.parent(".wk_cat_container").after('<div class="wk_removable wk_cat_container" style="display:none;margin-left:'+pxl+'px;"><span  class="wk_plusend"></span><span class="wk_foldersign"></span><span class="wk_elements wk_cat_name">'+ nam +'</span><input class="wk_elements" type="checkbox" name="category[]" value='+ id +'></div>');   
							}
						}
					}	
					thisthis.parent(".wk_cat_container").nextAll().slideDown(300);
				}
			});			
		}
		if(thisthis.hasClass("wk_minus") || thisthis.hasClass("wk_minusend")){
			if(thisthis.attr("class") == "wk_minus")
				thisthis.attr("class","wk_plus");
			if(thisthis.attr("class") == "wk_minusend")
				thisthis.attr("class","wk_plusend");
			var thiscategory = thisthis.parent(".wk_cat_container");
			var marg= parseInt(thiscategory.css("margin-left").replace("px",""));
			while(thiscategory.next().hasClass("wk_removable")){
			  
			if(parseInt(thiscategory.next().css("margin-left").replace("px",""))>marg)
				thiscategory.next().slideUp("slow",function(){jQuery(this).remove();});
				thiscategory = thiscategory.next();	
				if(typeof thiscategory.next().css("margin-left")!= "undefined"){
					if( marg==thiscategory.next().css("margin-left").replace("px",""))
					{
					  break;
					}
				}
			}
		}		
	});
	jQuery("body").delegate('.nicEdit-main',"blur",function(){
		var x = jQuery(this).text()
		jQuery(this).parent().parent().children('textarea').text(x);		
	});
</script>
<?php
}else{
	echo $helper->__("<h2 class='wk_new_msg'>YOU ARE NOT AUTHORIZE TO EDIT THIS PRODUCT..</h2>");
}
 }else{
	echo $helper->__("<h2 class='wk_new_msg'>FOR BECOME SELLER CONTACT TO ADMIN..</h2>");
}?>
