<?php
	$isPartner= Mage::getModel('marketplace/userprofile')->isPartner();
	$customerid=Mage::getSingleton('customer/session')->getCustomerId();
	$helper=Mage::helper('marketplace');
	if($isPartner==1){
		$rightseller=Mage::getModel('marketplace/userprofile')->isRightSeller($this->getRequest()->getParam('id'));
		if($rightseller){
	?>
<style type="text/css">
.wk_link_title {
    display: inline-block;
}
</style>
<script type="text/javascript">
	if (typeof $wk_jq == 'undefined'){
		document.write(unescape("%3Cscript src='http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js' type='text/javascript'%3E%3C/script%3E"));
	}
</script> 
<script src="//code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
<link rel="stylesheet" href="//code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
<script type="text/javascript">
 //  bkLib.onDomLoaded(function(){
	// new nicEditor({fullPanel : true}).panelInstance('description');
	// new nicEditor({fullPanel : true}).panelInstance('short_description');     
 //  });
</script>
<?php
	$urlid=$this->getRequest()->getParam('id');
	$loadpro =Mage::getModel('catalog/product')->load($urlid);
	$cat=$loadpro->getCategoryIds();
	$instock =  Mage::getModel('cataloginventory/stock_item')->loadByProduct($urlid)->getIsInStock();
	$qtyStock = Mage::getModel('cataloginventory/stock_item')->loadByProduct($urlid)->getQty();				
	$categories = Mage::getModel('catalog/category')->getCollection()->addAttributeToSelect('*')->addIsActiveFilter();
	$allcatid = array();
	$k=0;
	foreach($categories as $c){
		$allcatid[$k] = $c->getId();
		$k++;
	}
	$finalcat=array_shift($allcatid);	
	$partner=Mage::getModel('marketplace/userprofile')->getPartnerProfileById($customerid); ?>
	
	<div class="page-title">
		<h1><?php echo $helper->__('Edit Downloadable Product') ?></h1>
	</div>
	<form action="<?php echo $this->getUrl('marketplace/marketplaceaccount/editapproveddownloadable') ?>" enctype="multipart/form-data" method="post" id="form-customer-product-editPost" onsubmit="return applyimgvalidation();">
		<input type="hidden" name="form_key" value="<?php echo Mage::getSingleton('core/session')->getFormKey(); ?>" />
		<div class="fieldset">
			<input type="hidden" name="productid" value="<?php echo $urlid; ?>" />
			<h4 class="legend"><?php echo $helper->__('Downloadable Product') ?></h4>
			<ul class="form-list" id="wk_bodymain">
				<?php if(($partner['twitterid']=='')||($partner['facebookid']=='')||($partner['bannerpic']=='')||($partner['logopic']=='')||($partner['complocality']=='')||($partner['countrypic']=='')||($partner['compdesi']=='')){?>
					<marquee><h4 class="wk_marquee"><?php echo $helper->__('Please Complete your Profile..')?></h4></marquee>
				<?php } ?>
				<li>
					<label class="required"><em>*</em><?php echo $helper->__('Product Category') ?>:</label>
					<div class="wk_field wk_category">
						<div class="wk_for_validation">
							<div id="wk_category_label"><?php echo $helper->__('CATEGORIES') ?></div>
							<?php $Mar_lef = 0;$count = 0;$categories = $loadpro->getCategoryIds();
							$category_helper = Mage::helper("catalog/category");
							$category_model = Mage::getModel("catalog/category");
							$_categories = $category_helper->getStoreCategories();
							$total = count($_categories->getNodes());
							if($total > 0)	{
								foreach($_categories as $_category)	{
									$count++; ?>
									<?php if(count($category_model->getResource()->getAllChildren($category_model->load($_category['entity_id'])))-1 > 0){
											if($count <= $total) { ?>
											<div class="wk_cat_container"><span class="wk_plus">
											</span><span class="wk_foldersign"></span>
											<span class="wk_elements wk_cat_name"><?php echo $_category->getName() ?></span>
											<?php if(in_array($_category["entity_id"],$categories)) {?>
											<input onchange='catchanged()' class="wk_elements" type="checkbox" name="category[]" value=<?php echo $_category['entity_id'] ?>  checked > </div>
											<?php }
											else { ?>
											<input onchange='catchanged()' class="wk_elements" type="checkbox" name="category[]" value=<?php echo $_category['entity_id'] ?> > </div>
											<?php } ?>
										<?php	} }
										 else 
										     {
										 ?><div class="wk_cat_container">
											</span><span class="wk_foldersign"></span>
											<span class="wk_elements wk_cat_name"><?php echo $_category->getName() ?></span>
											<?php if(in_array($_category["entity_id"],$categories)) {?>
											<input onchange='catchanged()' class="wk_elements" type="checkbox" name="category[]" value=<?php echo $_category['entity_id'] ?> checked > </div>
											 <?php }
											else { ?>
											<input onchange='catchanged()' class="wk_elements" type="checkbox" name="category[]" value=<?php echo $_category['entity_id'] ?>></div>
											<?php } 
									    }
									   }                                  									   
									}								
							     ?> 
						</div>
					</div>
				</li>
				<li>
					<label class="required"><em>*</em><?php echo $helper->__('Product Name') ?>:</label>
					<div class="input-box">
						<input type="name" class="required-entry input-text" name="name" id="name" value="<?php echo $loadpro->getName(); ?>" />
					</div>
				</li>
				<li>
					<label><?php echo $helper->__('Description') ?>:</label>
					<div class="input-box">
						<textarea name="description" id="description" rows="5" cols="75" ><?php echo $loadpro->getDescription(); ?></textarea>
					</div>
				</li>
				<li>
					<label><?php echo $helper->__('Short Description') ?>:</label>
					<div class="input-box">
						<textarea name="short_description" id="short_description" rows="5" cols="75"><?php echo $loadpro->getShortDescription();?></textarea>
					</div>
				</li>
				<?php if($loadpro->getStatus()==1){?>
				<li>
					<label class="required"><em>*</em><?php echo $helper->__('Status') ?>:</label>
					<div class="input-box">
						<input type="radio" class="" name="status" id="status" checked="checked" value="1" /><?php echo $helper->__('Enable') ?><br>
						<input type="radio" class="" name="status" id="status" value="2" /><?php echo $helper->__('Disable') ?>
					</div>
				</li>
				<?php }?>
				<li>
					<label class="required"><em>*</em><?php echo $helper->__('SKU') ?>:</label>
					<div class="input-box">
						<input name="sku" id="sku" class=" required-entry input-text" value="<?php  echo $loadpro->getsku(); ?>"/> 
					</div>
					<div id="skuavail" >
						<span class="success-msg skuavailable"><?php echo $helper->__('SKU Available') ?></span>
					</div>
					<div id="skunotavail" >
						<span class="error-msg skunotavailable"><?php echo $helper->__('SKU Already Exist') ?></span>
					</div>
				</li>
				<li>
					<label class="required"><em>*</em><?php echo $helper->__('Price') ?><b><?php $currency_code = Mage::app()->getStore()->getCurrentCurrencyCode(); echo  " (". Mage::app()->getLocale()->currency( $currency_code )->getSymbol().")"; ?></b>:</label>
					<div class="input-box">
						<input type="price" class="required-entry validate-zero-or-greater input-text" name="price" id="price" value="<?php

						$baseCurrencyCode = Mage::app()->getStore()->getBaseCurrencyCode();
						$currentCurrencyCode = Mage::app()->getStore()->getCurrentCurrencyCode();
						$price = Mage::helper('directory')->currencyConvert($loadpro->getPrice(), $baseCurrencyCode, $currentCurrencyCode);
						  echo number_format($price, 2, '.', ''); ?>" />
					</div>
				</li>
<!-- 				<li>
					<label class="required"><?php echo $helper->__('Special Price') ?><b><?php $currency_code = Mage::app()->getStore()->getCurrentCurrencyCode(); echo  " (". Mage::app()->getLocale()->currency( $currency_code )->getSymbol().")"; ?></b>:</label>
					<div class="input-box">
						<input type="special_price" class="widthinput input-text" name="special_price" id="special_price" value="<?php
                        if($loadpro->getSpecialPrice()!='')
                        {
						$baseCurrencyCode = Mage::app()->getStore()->getBaseCurrencyCode();
						$currentCurrencyCode = Mage::app()->getStore()->getCurrentCurrencyCode();
						$special_price = Mage::helper('directory')->currencyConvert($loadpro->getSpecialPrice(), $baseCurrencyCode, $currentCurrencyCode);
						  echo number_format($special_price, 2, '.', ''); 
						}
						else
						{
						  echo $loadpro->getSpecialPrice();
						}   
						  ?>"/>
					</div>
				</li>
				<li>
					<label class="required"><?php echo $helper->__('Special Price From') ?>:</label>
					<div class="input-box">
						<input name="special_from_date" id="special_from_date" class="input-text" value="<?php echo $loadpro->getData('special_from_date'); ?>" />
					</div>
				</li>
				<li>
					<label class="required"><?php echo $helper->__('Special Price To') ?>:</label>
					<div class="input-box">
						<input name="special_to_date" id="special_to_date" class="input-text" value="<?php echo $loadpro->getData('special_to_date'); ?>"/>
					</div>
				</li> -->
<!-- 				<li>
					<label class="required"><em>*</em><?php echo $helper->__('Stock Availability') ?>:</label>
					<div class="input-box">
						<select id="inventory_stock_availability" class="select" name="is_in_stock">
							<option <?php if($instock==1)echo "selected"; ?> value="1"><?php echo $helper->__('In Stock'); ?></option>
							<option <?php if($instock==0)echo "selected"; ?> value="0"><?php echo $helper->__('Out of Stock'); ?></option>
						</select>
					</div>
				</li>
				<li>
					<label class="required"><em>*</em><?php echo $helper->__('Tax Class') ?>:</label>
					<div class="input-box">
						<select id="tax_class_id" class=" required-entry required-entry select" name="tax_class_id">
							<option value="0"><?php echo $helper->__('None')?></option>
							<?php
								$taxid=$loadpro->getData('tax_class_id');
								$taxes=Mage::getModel('tax/class')->getCollection()
											->addFieldToFilter('class_type',array('eq'=>'PRODUCT'));
								foreach($taxes as $tax){
							?>
							<option <?php echo $taxid==$tax->getId()? 'selected':''; ?> value="<?php echo $tax->getId() ?>"><?php echo $tax->getClassName()?></option>
							<?php } ?>
						</select>
					</div>
				</li> -->
				<li>
					<label><?php echo $helper->__('Sample Image') ?>:</label>
					<div class="input-box" style="width:380px;">
						<input type='file' name='images[]' class="wk_imagevalidate" accept="image/*"/><input type="radio" value='' class='defaultimage' onchange='defaultimagevalue(this)' name="defaultimage"><span class='defaultimageset'><?php echo $helper->__('Thumbnail'); ?></span>
						<br>
						<!-- <a class="wk_add_image" href='#' onClick='showOtherImage(); return false;'><?php echo $helper->__("Add Other Image");?></a><br/> -->
						<!-- <div id='otherimages'></div> -->
						<div class="image_set">
							<?php $_product = Mage::getModel('catalog/product')->load($loadpro->getId())->getMediaGalleryImages();
							$_productimage = Mage::getModel('catalog/product')->load($loadpro->getId())->getImage();
							 if($_product) {  ?>
								<?php $i=0;
								  foreach($_product as $_image) { 
								  $check=$_productimage==$_image->getFile()?"checked='checked'":'';
								  $i++; 
								  ?>
								  <div class="setimage">
									  <img id="<?php echo $_image->getFile(); ?>" pid="<?php echo $loadpro->getId(); ?>" src="<?=$this->helper('catalog/image')->init($_product, 'thumbnail',$_image->getFile())->resize(200, 130); ?>" width="50" height="50" alt="<?=$this->htmlEscape($_image->getLabel());?>" title="<?=$this->htmlEscape($_image->getLabel()); ?>" />
									  <span class="wk_imagedelete" title="Delete"><?php echo $helper->__('X') ?></span><br><input type="radio" name="defaultimage" <?php echo  $check ?> class='defaultimage' value='<?php echo $_image->getValueId(); ?>'><div class='defaultimageset'><?php echo $helper->__('Thumbnail'); ?></div>
								  </div>
							   <?php  } 
							   } ?>
						</div>
					</div>
				</li>
				<li>
					<label><?php echo $helper->__('Downloadable Product') ?>:</label>
					<div class="wk_cp_links_topbody">
						<div id="wk_cp_links">
							<span><?php echo $helper->__('Links'); ?></span>
						</div>
						<div id="wk_cp_links_container">
							<table cellspacing="0">
							    <tbody>
							        <tr>
							            <td class="wk_cp_link_label"><label for="name"><?php echo $helper->__('Title :'); ?></label></td>
							            <td class="wk_cp_link_value">
							                <input type="text" name="links_title" class="input-text" value="<?php echo $loadpro->getLinksTitle();?>">
											<input type="hidden" name="wk_link_ids" class="wk_link_ids">
							            </td>
							        </tr>
							    </tbody>
						    </table>
						    <table cellspacing="0">
							    <tbody>
							        <tr>
							            <td class="wk_cp_link_label"><label for="name"><?php echo $helper->__('Links can be purchased separately :'); ?></label></td>
							            <td class="wk_cp_link_value">
						                    <select name="links_purchased_separately" class="links_pur_seperately">
												<?php if($loadpro->getLinksPurchasedSeparately()==1){ ?>
						                    	<option value="1" selected><?php echo $helper->__('Yes') ?></option>
												<option value="0"><?php echo $helper->__('No') ?></option>
												<?php }
												else if($loadpro->getLinksPurchasedSeparately()==0){ ?>
						                    	<option value="0" selected><?php echo $helper->__('No') ?></option>
												<option value="1"><?php echo $helper->__('Yes') ?></option>
												<?php } ?>
						                    </select> 
	                                   </td>
							        </tr>
							    </tbody>									
							</table>									
							<div class="grid">
								<div class="hor-scroll">
									<table cellspacing="0" class="data border" id="wk_cp_link_table">
									    <colgroup>
										    <col width="15%">
										    <col width="15%">
										    <col width="1%">
										    <col width="15%">
										    <col width="15%">
										    <col width="1%">
									    </colgroup>
									    <thead>
									        <tr id="wk_cp_tr_heading">
									            <th><?php echo $helper->__('Title') ?><span class="required">*</span></th>
						                        <th><?php echo $helper->__('Price') ?></th>
						                        <th><span class="nobr"><?php echo $helper->__('Max. Downloads') ?></span></th>
									            <th><?php echo $helper->__('Sample') ?></th>
									            <th><?php echo $helper->__('File') ?></th>
									            <th>&nbsp;</th>
									        </tr>
									    </thead>
										<?php $i=0;
										$productlinks = Mage::getModel('downloadable/product_type')->getLinks($loadpro);		
										foreach ( $productlinks as $productlink ){
											?>
											<tbody class="wk_cp_link_body">
												<tr>
													<td>
														<input type="text" name="link[<?php echo $i;?>][title]" class="wk_cp_link_title required-entry" value="<?php echo $productlink->getTitle(); ?>">
														<input type="hidden" value="<?php echo $productlink->getLinkId();?>" name="link[<?php echo $i;?>][wk_link_id]" class="wk_link_id">
													</td>
													<td class="input-price">
														<input type="text" name="link[<?php echo $i;?>][price]" class="wk_cp_link_price" value="<?php echo number_format($productlink->getPrice(), 2, '.', ''); ?>" <?php if($loadpro->getLinksPurchasedSeparately()==0){ echo "disabled=''"; } ?>/>
														<label><?php echo "[".Mage::app()->getStore()->getCurrentCurrencyCode()."]"; ?></label>
													</td>
													<td>
														<?php if($productlink->getNumberOfDownloads()==0){ ?>
															<input type="text" class="wk_cp_link_download" name="link[<?php echo $i;?>][n_of_d]" value="<?php echo $productlink->getNumberOfDownloads(); ?>" disabled=""/>
															<input type="checkbox" value="1" name="link[<?php echo $i;?>][is_unlimited]" checked />
														<?php } else{ ?>
															<input type="text" class="wk_cp_link_download" name="link[<?php echo $i;?>][n_of_d]" value="<?php echo $productlink->getNumberOfDownloads(); ?>"/>
															<input type="checkbox" value="1" name="link[<?php echo $i;?>][is_unlimited]" />
														<?php } ?>
														<label><?php echo $helper->__('Unlimited') ?></label>
													</td>
													<td>
														<label class="wk_cp_label"><?php echo $helper->__('Upload') ?></label>
														<input type="file" name="sample[]" class="wk_sample" id="wk_sample<?php echo $i;?>" style="display:none;"/>
														<?php if($productlink->getSampleFile()!=''){
															$samplename=explode('/',$productlink->getSampleFile());
															$ext=explode('.',$samplename[1]); ?>
															<span title="<?php echo $productlink->getSampleFile() ;?>" class="wk_sample_title"><?php echo substr($samplename[1],0,4)."....".$ext[1]; ?></span>
														<?php } ?>
													</td>
													<td>
														<label class="wk_cp_label"><?php echo $helper->__('Upload') ?></label>									
														<?php
														if($productlink->getLinkType()=='file'){
															if($productlink->getLinkFile()){
																$linkname=explode('/',$productlink->getLinkFile());
																$ext=explode('.',$linkname[1]); ?>
																<input type="file" name="wk_link[]" class="wk_link required-entry" id="wk_link<?php echo $i;?>"  style="display:none;" value="<?php echo $linkname[1]?>"/>
																<span title="<?php echo $productlink->getLinkFile(); ?>" class="wk_link_title"><?php echo substr($linkname[1],0,4)."....".$ext[1]; ?></span>
															<?php
															}
														}else if($productlink->getLinkType()=='url'){
															if($productlink->getLinkUrl()){
																$linkname=explode('amazonaws.com/',$productlink->getLinkUrl());
																$ext=explode('.',$linkname[1]); ?>
																<input type="file" name="wk_link[]" class="wk_link required-entry" id="wk_link<?php echo $i;?>"  style="display:none;" value="<?php echo $linkname[1]?>"/>
																<span title="<?php echo $linkname[1]?>" class="wk_link_title"><?php echo substr($linkname[1],0,4)."....".$ext[1]; ?></span>
															<?php 
															}
														}
														?>
													</td>
													<td>
														<span class="wk_cp_link_delete" onclick="delinkrow(this,'<?php echo $productlink->getLinkId()?>');"></span>
													</td>
												</tr>
											</tbody>
										<?php $i++; } ?>
									    <tfoot>
									        <tr>
									            <td class="a-right" colspan="8">
<!-- 									            	<button class="wk_cp_add_btn button" type="button" title="Add New Row">
							            				<span><?php echo $helper->__('Add New Row') ?></span>
									            	</button> -->
									            </td>
									        </tr>
									    </tfoot>											    
									</table>
								</div>
							</div>
						</div>
					</div>						
				</li>
				<?php echo $this->getChildHtml();?>
			</ul>
		</div>
		<div class="buttons-set">
			<p class="required">* <?php echo $helper->__('Required Fields') ?></p>
			<button class="button" title="Save" type="submit" id="save_butn">
				<span><span><?php echo $helper->__('Save') ?></span></span>
			</button>
			<p class="back-link">
				<a href="javascript:;" onclick="javascript: window.history.back();" class="left">&laquo; <?php echo $helper->__('Back') ?></a>
			</p>
		</div>
	</form>
	<?php
				$sample_allow_extensions = Mage::getStoreConfig('marketplace/marketplace_options/samplefiletype',Mage::app()->getStore()->getId());
				$sample_allow_extension = explode(',',$sample_allow_extensions);
				$sample_extensions = array();
				$sample_extensions_notify = array();
				foreach ($sample_allow_extension as $value) {
					array_push($sample_extensions, '"'.trim($value).'"');
					array_push($sample_extensions_notify, '*.'.trim($value));					
				}
				$supported_samples = implode(',', $sample_extensions);
				$supported_samples_notify = implode(',', $sample_extensions_notify);
				$link_allow_extensions = Mage::getStoreConfig('marketplace/marketplace_options/downloadfiletype',Mage::app()->getStore()->getId());
				$link_allow_extension = explode(',',$link_allow_extensions);
				$link_extensions = array();
				$link_extensions_notify = array();
				foreach ($link_allow_extension as $value) {
					array_push($link_extensions, '"'.trim($value).'"');
					array_push($link_extensions_notify, '*.'.trim($value));					
				}
				$supported_links = implode(',', $link_extensions);
				$supported_links_notify = implode(',', $link_extensions_notify);				
				?>
<script> 
var $wk_jq=jQuery.noConflict();
(function($wk_jq){
	var deletelinkspancount = $wk_jq('.wk_cp_link_body').length;
	if(deletelinkspancount==1){
		$wk_jq('.wk_cp_link_delete').parent('td').remove();
	}
	var newCustomerProductForm = new VarienForm('form-customer-product-editPost', true);
	var count_of_link_row = <?php echo $i;?>;
	var edit_form = new VarienForm("edit_form", true);			
	$wk_jq(".wk_cp_add_btn").click(function(){
		$wk_jq("#wk_cp_link_table").append("<tbody class='wk_cp_link_body'><tr><td><input type='text' name='link["+count_of_link_row+"][title]' class='wk_cp_link_title required-entry'></td><td class='input-price'><input type='text' name='link["+count_of_link_row+"][price]' class='wk_cp_link_price'/><label>[<?php echo Mage::app()->getStore()->getCurrentCurrencyCode(); ?>]</label></td><td><input type='text' class='wk_cp_link_download' name='link["+count_of_link_row+"][n_of_d]'/><input type='checkbox' value='1' name='link["+count_of_link_row+"][is_unlimited]'/><label><?php echo $helper->__(' Unlimited '); ?></label></td><td><label class='wk_cp_label'><?php echo $helper->__(' Upload '); ?></label><input type='file' name='sample[]' class='wk_sample' id='wk_sample"+count_of_link_row+"' style='display:none;'/><span class='wk_sample_title'></span></td><td><label class='wk_cp_label'><?php echo $helper->__(' Upload '); ?></label><input type='file' name='wk_link[]' class='wk_link' id='wk_link"+count_of_link_row+"'  style='display:none;'/><span class='wk_link_title'><?php echo $helper->__(' No File Choosen ') ?></span></td><td><span class='wk_cp_link_delete' onclick='delinkrow(this);'></span></td></tr></tbody>");
		count_of_link_row++;
		if($wk_jq('.links_pur_seperately').val()==0)
			$wk_jq('.wk_cp_link_price').attr('disabled','');	
		else
			$wk_jq('.wk_cp_link_price').removeAttr('disabled');
	});

	$wk_jq( "body" ).delegate( ".wk_sample", "change", function() {
		var val=$wk_jq(this).val();
		var value=val.split(".");
		var extension=value[1];
		var extensions = [<?php echo $supported_samples;?>];
		if (extensions.indexOf(extension) < 0){
			alert('File type not allowed,\nAllowed file: <?php echo $supported_samples_notify;?>');
			$wk_jq(this).val('');
		}
		else{
			var n = val.substr(0,4);
			var ext=val.split('.');
			var samplename=n+"..."+ext[1];
			$wk_jq(this).next('.wk_sample_title').text(samplename);
			$wk_jq(this).next('.wk_sample_title').attr('title',val);
		}
	});
	
	
	 $wk_jq('.input-text').change(function(){
	 var validt = $wk_jq(this).val();
	 var regex = /(<([^>]+)>)/ig;
     var mainvald = validt .replace(regex, "");
     $wk_jq(this).val(mainvald);	
     });
	
	jQuery(document).on('click','.wk_cp_label',function(){
		
		jQuery(this).next().trigger('click');
		
	});
	
	$wk_jq( "body" ).delegate( ".wk_link", "change", function() {
		var val=$wk_jq(this).val();
		var value=val.split(".");
		var extension=value[1];
		var extensions = [<?php echo $supported_links;?>];
		if (extensions.indexOf(extension) < 0){
			alert('File type not allowed,\nAllowed file: <?php echo $supported_links_notify;?>');
			$wk_jq(this).val('');
		}
		else{
			var n = val.substr(0,4);
			var ext=val.split('.');
			var linkname=n+"..."+ext[1];
			$wk_jq(this).parent().find('.wk_link_title').text(linkname);
			$wk_jq(this).parent().find('.wk_link_title').attr('title',val);
		}
	});
	
	$wk_jq( "body" ).delegate( ".links_pur_seperately", "change", function() {
		if($wk_jq(this).val()==0)
			$wk_jq('.wk_cp_link_price').attr('disabled','');
		else
			$wk_jq('.wk_cp_link_price').removeAttr('disabled');
	});
	
	$wk_jq( "body" ).delegate("input[type='checkbox']", "click", function() {
		if($wk_jq(this).is(':checked')==true)
			$wk_jq(this).prev('.wk_cp_link_download').attr('disabled','');
		else
			$wk_jq('.wk_cp_link_download').removeAttr('disabled');
	});
	$wk_jq( "#special_from_date" ).datepicker({'dateFormat':'yy:mm:dd'});
	$wk_jq( "#special_to_date" ).datepicker({'dateFormat':'yy:mm:dd'});
	$wk_jq('#save_butn').click(function(){
		if(newCustomerProductForm.validator.validate()!=false){
			
			var descrip = nicEditors.findEditor( "description" ).getContent();
		    var sdescrip = nicEditors.findEditor( "short_description" ).getContent();
			var regex = /(&lt([^>]+)&gt)/ig;
            var result = descrip .replace(regex, "");
            nicEditors.findEditor( "description" ).setContent(result);
            
		    var sresult = sdescrip .replace(regex, "");
		    nicEditors.findEditor( "short_description" ).setContent(sresult);
		    jQuery('#description').text(result);
		     jQuery('#short_description').text(sresult);
			
			$wk_jq('#save_butn span span').text('Saving..');				
			$wk_jq('.button').css('opacity','0.7');
			$wk_jq('.button').css('cursor','default');
			$wk_jq('.button').attr('disabled','disabled');
			jQuery('#form-customer-product-editPost').submit();
		}			
	});
	$wk_jq(function(){
		$wk_jq('input#sku').change(function(){
			var len=$wk_jq('input#sku').val();
			var len2=len.length;
			if(len2==0){
				alert("<?php echo $helper->__(' SKU can\'t be left empty ') ?>");
				$wk_jq('div#skuavail').css('display','none');
				$wk_jq('div#skunotavail').css('display','none');
			}
			else{
				$wk_jq.ajax({
					url: "<?php echo Mage::getUrl('marketplace/marketplaceaccount/verifysku');?>",
					type: "POST",
					data: {sku:$wk_jq('input#sku').val()},
					dataType: 'html',
					success:function($data){
						$data=JSON.parse($data);
						if($data.avl==1){
							$wk_jq('div#skuavail').css('display','block');
							$wk_jq('div#skunotavail').css('display','none');
						}
						else{
							$wk_jq('div#skunotavail').css('display','block');
							$wk_jq('div#skuavail').css('display','none');
							$wk_jq("input#sku").attr('value','');
						}
					}
				});
			}
		});
	
		$wk_jq('.image_set span').click(function(event){
			var dicisionapp=confirm('Sure Want To Delete Image');
			if(dicisionapp==true){
				var imag = $wk_jq(this).prev('img').attr('id');
				$wk_jq.ajax({
					url: "<?php echo $this->getUrl('marketplace/marketplaceaccount/deleteimage');?>",
					type: "POST",
					data: {file:$wk_jq(this).prev('img').attr('id'),pid:$wk_jq(this).prev('img').attr('pid')},
					dataType: 'html',
					success:function(content){
						$wk_jq(this).parent('div').remove();
					}
				});
				$wk_jq(this).parent('div').remove();
			}		
		});
		$wk_jq('.image_set img').mouseover(function(event){
			$wk_jq(event.target).parent('div').find('span').css({display:'block'});
			$wk_jq(event.target).parent('div').find('img').css('opacity','0.4');
		});
		$wk_jq('.image_set img').mouseout(function(event){
			$wk_jq(event.target).parent('div').find('span').css({display:'none'});
			$wk_jq(event.target).parent('div').find('img').css('opacity','1');
		});

		$wk_jq('.image_set span').mouseover(function(event){
			$wk_jq(event.target).parent('div').find('span').css({display:'block'});
			$wk_jq(event.target).parent('div').find('img').css('opacity','0.4');
		});
		$wk_jq('.image_set span').mouseout(function(event){
			$wk_jq(event.target).parent('div').find('span').css({display:'none'});
			$wk_jq(event.target).parent('div').find('img').css('opacity','1');
		});
	})
})($wk_jq);
</script>	

<script type="text/javascript">
	function applyimgvalidation(){		     
	    var imageobj = jQuery('.wk_link');
	    var flag = 1;
	    imageobj.each(function() {
	    	//var imageobjval = jQuery(this).val();
	    	var imageobjval = jQuery(this).parent().find('.wk_link_title').text();
	    	var id = jQuery(this).attr('id');
		    jQuery(this).parent().find('label').removeClass('validation-failed');
		    jQuery('#advice-validate-'+id).remove();
		    if(imageobjval=="<?php echo $helper->__(' No File Choosen ') ?>"){
		    	flag = 0;
		        jQuery(this).parent().find('label').addClass('validation-failed');                    
		        jQuery('<div id="advice-validate-'+id+'" class="validation-advice" style="">This is an required field.</div>').insertAfter('#'+id);	        
		    }else{
		    	flag = 1;
		    }
		});
		if(flag == 0)
			return false;
	}
	var i=2;
	function showOtherImage() {
		var newdiv = document.createElement('div');
		newdiv.setAttribute("id","childDiv"+i);
		newdiv.innerHTML = "<input type='file' accept='image/\*' class='wk_imagevalidate' name='images[]' /><input type='radio'  onClick='defaultimagevalue(this)'  value=''  class='defaultimage' name='defaultimage'><span class='defaultimageset'>Base image</span><a href=\"javascript:;\" onclick=\"removeEvent('childDiv"+i+"')\"><?php echo $helper->__(' Remove ') ?></a>";
		var ni = document.getElementById('otherimages');
		ni.appendChild(newdiv);
		i++;
	}

	function defaultimagevalue(object){
		var strs=jQuery(object).prev('input').val().split('\\'); 
	    jQuery(object).val(strs[strs.length-1]);
	}

	function delinkrow(this_this,id){
		var deletelinkspancount = jQuery('.wk_cp_link_body').length;
		if(deletelinkspancount==1){
			jQuery('.wk_cp_link_delete').parent('td').remove();
		}else{
			var link_id_val=jQuery(this_this).parents(".wk_cp_link_body").find('.wk_link_id').val();
			var links=jQuery('.wk_link_ids').val();
			var tot_link=link_id_val+","+links;
			jQuery('.wk_link_ids').val(tot_link);
			$wk_jq.ajax({
				url: "<?php echo $this->getUrl('marketplace/marketplaceaccount/deletelink');?>",
				type: "POST",
				data: {
					id:id,
				},
				dataType: 'html',
				success:function(content){
					$wk_jq(this).parent('div').remove();
				}
			});
			jQuery(this_this).parents(".wk_cp_link_body").remove();
		}
	}
	jQuery("body").delegate('.wk_imagevalidate',"change",function(){
		var ext = jQuery(this).val().split('.').pop().toLowerCase();
		if(jQuery.inArray(ext, ['gif','png','jpg','jpeg']) == -1) {
			jQuery(this).val('');
		    alert('invalid extension! Please Upload an image.');
		}
	});
	function removeEvent(divNum){
		var d = document.getElementById('otherimages');
		var olddiv = document.getElementById(divNum);
		d.removeChild(olddiv);
		i--;
	}
	function catchanged(){
		jQuery("#wk_cp_cat_edited").val(1);
	}
	
	jQuery("#wk_bodymain").delegate('.wk_plus ,.wk_plusend,.wk_minus, .wk_minusend ',"click",function(){
		var thisthis=jQuery(this);	
		if(thisthis.hasClass("wk_plus") || thisthis.hasClass("wk_plusend")){
			if(thisthis.hasClass("wk_plus"))
				thisthis.removeClass('wk_plus').addClass('wk_plus_click');
			if(thisthis.hasClass("wk_plusend"))
				thisthis.removeClass('wk_plusend').addClass('wk_plusend_click');
			thisthis.prepend("<span class='wk_node_loader'></span>");
			
			jQuery.ajax({
				url  	:   "<?php echo $this->getUrl('marketplace/marketplaceaccount/categorytree/');?>",
				type 	:   "POST",
				data 	:   {CID:thisthis.siblings("input").val(),
							ML:thisthis.parent(".wk_cat_container").css("margin-left").replace("px",""),
							CATS : 	"<?php echo implode(',',$categories); ?>"},
				dataType:   "html",
				success :   function(content){
				console.log(content);
				var newdata=  jQuery.parseJSON(content);
				console.log(newdata);
				len= newdata.length;
				var pxl= parseInt(thisthis.parent(".wk_cat_container").css("margin-left").replace("px",""))+20;
								thisthis.find(".wk_node_loader").remove();
								if(thisthis.attr("class") == "wk_plus")
									thisthis.attr("class","wk_minus");
								if(thisthis.attr("class") == "wk_plusend")
									thisthis.attr("class","wk_minusend");
								if(thisthis.attr("class") == "wk_plus_click")
									thisthis.attr("class","wk_minus");
								if(thisthis.attr("class") == "wk_plusend_click")
									thisthis.attr("class","wk_minusend");
							     	for(i=0;i<len; i++)
			                     	{     
									 id=newdata[i].id;
				                     checkn=newdata[i].check;
									
									 nam=newdata[i].name;
									 if(checkn==1)
                                     {	
                                     								 
									 if(newdata[i].counting ==0)
									  {
							         thisthis.parent(".wk_cat_container").after('<div class="wk_removable wk_cat_container" style="display:none;margin-left:'+pxl+'px;"><span  class="wk_no"></span><span class="wk_foldersign"></span><span class="wk_elements wk_cat_name">'+ nam +'</span><input class="wk_elements" type="checkbox" checked name="category[]" value='+ id+' </div>');
									  }
									  else
									  {
									 thisthis.parent(".wk_cat_container").after('<div class="wk_removable wk_cat_container" style="display:none;margin-left:'+pxl+'px;"><span  class="wk_plusend"></span><span class="wk_foldersign"></span><span class="wk_elements wk_cat_name">'+ nam +'</span><input class="wk_elements" type="checkbox" checked name="category[]" value='+ id +'></div>');   
									  }
									 }
									 else
									 {
									 
									  if(newdata[i].counting ==0)
									  {
							         thisthis.parent(".wk_cat_container").after('<div class="wk_removable wk_cat_container" style="display:none;margin-left:'+pxl+'px;"><span  class="wk_no"></span><span class="wk_foldersign"></span><span class="wk_elements wk_cat_name">'+ nam +'</span><input class="wk_elements" type="checkbox" name="category[]" value='+ id+'></div>');
									  }
									  else
									  {
									 thisthis.parent(".wk_cat_container").after('<div class="wk_removable wk_cat_container" style="display:none;margin-left:'+pxl+'px;"><span  class="wk_plusend"></span><span class="wk_foldersign"></span><span class="wk_elements wk_cat_name">'+ nam +'</span><input class="wk_elements" type="checkbox" name="category[]" value='+ id +'></div>');   
									  }
									 }
				                    }	
								thisthis.parent(".wk_cat_container").nextAll().slideDown(300);
							}
			});			
		}
		if(thisthis.hasClass("wk_minus") || thisthis.hasClass("wk_minusend")){
			if(thisthis.attr("class") == "wk_minus")
				thisthis.attr("class","wk_plus");
			if(thisthis.attr("class") == "wk_minusend")
				thisthis.attr("class","wk_plusend");
			var thiscategory = thisthis.parent(".wk_cat_container");
			var marg= parseInt(thiscategory.css("margin-left").replace("px",""));
			while(thiscategory.next().hasClass("wk_removable")){
			  
			if(parseInt(thiscategory.next().css("margin-left").replace("px",""))>marg)
				thiscategory.next().slideUp("slow",function(){jQuery(this).remove();});
				thiscategory = thiscategory.next();	
				if(typeof thiscategory.next().css("margin-left")!= "undefined"){
					if( marg==thiscategory.next().css("margin-left").replace("px",""))
					{
					  break;
					}
				}
			}
		}
		
	});
	jQuery("body").delegate('.nicEdit-main',"blur",function(){
		var x = jQuery(this).text()
		jQuery(this).parent().parent().children('textarea').text(x);		
	});	
</script>
<?php
}else{
	echo $helper->__("<h2 class='wk_new_msgwk_new_msg'>YOU ARE NOT AUTHORIZE TO EDIT THIS PRODUCT..</h2>");
}
 }else{
	echo $helper->__("<h2 class='wk_new_msg'>FOR BECOME SELLER CONTACT TO ADMIN..</h2>");
}?>
