<?php
$isPartner= Mage::getModel('marketplace/userprofile')->isPartner();
$helper=Mage::helper('marketplace');
if($isPartner==1){ ?>
<!--
<script src="<?php echo $this->getSkinUrl('marketplace/js/jquery.min.js'); ?>" type="text/javascript"></script>
<script src="<?php echo $this->getSkinUrl('marketplace/js/jquery.jqplot.min.js'); ?>" type="text/javascript"></script>
<script src="<?php echo $this->getSkinUrl('marketplace/js/jqplot.logAxisRenderer.min.js'); ?>" type="text/javascript"></script>
<script src="<?php echo $this->getSkinUrl('marketplace/js/jqplot.canvasTextRenderer.min.js'); ?>" type="text/javascript"></script>
<script src="<?php echo $this->getSkinUrl('marketplace/js/jqplot.canvasAxisTickRenderer.min.js'); ?>" type="text/javascript"></script>
<script src="<?php echo $this->getSkinUrl('marketplace/js/jqplot.dateAxisRenderer.min.js'); ?>" type="text/javascript"></script>
-->
<?php		
$readresult=Mage::getModel('marketplace/saleslist')->getOrderdetails();
$getDateDetail = Mage::getModel('marketplace/saleslist')->getDateDetail();
$cur_symbol=Mage::app()->getLocale()->currency(Mage::app()->getStore()->getCurrentCurrencyCode())->getSymbol();

// get the customer messages from model
$customerid = Mage::getSingleton("customer/session")->getCustomerId();

$collection = Mage::getModel("mpsellerbuyercomm/sellerbuyercomm")->getCollection()
->addFieldToFilter('admintype',array('eq'=>'1'))
->addFieldToFilter('sellerid',array('eq'=>$customerid))
->setOrder('created_at', 'DES');


$prefix = Mage::getConfig()->getTablePrefix();
// $collection->getSelect()
//     ->join(array("ccp" => $prefix."wk_mpsellerbuyercomm_conversation"),"ccp.commid = main_table.id");

$fnameid = Mage::getModel("eav/entity_attribute")->loadByCode("1", "firstname")->getAttributeId();
$lnameid = Mage::getModel("eav/entity_attribute")->loadByCode("1", "lastname")->getAttributeId();

$collection->getSelect()
->join(array("ce3" => "customer_entity_varchar"),"ce3.entity_id = main_table.sellerid",array("fname" => "value"))->where("ce3.attribute_id = ".$fnameid)
->join(array("ce4" => "customer_entity_varchar"),"ce4.entity_id = main_table.sellerid",array("lname" => "value"))->where("ce4.attribute_id = ".$lnameid)
->columns(new Zend_Db_Expr("CONCAT(`ce3`.`value`, ' ',`ce4`.`value`) AS sellername"));
$collection->addFilterToMap("sellername","CONCAT(`ce3`.`value`, ' ',`ce4`.`value`)");

$totalcount = count($collection);

$totalvote = 0;
$votecollection = Mage::getModel("productvote/productvote")->getCollection();
$votecollection->addFieldToFilter("product_artist", $customerid);
$votecollection->addFieldToSelect('product_vote');
$votecollection->addFieldToSelect('product_xahoi');
foreach($votecollection as $vote) {
	$totalvote += $vote->getProductVote();
	$totalvote += $vote->getProductXahoi();
    //echo $totalcount;
}

// set $to and $from to an empty string to disable time range filtering
// $from = '2012-01-01';
// $to = now();
// $productIds = array();
// $productsbyseller = Mage::getModel("marketplace/product")->getCollection()->addFieldToFilter("userid", $customerid)->addFieldToSelect('mageproductid');
// foreach($productsbyseller as $p) {}
// 	array_push($productIds, $p->getMageproductid());
// }

// $totalviewed = 0;
// $reports = Mage::getResourceModel('reports/product_collection')
//     ->addViewsCount($from, $to)
//     ->addFieldToFilter('entity_id', $productIds);
// foreach($reports as $viewedproduct) {
// 	$totalviewed += $viewedproduct->getData('views');
// }
$totalviewed = 0;
$productsbyseller = Mage::getModel("marketplace/product")->getCollection()->addFieldToFilter("userid", $customerid)->addFieldToSelect('hitcount');
foreach($productsbyseller as $p) {
	$totalviewed += $p->getHitcount();
}
?>
<!-- <div class="page-title">
	<h1><?php echo $helper->__('My Dashboard') ?></h1>
</div> -->
<!-- <button class="askque button"><span><span><?php echo $helper->__('Ask Question to Admin') ?></span></span></button>	 -->

	<div class="sidebar">
		<div class="block wallet">
			<div class="block-title">
				<strong><span>WALLET</span></strong>
			</div>
			<div class="block-content">
				<div class="box box-orders">
					<p class="number"><?php echo  Mage::helper('core')->currency($getDateDetail['day'], true, false)?></p>
					<p class="desc">orders to date</p>
				</div>
				<div class="box box-earned">
					<p class="number"><?php echo Mage::helper('core')->currency($getDateDetail['week'], true, false); ?></p>
					<p class="desc">earned</p>
					<p class="month">this week</p>
				</div>
				<div class="box box-purchases">
					<p class="number"><?php echo Mage::helper('core')->currency($getDateDetail['month'], true, false); ?></p>
					<p class="desc">earned</p>
					<p class="month">this month</p>
				</div>
				<div class="box box-paypal">
					<a>connect paypal</a>
				</div>
			</div>
		</div>
		<div class="block stats">
			<div class="block-title">
				<strong><span>STATS</span></strong>
			</div>
			<div class="block-content">
				<div class="box box-profileviews">
					<p class="number"><?php echo $totalviewed ?></p>
					<p class="desc">profile views</p>
				</div>
				<div class="box box-favorites">
					<p class="number"><?php echo $totalvote ?></p>
					<p class="desc">favorites</p>
				</div>
			</div>
		</div>
	</div>
	<div class="msg-content">
		<div class="page-title">
			<h1>Messages</h1>
		</div>
		<div class="messages-list">
			<?php  
			$count = 1;
			if($totalcount > 0 ){
				foreach ($collection as $row) { 
					// var_dump($row);
					if($count >= 6) break; // only show latest 5 messages;
					$count ++;

					$id = $row->getId();
					$subject = Mage::getModel("mpsellerbuyercomm/sellerbuyercomm")->load($id)->getSubject();
					?>
					<div class="message-item">

						<p class="message-subject">
							<?php echo $row->getSubject();
								if($row->getProductid()){
									$product = Mage::getModel('catalog/product')->load($row->getProductid());?>
									<a href="<?php echo $this->getUrl($product->getUrlPath())?>" title="<?php echo $product->getName()?>"> - <?php echo $product->getName()?></a>
							<?php } ?>
						</p>
						<p class="message-time"><?php $date = date_create($row->getCreatedAt());echo date_format($date, "Y/m/d H:i:s");?></p>
						<div class="message-accord"> 
							<div class="message-view"><a href="#">view</a></div>

							<div class="message-content">
								<?php 
								$collection = Mage::getModel("mpsellerbuyercomm/conversation")->getCollection()->addFieldToFilter("commid",$id);
								foreach ($collection as $coll) {		
								?>
									<div class="wk_sbcom_onereply">
										<span class="wk_sbcom_onereply_head <?php if($coll->getSendertype() == 0) echo "wk_sbcom_onereply_customer"; else if($coll->getSendertype() == 2) echo "wk_sbcom_onereply_admin"; ?>">
											<span class="wk_sbcom_onereply_head_left"><?php echo date("d/M/Y H:i:s",$coll->getCreatedAt()); ?></span>
											<span class="wk_sbcom_onereply_head_right">
												<?php 
												if($coll->getSendertype() == 0) 
													echo Mage::helper("mpsellerbuyercomm")->__("Customer: ").$coll->getSender();
												else if($coll->getSendertype() == 1) 
													echo Mage::helper("mpsellerbuyercomm")->__("Me");
												else echo Mage::helper("mpsellerbuyercomm")->__("Administrator"); ?>
											</span>
										</span>
										<p class="wk_sbcom_onereply_cntnt"><?php echo $coll->getMessage(); ?></p>
									</div>
								<?php } ?>
								<p class="message-reply">
				                	<a href="<?php echo $this->getUrl('mpsellerbuyercomm/adminmsg/view',array('id'=>$row->getId()))?>"><?php echo Mage::helper("mpsellerbuyercomm")->__("Reply"); ?></a>
				        		</p>
							</div>
						</div>
					</div>
						<?php } } else { ?>
						<div class="no_message"> You have no Message yet!</div>
						<?php } ?>
					</div>
					<div class="veiw_all_message browser1">
						<a href="<?php echo $this->getUrl('mpsellerbuyercomm/adminmsg/'); ?>">View All Messages</a>
					</div>

	</div>
	<div class="clear"></div>

					<script>
						jQuery( document ).ready(function() {
							jQuery(".message-accord").accordion({
								collapsible: true,
								active: false
							});
						});
					</script>
<!-- <div id="ask_data"> 
	<div class="modal_header">
		<h3><?php echo $helper->__('Ask Question to Admin') ?>..</h3>
		<span  class="wk_close" >x</span>
		<span  class="clear" ></span>
	</div>
	<form id="ask_form" method="post" >
		<span class="label">
			<?php echo $helper->__('Subject') ?> :
		</span>
		<input type="text" name="subject" class="querysubject"/>
		<span class="label"> 
			<?php echo $helper->__('Ask') ?> :
		</span>
		<textarea  name="ask" class="queryquestion"></textarea>
		<input type="hidden" name="seller-id" value="<?php echo Mage::getSingleton('customer/session')->getCustomerId();?>"/>
		<div class="modal_footer">
			<span class="error"></span>
			<input type="reset" value="<?php echo $helper->__('Reset') ?>" id="resetbtn"/>
			<input type="button" value="<?php echo $helper->__('Ask') ?>" id="askbtn"/>
			<span class="clear"></span>
		</div>
	</form>
</div> -->

<?php }else{
	echo $helper->__("<h2 class='nofify'>FOR BECOME SELLER CONTACT TO ADMIN..</h2>");
}?>

