<?php 
	$partner = Mage::getModel('marketplace/userprofile')->isPartner(Mage::getSingleton('customer/session')->getCustomerId()); 
	$partner2 =Mage::getModel('marketplace/userprofile')->getPartnerProfileById(Mage::getSingleton('customer/session')->getCustomerId());

	// var_dump($partner2);

	$magentoCurrentUrl = Mage::helper('core/url')->getCurrentUrl(); 
	$helper=Mage::helper('marketplace');
	$allow_pro_type=Mage::getStoreConfig('marketplace/marketplace_options/allow_for_seller');
?>	<div id="second_menu">	
		<h2>
			<strong><span><?php echo $helper->__('Artist Menu') ?></span></strong>
		</h2>		
		<div>		
			<ul>		
				<?php if($partner){ ?>
					<script>
						jQuery("#first_menu").remove();
					</script>
<!-- 					<li  <?php echo strpos($magentoCurrentUrl,'mydashboard')? "class=current":"";?>>	
						<?php if(strpos($magentoCurrentUrl,'mydashboard')){ ?>		
						<strong><?php echo $helper->__('Seller Dashboard') ?></strong>				
						<?php }					
						else{ ?>		
							<a href="<?php echo $this->getUrl('marketplace/marketplaceaccount/mydashboard'); ?>">
								<?php echo $helper->__('Seller Dashboard') ?>
							</a>					
						<?php } ?>					
					</li> -->

					<li  <?php echo strpos($magentoCurrentUrl,'customer/account/edit/')? "class=current":"";?>>	
						<?php if(strpos($magentoCurrentUrl,'customer/account/edit/')){ ?>		
						<strong><?php echo $helper->__('Artist Account info') ?></strong>				
						<?php }					
						else{ ?>		
							<a href="<?php echo $this->getUrl('customer/account/edit/'); ?>">
								<?php echo $helper->__('Artist Account info') ?>
							</a>					
						<?php } ?>					
					</li>

					<li  <?php echo strpos($magentoCurrentUrl,'marketplace/marketplaceaccount/editprofile')? "class=current":"";?>>		
					<?php if(strpos($magentoCurrentUrl,'marketplace/marketplaceaccount/editprofile')){ ?>	
						<strong><?php echo $helper->__('Artist Profile') ?></strong>		
						<?php }			
						else{ ?>	
							<a href="<?php echo $this->getUrl('marketplace/seller/profile').$partner2['mageuserid']; ?>">
								<?php echo $helper->__('Artist Profile') ?>
							</a>

<!-- 							<a href="<?php echo $this->getUrl('marketplace/marketplaceaccount/editprofile'); ?>">
								<?php echo $helper->__('Artist Profile 2') ?>
							</a> -->					
					<?php } ?>		
					</li>

					<?php 
					if(strpos($allow_pro_type,'configurable') !== false){ ?>
						<li  <?php echo strpos($magentoCurrentUrl,'newattribute')? "class=current":"";?>>		
						<?php if(strpos($magentoCurrentUrl,'newattribute')){ ?>					
							<strong><?php echo $helper->__('Create Attribute') ?></strong>	
							<?php }		
							else{ ?>		
								<a href="<?php echo $this->getUrl('marketplace/marketplaceaccount/newattribute'); ?>">
									<?php echo $helper->__('Create Attribute') ?></a>			
							<?php } ?>				
						</li>
						<?php
					}
					/*$productstype=array('simpleproduct','configurableproduct','downloadableproduct','virtualproduct');
					foreach($productstype as $protype){
						if(strpos($magentoCurrentUrl,$protype)){
							$class="class='current wk_cont_ul_li'";
							break;
						}else{
							$class="class='wk_cont_ul_li'";
						}
					}*/
					?>
					<li  <?php echo (strpos($magentoCurrentUrl,'marketplaceaccount/new') && strpos($magentoCurrentUrl,'marketplaceaccount/newattribute')===false)? "class=current":"";?>>			
					<?php if(strpos($magentoCurrentUrl,'marketplaceaccount/new') && strpos($magentoCurrentUrl,'marketplaceaccount/newattribute')===false){ ?>		
						<strong><?php echo $helper->__('Submit Art') ?></strong>	
						<?php }					
						else{ ?>					
							<a href="<?php echo $this->getUrl('marketplace/marketplaceaccount/new'); ?>">
								<?php echo $helper->__('Submit Art') ?>
							</a>						
						<?php } ?>			
					</li>
						<!--ul>
							<?php/* 
							if(strpos($allow_pro_type,'configurable') !== false){ ?>
								<li <?php echo strpos($magentoCurrentUrl,'configurableproduct')? "class=current":"";?>>	
								<?php if(strpos($magentoCurrentUrl,'configurableproduct')){ ?>			
										<strong><?php echo $helper->__('Configurable') ?></strong>			
								<?php }					
									else{ ?>				
										<a href="<?php echo $this->getUrl('marketplace/marketplaceaccount/configurableproduct'); ?>">
										<?php echo $helper->__('Configurable') ?>
									</a>
								<?php } ?>
								</li>
							<?php 
							}
							if(strpos($allow_pro_type,'downloadable') !== false){ ?>					
								<li <?php echo strpos($magentoCurrentUrl,'downloadableproduct')? "class=current":"";?>>		
									<?php if(strpos($magentoCurrentUrl,'downloadableproduct')){ ?>		
										<strong><?php echo $helper->__('Downloadable') ?></strong>				
									<?php }						
									else{ ?>				
										<a href="<?php echo $this->getUrl('marketplace/marketplaceaccount/downloadableproduct'); ?>">
											<?php echo $helper->__('Downloadable') ?>
										</a>						
									<?php } ?>
								</li>
							<?php 
							}
							if(strpos($allow_pro_type,'simple') !== false){ ?>
								<li <?php echo strpos($magentoCurrentUrl,'simpleproduct')? "class=current":"";?>>	
									<?php if(strpos($magentoCurrentUrl,'simpleproduct')){ ?>	
										<strong><?php echo $helper->__('Simple') ?></strong>	
									<?php }				
									else{ ?>					
										<a href="<?php echo $this->getUrl('marketplace/marketplaceaccount/simpleproduct'); ?>">
											<?php echo $helper->__('Simple') ?>
										</a>					
									<?php } ?>				
								</li>
							<?php 
							}
							if(strpos($allow_pro_type,'virtual') !== false){ ?>
								<li <?php echo strpos($magentoCurrentUrl,'virtualproduct')? "class=current":"";?>>	
									<?php if(strpos($magentoCurrentUrl,'virtualproduct')){ ?>		
										<strong><?php echo $helper->__('Virtual') ?></strong>			
									<?php }			
									else{ ?>			
										<a href="<?php echo $this->getUrl('marketplace/marketplaceaccount/virtualproduct'); ?>">
											<?php echo $helper->__('Virtual') ?>
										</a>
									<?php } ?>
								</li>
							<?php 
							}*/?>
						</ul-->
					
					<li  <?php echo strpos($magentoCurrentUrl,'myproductslist')? "class=current":"";?>>			
					<?php if(strpos($magentoCurrentUrl,'myproductslist')){ ?>		
						<strong><?php echo $helper->__('Submission Status') ?></strong>	
						<?php }					
						else{ ?>					
							<a href="<?php echo $this->getUrl('marketplace/marketplaceaccount/myproductslist'); ?>">
								<?php echo $helper->__('Submission Status') ?>
							</a>						
						<?php } ?>			
					</li>	
					
					<li  <?php echo strpos($magentoCurrentUrl,'mytransaction')? "class=current":"";?>>
						<?php if(strpos($magentoCurrentUrl,'mytransaction')){ ?>
							<strong><?php echo $helper->__('My Transaction List') ?></strong>
						<?php }
						else{ ?>
							<a href="<?php echo $this->getUrl('marketplace/marketplaceaccount/mytransaction'); ?>"><?php echo $helper->__('My Transaction List') ?></a>
						<?php } ?>					
					</li>

					<li  <?php echo strpos($magentoCurrentUrl,'tag/customer')? "class=current":"";?>>
						<?php if(strpos($magentoCurrentUrl,'tag/customer')){ ?>
							<strong><?php echo $helper->__('My tags') ?></strong>
						<?php }
						else{ ?>
							<a href="<?php echo $this->getUrl('tag/customer/'); ?>"><?php echo $helper->__('My tags') ?></a>
						<?php } ?>					
					</li>



					<?php echo $this->getChildHtml();?>				
					<li class="last <?php echo strpos($magentoCurrentUrl,'myorderhistory')? "current":"";?>">		
						<?php if(strpos($magentoCurrentUrl,'myorderhistory')){ ?>	
							<strong><?php echo $helper->__('My Order History') ?></strong>	
						<?php }		
						else{ ?>		
							<a href="<?php echo $this->getUrl('marketplace/marketplaceaccount/myorderhistory'); ?>">
								<?php echo $helper->__('My Order History') ?>
							</a>						
						<?php } ?>	
					</li>	
					<?php }		
					else{ ?>
					<script>
						jQuery("#second_menu").remove();
					</script>	
					<!-- <li class="last <?php echo strpos($magentoCurrentUrl,'marketplace/marketplaceaccount/becomepartner')? "current":"";?>">
						<?php if(strpos($magentoCurrentUrl,'marketplace/marketplaceaccount/becomepartner')){ ?>	
							<strong><?php echo $helper->__('Become Partner') ?></strong>	
						<?php }			
						else{ ?>	
							<a href="<?php echo $this->getUrl('marketplace/marketplaceaccount/becomepartner'); ?>">
								<?php echo $helper->__('Become Partner') ?>
							</a>					
						<?php } ?>		
					</li> -->		
				<?php }  ?>
			</ul>	
		</div>	
	</div>

<script>  
jQuery( document ).ready(function() {
	jQuery("#second_menu").accordion({
      collapsible: true,
      active: false
    });
	// jQuery("#second_menu div").hide();
  });

</script>
