<?php
$temp=explode('/profile/',Mage::helper('core/url')->getCurrentUrl());
$helper =Mage::helper('marketplace');
if($temp[1]!=''){
	$partner=$this->getProfileDetail();

	$is_owner = false;
	// Check if any customer is logged in or not
	if (Mage::getSingleton('customer/session')->isLoggedIn()) {
	 
	    // Load the customer's data
	    $customer = Mage::getSingleton('customer/session')->getCustomer();
	    // var_dump($customer->getEntityId());	
	    // var_dump($partner->getProfileurl());
	    if($customer->getEntityId() == $partner->getProfileurl())
	    {
	        $is_owner = true;
	    }
	}
	//print_r($partner);
	//echo $partner->getmageuserid();
	$rowsocial=Mage::getModel('marketplace/userprofile')->getPartnerProfileById($partner->getmageuserid());
	$fullname = $rowsocial['firstname']." ".$rowsocial['lastname'];
	//print_r($fullname)
	?>	
	<style>.main{background-image:none;background-color:<?php echo $partner->getbackgroundth();?>;}</style>
	<?php } else{ 
		echo $helper->__('Invalid profile'); } 
		?>
		<div class="wk-profile">
			<div class="wk_mp_simple">		
				<h2><?php echo $fullname?></h2>
				<h3><a href="<?php echo $partner->getprofileurl() ?>"><?php echo $partner->getshoptitle() ?></a></h3>
				<span class="location">
					<?php echo $partner->getcomplocality()." ".$partner->getcountrypic() ?>
				</span>
				<!-- Need valify the user is the owner or not -->
				<?php if($is_owner){ ?>
				<p><a href="<?php echo $this->getUrl('marketplace/marketplaceaccount/editprofile')."#tab1"; ?>">Edit</a></p>
				<?php } ?>
			</div>		
			<div class="wk_mp_detail">		
				<span class="row">			
					<span class="label"><?php echo $helper->__('About');?></span>
					<span class="data"><?php echo $partner->getcompdesi();?></span>		
				</span>
				<?php if($is_owner){ ?>
				<p><a href="<?php echo $this->getUrl('marketplace/marketplaceaccount/editprofile')."#tab1"; ?>">Edit</a></p>
				<?php } ?>
			</div>	
			<div class="social_media_bar">
				<ul class="my_social_media">
					<?php if($partner->getfacebookid()) { ?>
					<li><a href="<?php echo "http://www.facebook.com/".$partner->getfacebookid() ?>">
						<img border="0" alt="facebook" src="<?php echo $this->getSkinUrl('images/profile-social/icon-facebook1.gif');?>" width="30" height="30">
						<?php //echo "http://www.facebook.com/".$partner->getfacebookid();?>
					</a></li>	
					<?php } ?>
					<?php if($partner->getfacebookid()) { ?>
					<li><a href="<?php echo "http://twitter.com/".$partner->gettwitterid() ?>">
						<img border="0" alt="twitter" src="<?php echo $this->getSkinUrl('images/profile-social/icon-twitter1.gif');?>" width="30" height="30">
						<?php //echo "http://twitter.com/".$partner->gettwitterid();?>
					</a>
				</li>
				<?php } ?>
				<?php if($partner->getfacebookid()) { ?>
				<li><a href="<?php echo "http://plus.google.com/".$partner->getpin_id() ?>">
					<img border="0" alt="googleplus" src="<?php echo $this->getSkinUrl('images/profile-social/icon-googleplus1.gif');?>" width="30" height="30">
					<?php //echo "http://www.pinterest.com/".$partner->getpin_id();?>
				</a>
			</li>
			<?php } ?>
			<?php if($partner->getfacebookid()) { ?>
			<li><a href="<?php echo "http://www.tumblrid.com/".$partner->gettumblrid() ?>">
				<img border="0" alt="tumblr" src="<?php echo $this->getSkinUrl('images/profile-social/icon-tumblr1.gif');?>" width="30" height="30">
				<?php //echo "http://www.tumblr.com/".$partner->gettumblrid();?>
			</a>
			</li>
			<?php if($is_owner){ ?>
			<p><a href="<?php echo $this->getUrl('marketplace/marketplaceaccount/editprofile')."#tab2"; ?>">Edit</a></p>
			<?php } ?>
		<?php } ?>
	</ul>
</div>
<div class="wk_clear"></div>
</div>

<?php 
$logo=$partner->getlogopic()==''?"noimage.png":$partner->getlogopic();
$logo=Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_MEDIA).'avatar/'.$logo;

$banner=$partner->getbannerpic()==''?"noimage.png":$partner->getbannerpic();
$banner=Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_MEDIA).'avatar/'.$banner;

$banner3=$partner->getbanner3pic()==''?"noimage.png":$partner->getbanner3pic();
$banner3=Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_MEDIA).'avatar/'.$banner3;
?>
<div class="image_block">
	<img class="bannerpicrs1" src="<?php echo $banner;?>"/>
	<?php if($is_owner){ ?>
	<p><a href="<?php echo $this->getUrl('marketplace/marketplaceaccount/editprofile')."#tab1"; ?>">Edit</a></p>
	<?php } ?>
<!-- 	<img class="bannerpicrs2" src="<?php echo $logo;?>"/>
	<img class="bannerpicrs3" src="<?php echo $banner3;?>"/> -->
</div>
