<?php 
	$helper=Mage::helper('marketplace');
	$_product=Mage::registry('current_product');
	$productowner=Mage::getModel('marketplace/product')->isCustomerProduct($_product['entity_id']);
	print_r($productowner);
	if($productowner['userid']!=""){
		$captchenable = $percent = Mage::getStoreConfig('marketplace/marketplace_options/captcha');
		$rowsocial=Mage::getModel('marketplace/userprofile')->getPartnerProfileById($productowner['userid']);
		print_r($rowsocial);
?>
<script type="text/javascript">
	if (typeof jQuery == 'undefined'){
		document.write(unescape("%3Cscript src='//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js' type='text/javascript'%3E%3C/script%3E"));
	}
</script> 
<div class="block wk-block block-viewed">
	<div class="block-title"><strong><span>
	<?php 	if($rowsocial['shoptitle']!='')
			echo $rowsocial['shoptitle'];
		else
			echo  $rowsocial['profileurl']; ?>
	</span></strong></div>
	<div class="block-content">
		<div class="wk_blockdetail">	
			<ul class="partnerlinks"> 
				<li>
					<a href="<?php echo  Mage::getUrl('marketplace/seller/collection').$rowsocial['profileurl'] ?>" title="<?php echo $helper->__('Visit Complete Collection') ?>" id="siteconnect"><?php echo $helper->__('View Collection') ?></a>
				</li>
				<li class="profile-view">
					<a href="<?php echo  Mage::getUrl()."marketplace/seller/profile/".$rowsocial['profileurl'] ?>" title="<?php echo $helper->__('Visit Profile') ?>" id="profileconnect"><?php echo $helper->__('View Profile') ?></a>
					<div class="wk-block-hover-div">
						<div class="arrow"></div>
						<?php echo $rowsocial['compdesi']; ?>
					</div>
				</li>
				<li class="ask_que">
					<a title="<?php echo $helper->__('Ask Que') ?>" id="askque"><?php echo $helper->__('Ask Que') ?></a>
					<div id="ask_data">
						<div class="modal_header">
							<h3><?php echo $helper->__('Ask Question to me') ?>..</h3>
							<span  class="wk_close" >x</span>
							<span  class="wk_clear" ></span>
						</div>
						<form id="ask_form" method="post" >
							<span class="label"><?php echo $helper->__('Email') ?> :</span><input type="text" name="email" class="queryemail"/>
							<span class="label"><?php echo $helper->__('Subject') ?> :</span><input type="text" name="subject" class="querysubject"/>
							<span class="label"> <?php echo $helper->__('Ask') ?> :</span><textarea  name="ask" class="queryquestion"></textarea>
							<input type="hidden" name="product-id" value="<?php echo $_product['entity_id'];?>" />
							<input type="hidden" name="seller-id" value="<?php echo $productowner['userid'];?>"/>
							<?php 
							if($captchenable){?>
								<span class="label">
									<label for="wk_mp_captcha"><span id="wk_mp_captchalable1"><?php echo rand(1,20)?></span> + <span id="wk_mp_captchalable2"><?php echo rand(1,20)?></span> =</label>
								</span>
								<input type="text" class="rquired-entry querysubject" name="wk_mp_captcha" id="wk_mp_captcha" />
							<?php
							}?>
							<div class="modal_footer">
								<span class="error"></span>
								<span class="errormail"></span>
								<input type="reset" value="<?php echo $helper->__('Reset') ?>" id="resetbtn"/>
								<input type="button" value="<?php echo $helper->__('Ask') ?>" id="askbtn" class="clickask"/>
								<span class="wk_clear"></span>
							</div>
						</form>
					</div>
				</li>								
				<?php echo $this->getChildHtml();?>
				<li>
					<a target="_blank" href="http://www.facebook.com/<?php echo $rowsocial['facebookid']; ?>" title="Link Up With Facebook" id="fbconnect"></a>
					<a target="_blank"  href="http://www.twitter.com/<?php echo $rowsocial['twitterid']; ?>" title="Link Up With Twitter"id="twconnect"></a>
				</li>
			</ul>
		</div>
	</div>	
</div>
<script>
	$wk_jq=jQuery.noConflict(); 
	(function($wk_jq){
		$wk_jq(function(){
			$wk_jq('.wk-block-hover-div').prepend($wk_jq('<a />').attr('href','<?php echo  Mage::getUrl()."marketplace/seller/profile/".$rowsocial['profileurl'] ?>')
								.append($wk_jq('<img />').addClass('hover-bannerpicrs').attr('src','<?php echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_MEDIA).'avatar/'.$rowsocial['logopic']; ?>')));
			
			$wk_jq('#ask_form').delegate('input,textarea','focus',function(){
				$wk_jq(this).removeClass('error_border');
			});
			$wk_jq('.wrapper').append($wk_jq('#ask_data'));
			$wk_jq('.ask_que').click(function(){
				$wk_jq('#ask_form input,#ask_form textarea').removeClass('error_border');
				$wk_jq('.page').css('opacity','0.4');
				$wk_jq('#ask_data').show();
			});
			$wk_jq('.wk_close').click(function(){
				$wk_jq('.page').css('opacity','1');
				$wk_jq('#resetbtn').trigger('click');
				$wk_jq('#ask_data').hide();
			});
			
			$wk_jq('#askbtn').click(function(){
				var thisthis = $wk_jq(this);
				if(thisthis.hasClass("clickask")){					
					if(!validateEmail($wk_jq('.queryemail').val())){
						$wk_jq(this).addClass('error_border');
						$wk_jq('#ask_form .errormail').text("<?php echo $helper->__(' Enter valid email Id ') ?>").slideDown('slow').delay(2000).slideUp('slow');
					}else{
						var f=0;
						$wk_jq('#ask_form input,#ask_form textarea').each(function(){
							if($wk_jq(this).val()==''){
								$wk_jq(this).addClass('error_border');
								f++;
							}
						});
						if(f>0){
							$wk_jq('#ask_form .error').text("<?php echo $helper->__(' Fill all the fields ') ?>").slideDown('slow').delay(2000).slideUp('slow');
						}else{
							<?php 
							if($captchenable){?>
								var total = parseInt($wk_jq('#wk_mp_captchalable1').text()) + parseInt($wk_jq('#wk_mp_captchalable2').text());
								var wk_mp_captcha = $wk_jq('#wk_mp_captcha').val();
								if(total != wk_mp_captcha){
									$wk_jq('#wk_mp_captchalable1').text(Math.floor((Math.random()*10)+1));
									$wk_jq('#wk_mp_captchalable2').text(Math.floor((Math.random()*100)+1));
									$wk_jq('#wk_mp_captcha').val('');
									$wk_jq('#wk_mp_captcha').addClass('error_border');
									$wk_jq(this).addClass('error_border');
									$wk_jq('#ask_form .errormail').text("<?php echo $helper->__(' Wrong varification number. ') ?>").slideDown('slow').delay(2000).slideUp('slow');
								}else{
									thisthis.removeClass('clickask');
									$wk_jq('#ask_data').addClass('mail_procss');
									$wk_jq.ajax({
										url:'<?php echo Mage::getBaseUrl();?>marketplace/seller/sendmail',
										data:$wk_jq('#ask_form').serialize(),
										type:'post',
										dataType:'json',
										success:function(d){
											thisthis.addClass('clickask');
											$wk_jq('#ask_data').removeClass('mail_procss')
											alert("<?php echo $helper->__(' Mail Send ') ?>..");
											$wk_jq('.wk_close,#resetbtn').trigger('click');
										}
									});
								}
							<?php 
							}else{?>
								thisthis.removeClass('clickask');
									$wk_jq('#ask_data').addClass('mail_procss');
									$wk_jq.ajax({
										url:'<?php echo Mage::getBaseUrl();?>marketplace/seller/sendmail',
										data:$wk_jq('#ask_form').serialize(),
										type:'post',
										dataType:'json',
										success:function(d){
											thisthis.addClass('clickask');
											$wk_jq('#ask_data').removeClass('mail_procss')
											alert("<?php echo $helper->__(' Mail Send ') ?>..");
											$wk_jq('.wk_close,#resetbtn').trigger('click');
										}
									});
								<?php 
							}?>
						}	
					}
				}
			});
		});
	})($wk_jq);
	function validateEmail($email) {
	  var emailReg = /^([\w-\.]+@([\w-]+\.)+[\w-]{2,4})?$/;
	  if( !emailReg.test( $email ) ) {
		return false;
	  } else {
		return true;
	  }
	}
</script>
<?php } ?>
