<?php $posts = $this->getPosts(); ?>
<div id="messages_product_view">
    <?php Mage::app()->getLayout()->getMessagesBlock()->setMessages(Mage::getSingleton('customer/session')->getMessages(true)); ?>
    <?php echo Mage::app()->getLayout()->getMessagesBlock()->getGroupedHtml(); ?>
</div>

<?php //echo $this->getChildHtml('aw_blog_comments_toolbar'); ?>
<?php foreach ($posts as $post): ?>
    <div class="postWrapper blog-post">
        <?php 
            $date = $post->getCreatedTime();
            $arr = explode(" ",$date);
            $arr[2] = str_replace(",","",$arr[2]);
            //var_dump($post);
            //print_r($arr);
            //
            $post_content = Mage::getModel('blog/post')->load($post->getPostId());
            //var_dump($post_content["post_content"]);
        ?>
        <div class="blog-info">
            <p class="blog-date"><span><?php echo $arr[2];?> </span><?php echo $arr[1];?>, <?php echo $arr[3];?></p>
            <p class="blog-author">by <span><?php echo $post->getUser(); ?></span></p>
        </div>
        <div class="blog-content">
            
            <div class="blog-image">
                <?php 
                    echo $content = $post->getShortContent(); 
                ?> 
            </div>
            <h1 class="blog-title"><a href="<?php echo $post->getAddress(); ?>" ><?php echo $post->getTitle(); ?></a></h1>
            <p class="blog-article"><?php echo substr($post_content["post_content"], 0 , 300); ?></p>
            <div class="blog-extention">
                <p><a href="<?php echo $post->getAddress(); ?>">READ MORE</a></p>
                <div class="tags"><?php echo $this->getTagsHtml($post) ?></div>
            </div>
        </div>
    </div>
<?php endforeach; ?>
<?php echo $this->getChildHtml('aw_blog_comments_toolbar'); ?>
