#wantptr{display:none;}.profileurl .input-box {float: left;}
.unavailable,.available {    background-color: transparent;    background-position: 7px 2px !important;    border: medium none !important;    float: left;    margin-left: 10px;    padding: 0 30px !important;    text-transform: capitalize;}#wk_load_conf {left: 40%;top: 394px;position: absolute;display: none;} #skuavail, #skunotavail { display: none;float:left; }.input-box{float:left;}.skuavailable{    background-color: rgba(0, 0, 0, 0);    background-position: 10px 0 !important;    border: medium none !important;    float: left;   min-height: 11px !important;    padding: 0 3px 0 30px !important;    text-transform: capitalize;}.skunotavailable{  background-color: rgba(0, 0, 0, 0);    background-position: 10px 0 !important;    border: medium none !important;    float: left;   min-height: 11px !important;    padding: 0 3px 0 30px !important;    text-transform: capitalize;}#skuavail img, #skunotavail img { margin-right: 5px; vertical-align: middle; width: 12px; }#skunotavail img { float: left; height: 20px; }.wk_content { border: 1px solid #CCC;border-bottom:none; }.wk_content .head { border-bottom: 1px solid #CCCCCC; height: 40px; padding: 0 5px; }
.wk_content .head .label.name, .wk_content .wk_row_view .label.name { width: 210px; }
.wk_content .head .label {display: inline-block;float: left;font-weight: 600;text-align: center;vertical-align: middle;width: 162px;}
.wk_row_view{ border-bottom: 1px solid #CCCCCC; height: 175px; }
.wk_content .head .label.name, .wk_content .wk_row_view .label.name { width: 210px; }
.wk_row_view .label {display: inline-block;text-align: center;vertical-align: middle; width: 157px;}
.wk_row_view .label .image { height: 165px; margin: 2px; width: 165px; }
.wk_row_view .label img { cursor: pointer; }
.wk_row .wk_field #skuavail .success-msg{ background-color:transparent;background-position:8px 7px !important;border-style: none !important; }
.wk_row .wk_field #skunotavail .error-msg{ background-color:#FFFFFF; background-position:8px 7px !important; border-style: none !important; }
.wk_dashboard{ margin-top: 15px; padding: 5px; }
.wk_sales { height: 60px;width: auto;}
.wk_todaysale {border-right: 1px solid #ECECEC;float: left;font-size: 20px;margin: 15px;text-align: center;width: 158px;}
.wk_sale_color {color: #0899C9;font-size: 15px;margin-bottom: 5px;margin-right: 5px;margin-top: 5px;}
.wk_weeksale {border-right: 1px solid #ECECEC;float: left;font-size: 20px;margin: 15px;text-align: center;width: 166px;}
.wk_monthsale {float: left;font-size: 20px; margin: 15px;text-align: center;width: 172px;}
.wk_mp_heading {font-size: 18px;font-weight: bolder;margin: 0;padding: 3px;}
.wk_orderbox{border-bottom: 1px solid #F5F5F5;border-left: 1px solid #F5F5F5;border-right: 1px solid #F5F5F5;display: block;width: auto;}
.wk_dash_orderstatus { padding: 4px; float:left; width:185px; }
.wk_dash_label { display: block; font-weight: bold; margin-top: 5px; }
.wk_dash_label .status {background-color: #800080;color: #FFFFFF;text-align: center;width: 125px;}
.wk_dash_label .color {color: #0899C9;display: block;float: left;font-size: 15px;margin: 5px;}
.wk_dash_label .name {display: block;float: left;line-height: 22px;margin-left: 3px;margin-top: 6px;}
.wk_dash_reviewstatus .ratingbox {    background: url("../images/bkg_rating.gif") repeat-x scroll 0 7px transparent;    height: 20px;    margin-left: 10px;    width: 70px;  display: inline-block;}
.wk_dash_reviewstatus .ratingbox .rating { background: url("../images/bkg_rating.gif") repeat-x scroll 0 100% transparent; height: 20px; }
.wk_dash_reviewstatus{ padding: 4px; float:left; width:200px; }
.wk_dash_reviewstatus .statusapp{background-color: #008000;border-radius: 7px 7px 7px 7px;color: #FFFFFF;text-align: center;width: 125px;}
.wk_dash_reviewstatus .statusunapp{background-color: #FFA500;border-radius: 7px 7px 7px 7px;color: #FFFFFF;text-align: center;width: 125px;}
.wk_dash_reviewstatus .textcolorpro {  display: inline-block; width: 130px; }
.wk_dash_reviewstatus .wk_label{display: inline-block;float: left;font-size: 13px;margin: 0 0 10px 6px;width: 53px;font-weight: bold;}
.wk_dash_reviewstatus .wk_product_label{ margin: 5px 0 10px 6px;display: inline-block;width:90px;font-weight: bold;} 
.wk_dash_reviewstatus .wk_product_content{ display: inline-block;width:140px; }
.wk_ratingwidth{ width:150px!important; }
.wk_ratingcomment{ width:250px!important; }
.askque{ float: right;position: relative;top: -50px;}
.wk_dashboard .button:hover{ opacity:0.8; }
#ask_data {    background-clip: padding-box;    background-color: #FFFFFF;    border: 1px solid rgba(0, 0, 0, 0.3);    border-radius: 6px 6px 6px 6px;    box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);    display: none;    left: 50%;    margin: -250px 0 0 -280px;    outline: medium none;    position: fixed;    top: 50%;    width: 530px;    z-index: 1050;}.modal_header { background-color: #F5F5F5;border-bottom: 1px solid #EEEEEE;border-radius: 4px 4px 0 0;padding: 9px 15px;}.modal_header h3 { display: inline-block;font-size: 20px;opacity: 0.6; }.wk_close {    color: #000000;    cursor: pointer;    float: right;    font-size: 20px;    font-weight: bold;    line-height: 20px;    opacity: 0.2;    text-shadow: 0 1px 0 #FFFFFF;}#ask_form { display: inline-block;margin-top: 20px; }#ask_data .label {display: inline-block;font-size: 14px;font-weight: 600;margin-bottom: 7px;padding-left: 20px;text-align: left;width: 80px;}#ask_form input, .group-select select, #ask_form textarea {    background-color: #FFFFFF;    border: 1px solid #CCCCCC;    border-radius: 4px 4px 4px 4px;    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;    color: #555555;    display: inline-block;    font-size: 14px;    height: 20px;    line-height: 20px;    margin-bottom: 10px;    padding: 4px 6px;    transition: border 0.2s linear 0s, box-shadow 0.2s linear 0s;    vertical-align: top;}#ask_data input { width: 315px; }#ask_form textarea { height: 75px;width: 315px; }.modal_footer:before, .modal_footer:after { content: "";display: table;line-height: 0; }.modal_footer:before, .modal_footer:after { content: "";display: table;line-height: 0; }.modal_footer {    background-color: #F5F5F5;    border-radius: 0 0 6px 6px;    border-top: 1px solid #DDDDDD;    box-shadow: 0 1px 0 #FFFFFF inset;    margin-bottom: 0;    margin-top: 10px;    padding-bottom: 50px;    text-align: right;}#ask_data .error {bottom: 15px;display: none;left: 210px;position: absolute;}#ask_data #askbtn, #ask_data #resetbtn {float: right;height: 30px;margin: 10px 23px 0 0;width: 80px;}.error_border { border-color: #FF0000 !important; }.mail_procss { cursor: wait;opacity: 0.5; }.form-list .profile { float: left;width: 100%;margin-top:10px; }.group-select input[type="file"] { width: 200px; }
.input-box .prev_img {position: relative;right: -334px;top: -75px;width: 120px;height: 100px;}
.input-box .wk_banner {position: relative;right: -334px;top: -44px;width: 230px;height: 40px;}
.input-box > .input-box-notification {font-size: 12px;font-weight: 400;width: 250px;color:red;}.input-box > .input-box-notification1 { margin-top: -36px; }.btn_primary {    background-color: #006DCC;    background-repeat: repeat-x;    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);    border-radius: 4px 4px 4px 4px;    border-width: 1px;    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05);    color: #FFFFFF;    display: inline-block;    line-height: 20px;    opacity: 0.8;    padding: 4px 12px;    text-align: center;    text-decoration: none;    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);    vertical-align: middle;    width: 170px;}.btn_primary:hover { opacity: 1!important; } .color_pick {    border: 3px solid #CCCCCC;    border-radius: 5px 5px 5px 5px;    cursor: pointer;    display: inline-block;    height: 30px;    vertical-align: middle;    width: 30px;  margin-left: 274px;    margin-top: -30px;}.form-list .button_label { width:200px; }
.country_img_prev {margin-left: 310px;margin-top: -57px;vertical-align: middle;width: 30px;}.wk_emptymsg{color: #DF2111;padding: 12px;font-weight: bold;font-size: 14px;text-transform: uppercase;}#wk_mp_header {border-bottom: 1px solid #D7D7D4;color: #666666;margin: 18px -10px 0;padding: 18px 0;text-align: center;}#wk_mp_header h1 {font-family: "Guardian-EgypTT",Georgia,serif;font-size: 32px;color: #666666;line-height: 42px;margin-bottom: 9px;}#wk_mp_header p { margin-bottom: 0; }.button-large:hover { background-color:#3a9191; }.button-large {    background-color: #39AAC5;    border-color: #67BDD4 #4AB1CC #359BBD;    border-radius: 4px 4px 4px 4px;    border-style: solid;    border-width: 1px;    color: #FFFFFF;    cursor: pointer;    display: inline-block;    font-weight: bold;    line-height: 33px !important;    margin-bottom: 9px;    padding: 0 11px;    text-decoration: none;    width: auto;}.wk_profiledata{ margin-top:10px; }.list_seller_product {border: 1px solid #CCCCCC;display: inline-block;float: left;padding: 10px;width: 98%;margin-top: 10px;}.list_seller_product a  img {border: 1px solid #CCCCCC;height: 93px;margin: 3px;width: 99px;}.list_seller_product .label{ color: #666666;font-family: "Guardian-EgypTT",Georgia,serif;font-size: 16px;letter-spacing: 0.5px;}.list_seller_product a  img:hover {opacity:0.8;}.list_seller_product a{text-decoration:none;position: relative;}.mp_landing_hover{   background: url("../images/background.png") repeat scroll 0 0 rgba(0, 0, 0, 0);    color: #FFFFFF;    display: none;    font-weight: bold;    height: 51px;    left: 4px;    opacity: 1;    padding-top: 43px;    position: absolute;    text-align: center;    text-transform: uppercase;    top: 1px;    width: 99px;}.list_seller_product a:hover .mp_landing_hover{display:block;}.pager:first-of-type {border:1px solid #CCCCCC;border-bottom: none;}.pager:last-of-type {border:1px solid #CCCCCC;}.status.pending{background-color:orange;}.status.canceled{background-color:red;}.status.complete{background-color:green;}.status.processing{background-color:blue;}.wk_dash_orderstatus .order_date{margin-top:20px;}.clear{clear:both;}.example-plot{width:593px; height:400px;}.wk_dash_orderstatus .product_label{color:silver;float:left;}.notify{color:#ff0000;font-weight:600;}.profile .input-box .banner{height:25px;}.profile .input-box .compdesi{width:375px; overflow: auto;}.wk_marquee{color:#ff0000;}.wk_add_image{margin-top:10px;}.wk_new_msg{color:#ff0000;font-weight:600}.wk_imagedelete {font-weight: 900;left: 24px;position: absolute;top: 22px;display: none;}.wk_dash_orderstatus .cost{float: right;}.wk_clear{clear: both;}.wk_order_clear{margin: 0 0 10px 6px;}.wk_plus{    background: url("../../../../../../js/extjs/resources/images/magento/tree/elbow-plus.gif") no-repeat scroll 0 0 transparent;    display: block;    height: 18px;    width: 15px;    float:left;    cursor:pointer;}.wk_plusend{    background: url("../../../../../../js/extjs/resources/images/magento/tree/elbow-end-plus.gif") no-repeat scroll 0 0 transparent;    display: block;    height: 18px;    width: 15px;    float:left;    cursor:pointer;}.wk_minus,.wk_minusend{    background: url("../../../../../../js/extjs/resources/images/magento/tree/elbow-end-minus.gif") no-repeat scroll 0 0 transparent;    display: block;    height: 18px;    width: 15px;    float:left;    cursor:pointer;}.wk_no{    background: url("../../../../../../js/extjs/resources/images/magento/tree/elbow-end.gif") no-repeat scroll 0 0 transparent;    display: block;    height: 18px;    width: 15px;    float:left;}.wk_foldersign{    background: url("../../../../../../js/extjs/resources/images/magento/tree/leaf.gif") no-repeat scroll 0 0 transparent;    display: block;    float: left;    height: 15px;    margin-left: 5px;    margin-top: 3px;    width: 16px;}.wk_node_loader{    background: url("../../../../../../js/extjs/resources/images/default/grid/loading.gif") no-repeat scroll 0 0 #FFFFFF;    display: block;    height: 17px;    left: 15px;    position: absolute;    width: 17px;}.nicEdit-wk_nice_textarea{    box-shadow: 0 0 1px 1px #CCCCCC inset;}
#wk_category_label{ line-height: 16px;    padding: 0 4px;}
.wk_cat_container{    position: relative;    height: 20px; float: left;}.wk_elements{    margin-left:5px;}
.wk_removable.wk_cat_container { float: none;}
.wk_cat_name{ /*float:left;*/}.wk_category{    max-height: 200px;    overflow: auto;    clear: both;    display: block;}.defaultimageset {    display: inline;    font-size: 10px;}.image_set .setimage{padding:5px; float:left;width:70px;height:55px;position: relative;}
.wk_cont_ul_li ul{      background-color: #FBFAF6;      border: 1px solid #BBBBBB;      padding: 0 5px;     position: absolute;     right: -50px;       top: 0;     width: 130px;       z-index: 2;     display:none;   }   
.wk_cont_ul li{     position: relative; }   
.wk_cont_ul_li:hover > ul{      display: block;}
.wk_cont_ul ul li.current {    border-bottom: 1px solid #DDDDDD;    color: #EA7900;    padding: 3px 0;}
/*downloadable*/
.wk_cp_link_delete{    
    background: url("../images/delete.gif") repeat scroll -4px 0 rgba(0, 0, 0, 0);
    cursor: pointer;
    display: block;
    height: 16px;
    width: 11px;
}

.wk_cp_link_body input[type=checkbox]{    margin-right: 5px;}.wk_cp_link_title{    width: 105px;}.wk_cp_link_price{    width: 45px;}.wk_cp_link_download{    width: 70px;}.wk_cp_link_body td{    text-align: center;    padding: 2px 4px;    border-color: #DADFE0;    border-style: solid;    border-width: 0 1px 1px 0;    background: none repeat scroll 0 0 #FFFFFF !important;}#wk_cp_links{    background: #6F8992;    line-height: 21px;    padding-left: 10px;}#wk_cp_links span{    color: #FFFFFF;    font-weight: bold;}#wk_cp_links_container{    border: 1px solid #D6D6D6;    min-height: 100px;}.wk_cp_link_label {    width: 235px;    background: none repeat scroll 0 center rgba(0, 0, 0, 0);    padding-bottom: 5px;    padding-left: 5px;    padding-top: 5px;}.wk_cp_link_value {    padding: 5px;    background: none repeat scroll 0 center rgba(0, 0, 0, 0);}#wk_cp_tr_heading{    background: url("../../../../../adminhtml/default/default/images/sort_row_bg.gif") repeat-x scroll 0 50% rgba(0, 0, 0, 0);}#wk_cp_tr_heading th {    border-color: #F9F9F9 #D1CFCF #F9F9F9 #F9F9F9;    border-style: solid;    border-width: 1px;    font-size: 0.9em;    font-weight: bold;    padding-bottom: 0;    padding-top: 1px;}.wk_cp_links_topbody{    clear: both;}/*configuration product*/

.wk_cp_links_topbody {
    width: 400px;
}

.wk_cp_label{
    background: none repeat scroll 0 0 #F18200;
    border: 1px solid #DE5400;
    color: #FFFFFF !important;
    cursor: pointer;
    display: inline-block;
    margin: 2px 15px;
    padding: 1px 5px;
}
#associate_product table{
     border: 1px solid;
      width: 100%;
}
#associate_product table tr th{
    background: none repeat scroll 0 0 #D5D5D5;
     text-align: center;
}
#associate_product table tr td{
     text-align: center;
}
.headcus{
    clear: both;
}
.headcus input{
    width: 80px;
}
.headcus > li {
    float: left;
    text-align: center;
    width: 111px;
}
.option-box.mp_co_option {
    border: 1px solid #CDDDDD;
}
.mp_co_option .headcus {
    background: none repeat scroll 0 0 #E7EFEF;
    height: 26px;
    padding-top: 6px;
}
.headcus.ul_first {
    background: none repeat scroll 0 0 #CFDDDC;
    font-weight: bold;
}
#associateproduct span{
    background: none repeat scroll 0 0 #F18200;
    border: 1px solid #DE5400;
    color: #FFFFFF;
    display: block;
    font: bold 12px/19px Arial,Helvetica,sans-serif;
    height: 19px;
    padding: 0 8px;
    text-align: center;
    white-space: nowrap;
}
/*#associateproduct span a{color:#fff;}
.block-account .block-content li.proselecttypt a{
color:#E26703;
}*/

.add {
width:200px;
display: inline-block;
}
.wk_content .head .label.adds{width:197px;}
.wk_row_view .label.adds{width:197px;}

.bol{font-weight: bold;}
