<!-- <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script> -->
<script type="text/javascript">
jQuery.noConflict();
</script>
<link rel="stylesheet" href="<?php echo $this->getSkinUrl('js/popup/reveal.css');?>">
<script type="text/javascript" src="<?php echo $this->getSkinUrl('js/popup/jquery.reveal.js');?>"></script>
<script type="text/javascript" src="<?php echo $this->getSkinUrl('js/jquery.collapsible.js');?>"></script>
<script src="//code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
<!-- <link rel="stylesheet" href="//code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
 -->
<div class="header-container">
    <div class="header">


        <?php if ($this->getIsHomePage()):?>
        <h2 class="logo"><strong><?php echo $this->getLogoAlt() ?></strong><a href="<?php echo $this->getUrl('') ?>" title="<?php echo $this->getLogoAlt() ?>" class="logo"><img src="<?php echo $this->getLogoSrc() ?>" alt="<?php echo $this->getLogoAlt() ?>" /></a></h2>
    <?php else:?>
    <a href="<?php echo $this->getUrl('') ?>" title="<?php echo $this->getLogoAlt() ?>" class="logo"><strong><?php echo $this->getLogoAlt() ?></strong><img src="<?php echo $this->getLogoSrc() ?>" alt="<?php echo $this->getLogoAlt() ?>" /></a>
<?php endif?>

        <!-- <div class="upper-header">
            <?php echo $this->getChildHtml('header_cart') ?>
            <?php echo $this->getChildHtml('head_phone_block')?>
            <div class="sp"></div>
        </div> -->

        <div class="quick-access">
            <div class="search">
                <?php echo $this->getChildHtml('topSearch') ?>
                <div class="sp"></div>
            </div>
            <?php //echo $this->getChildHtml('topLinksCustom') ?>
            <ul class="links">

        <li class="search"><a href="javascript:show_search_form();" title="Search">Search</a></li>
        <li><a href="<?php echo $this->getUrl('browser/');?>" title="Browser">Browser</a></li>
        <li><a href="<?php echo $this->getUrl('about-us/');?>" title="About">About</a></li>

        <?php if(Mage::getSingleton('customer/session')->isLoggedIn()): ?>
            <?php if(Mage::getModel('marketplace/userprofile')->isPartner()) :?>    
                    <li><a title="Logout" href="<?php echo $this->getUrl('marketplace/marketplaceaccount/mydashboard/') ?>">My Account</a></li>

            <?php else: ?>
                    <li><a title="Logout" href="<?php echo $this->getUrl('customer/account/') ?>">My Account</a></li>
            <?php endif; ?>
        <li><a title="Logout" href="<?php echo $this->getUrl('customer/account/logout') ?>">Sign out</a></li>
        <?php else :?>
        <li><a title="Sign Up" href="#" data-reveal-id="create" data-animation="fade">Sign Up</a></li>
        <li><a title="Login" href="#" data-reveal-id="login" data-animation="fade">Log in</a></li>
        <?php endif;?>
        <li class=" last"><a href="<?php echo $this->getBaseUrl();?>checkout/cart/" title="Cart" class="top-link-cart">Cart</a></li>
    </ul>
</div>
<?php echo $this->getChildHtml('topContainer'); ?>

</div>
</div>

<script>
    function show_search_form()
    {
        jQuery('div.search').slideToggle();
    }
</script>

<?php //echo $this->getChildHtml('topMenu') ?>

<?php if ($homePageHeaderBlock = $this->getChildHtml('home_page_header_block')) : ?>
    <div class="home_page_header_block">
        <?php echo $homePageHeaderBlock ?>
    </div>
<?php endif; ?>

<?php if ($AboutUsBanner = $this->getChildHtml('about_us_banner')) : ?>
    <div class="about_us_banner">
        <?php echo $AboutUsBanner ?>
    </div>
<?php endif; ?>




