<?php
 /**
 * GoMage Advanced Navigation Extension
 *
 * @category     Extension
 * @copyright    Copyright (c) 2010-2014 GoMage (http://www.gomage.com)
 * @author       GoMage
 * @license      http://www.gomage.com/license-agreement/  Single domain license
 * @terms of use http://www.gomage.com/terms-of-use
 * @version      Release: 4.6
 * @since        Class available since Release 1.0
 */
?>

<?php
	$side           = $this->getSide();	
	$attribute 		= $this->getAttributeModel();
	$attribute_code = $attribute->getAttributeCode();
	$request		= Mage::helper('gomage_navigation')->getRequest();
	
	$step = (int)$attribute->getRoundTo();
	$steps = array();
	
	$min = $this->_filter->getMinValueInt();
	if ( $step > $this->_filter->getMinValueInt() ):
		$min = 0;
	endif;
	
	$start = $min;
	$end = $this->_filter->getMaxValueInt();

    if ( $step != '0' && $step > 0 ):
        for($i = $start;$i <= $end; $i++):
            if ( $i%$step === 0 ):
                $steps[] = $i;
            endif;
        endfor;
    endif;
	
	$steps_inline = '['.implode(",", $steps).']';
	
	if ( $step == '0' ):
		$steps_inline = '[]';	
	endif;

	$_from	= Mage::getSingleton('core/url')->escape($request->getParam($this->_filter->getRequestVar().'_from', $min));
   	$_to	= Mage::getSingleton('core/url')->escape($request->getParam($this->_filter->getRequestVar().'_to', $this->_filter->getMaxValueInt()));
	
?>
	<div class="filter-type-input" style="padding:5px 0 15px;">
		<form id="<?php echo $attribute_code . '-' . $side;?>-filter-form" onsubmit="GomageNavigation.checkValue('<?php echo $attribute_code . '-' . $side;?>-filter-form', <?php echo $min; ?>, <?php echo $this->_filter->getMaxValueInt(); ?>);GomageNavigation.submitNavigationForm(this, '<?php echo Mage::helper('gomage_navigation')->getFilterUrl('*/*/*', array('_current'=>true, '_nosid'=>true, '_use_rewrite'=>true, '_query'=>array('ajax'=>$this->ajaxEnabled())))?>', <?php echo $this->ajaxEnabled() ?>);return false;" action="<?php echo Mage::helper('gomage_navigation')->getFilterUrl('*/*/*', array('_current'=>true, '_nosid'=>true, '_use_rewrite'=>true, '_query'=>array('ajax'=>$this->ajaxEnabled())))?>">

    		<fieldset class="filter-fieldset">
    		
    		<div class="fields">
    		<div class="from-wrapper">
    			<label><!--<span><?php //echo $this->__('From')?></span>--><input class="input-text navigation-from" type="text" name="<?php echo $attribute_code;?>_from" value="<?php echo $_from;?>" /></label>
    		</div>
    		
    		<div class="from-wrapper">
    			<label><span><?php echo $this->__('to')?></span><input class="input-text navigation-to" type="text" name="<?php echo $attribute_code;?>_to" value="<?php echo $_to;?>" /></label>
    		</div>
    		
    		</div>
                <?php if ($this->canShowFilterButton()): ?>
                    <div class="slider-input-action">

                        <button class="button" type="submit"><span><span><?php echo Mage::helper('gomage_navigation')->getFilter();?></span></span></button>

                    </div>
                <?php endif; ?>
    		</fieldset>
    	</form>
	</div>
	
	<div id="<?php echo $attribute_code . '-' . $side;?>-track" class="gan-track">
	    <div id="<?php echo $attribute_code . '-' . $side;?>-handle-from" class="handle handle-left">
	    	<span class="handle-left-bg">
	    		<span class="slider-span">

				</span>
	    	</span>
	    </div>
	    <div id="<?php echo $attribute_code . '-' . $side;?>-handle-to" class="handle handle-right">
	    	<span class="handle-right-bg">
	    		<span class="slider-span">
					
				</span>
	    	</span>
	    </div>
		<div class="slider-back-bg"></div>
	    <div id="<?php echo $attribute_code . '-' . $side;?>-square_slider_span" class="span" style="position:absolute;">
	    	
	    	<div class="gan-slider-span"></div>
	    	
	    </div>
	</div>

    <div class="gan-track-values">
        <?php
        if ( (int)$this->getAttributeModel()->getShowCurrency() ):
            ?>
            <span class="value-min"><?php echo Mage::app()->getLocale()->currency(Mage::app()->getStore()->getCurrentCurrencyCode())->getSymbol(); ?></span>
            <?php
        endif;
        ?>
        <span class="track-value value-min" id="<?php echo $attribute_code . '-' . $side;?>-value-from"></span>
        <span class="track-value value-max" id="<?php echo $attribute_code . '-' . $side;?>-value-to"></span>
        <?php
        if ( (int)$this->getAttributeModel()->getShowCurrency() ):
            ?>
            <span class="value-max"><?php echo Mage::app()->getLocale()->currency(Mage::app()->getStore()->getCurrentCurrencyCode())->getSymbol(); ?></span>
            <?php
        endif;
        ?>
    </div>
	
	<div class="hidden" id='<?php echo $attribute_code . '-' . $side;?>-value'></div>

<?php if($this->getRequest()->getParam('ajax')>0):?>
	
	<?php Mage::getBlockSingleton('gomage_navigation/ajax')->addEvalJs("GomageNavigation.initSlider('".$attribute_code . '-' . $side."', ".$min.", ".$this->_filter->getMaxValueInt().", ". $_from .", ". $_to.", '". Mage::helper('gomage_navigation')->getFilterUrl('*/*/*', array('_current'=>true, '_nosid'=>true, '_use_rewrite'=>true, '_query'=>array('ajax'=>$this->ajaxEnabled(), $this->_filter->getRequestVar().'_from'=>null, $this->_filter->getRequestVar().'_to'=>null, )))."', ".$this->ajaxEnabled().", ". $steps_inline .");");?>
	
<?php else:?>

		
<script type="text/javascript">
	
	// <![CDATA[
	
GomageNavigation.initSlider('<?php echo $attribute_code . '-' . $side;?>', <?php echo $min;?>, <?php echo $this->_filter->getMaxValueInt();?>, <?php echo $_from;?>, <?php echo $_to;?>, '<?php echo Mage::helper('gomage_navigation')->getFilterUrl('*/*/*', array('_current'=>true, '_nosid'=>true, '_use_rewrite'=>true, '_query'=>array('ajax'=>$this->ajaxEnabled())))?>', <?php echo $this->ajaxEnabled() ?>, <?php echo $steps_inline; ?>);
	
	// ]]>
	
</script>

<?php endif;?>
