* {
	margin:0;
	padding:0;
}
a#show-popup {
	margin:20px 0 0 20px;
	float:left;
	text-decoration:none;
        
}
div#popup-bg {
	position:fixed;
	top:0;
	bottom:0;
	left:0;
	right:0;
	z-index:999;
	background:#000000;
	display:none;
}
div#popup {
	width:288px;
	height:auto;
	z-index:999;
	display:none;
	background:#FFF;
	border:1px;
    border-radius: 10px;
}
div#popup-header {
	position:relative;
	float:left;
	width:276px;
	line-height:30px;
	background:#ee8e71;
	color:#fefefe;
	cursor:move;
	border-radius: 5px 5px 0 0;
	padding-left: 12px;
}
span#popup-close {
	cursor:pointer;
	color:#FFF;
	font-size:20px;
	position:absolute;
	top:-2px;
	right:10px;
	z-index:9999;
}
