#box-up {
	display: inline-block;
	width: 100%;
}
.bl {
	display: inline-block;
	float: left;
}
.box-a { padding-right: 15px;
       
}
.fb-like{
     z-index: 999;
}
.box-b { width: 75px;}
.box-c { width: 67px;}
.box-d  a{
	display: inline-block;      
}
.pluginCountButton {
	background: #fff;
	border: 1px solid #898f9c;
	-webkit-border-radius: 3px;
	color: #6a7180;
	font-size: 13px;
	height: 0px;
	margin: 0;
	min-width: 35px;
	padding: 6px 1px 2px 3px;
	text-align: center;
	white-space: nowrap;
}

div.pluginCountBox {
	display: none !important;  
}

.pluginCountButtonNub {
	bottom: 1px;
	height: 0px;
	left: 20px;
	position: relative;
	width: 0;
	z-index: 2;
}
.pluginCountButtonNub s, .pluginCountButtonNub i {
	border-color: #898f9c transparent transparent;
	border-right: 5px solid transparent;
	border-style: solid;
	border-width: 5px;
	display: none !important;  
	position: relative;
}
.pluginCountButtonNub i {
	border-top-color: #fff;
	left: 0;
	top: -12px;
}
.vcount #count{
	text-decoration: none !important;
}

/* CSS Hack for hiding the LIKE count */
div.fb-like span {
  display:block;
  width:48px !important;
  overflow:hidden !important;  
}

div.fb-like iframe {
  width:48px !important;
  overflow:hidden !important;

}

div.fb-like iframe.fb_iframe_widget_lift {
  width:450px !important;
  overflow:hidden !important;
}
