
#cmsmart-popup-content {
    padding: 10px 16px;
    white-space: break;
    float: left;
    background-color: #ffffff;
    color: #8b8787;
	border: 1px;
border-radius: 0 0 5px 5px;
}
.cmsmart-row-input  a{
text-decoration:none;
color: #8b8787;
}
#cmsmart-error{
    font-weight: bold;
    text-align: center;
    margin-right: 2px;
    color: #ff7e00;
}
.button-cmsmart{
    cursor: pointer;
    padding: 0 10px;
    text-align: center;
    height: 24px;
    white-space: nowrap;
    border-radius:19px 19px 19px 19px;
    float: right;
    color: #646161;
    border: 1px solid #bebebe;
	background: linear-gradient(#e5f1f5, #6c9faf) repeat scroll 0 0 rgba(0, 0, 0, 0);
	margin-top: -29px;
}
.button-cmsmart:hover{
background: linear-gradient(#6c9faf, #e5f1f5) repeat scroll 0 0 rgba(0, 0, 0, 0);
}
.button-cmsmart img{
    margin: 2px 3px 0 0;
    width: 16px;
    height: 12px;
}
.alProgressBar {
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 99999;
}

.alProgressBar .Shadow {
    background-color: #000000;
    height: 100%;
    opacity: 0.1;
    position: absolute;
    width: 100%;
}

.alProgressBar .loading-mask {
    background: url("images/blank.gif") repeat scroll 0 0 rgba(0, 0, 0, 0);
    color: #D85909;
    font-size: 1.1em;
    font-weight: bold;
    opacity: 0.8;
    position: absolute;
    text-align: center;
}

.alProgressBar .loading-mask .loader {
    background: none repeat scroll 0 0 #FFF4E9;
    border: 2px solid #F1AF73;
    color: #D85909;
    font-weight: bold;
    left: 50%;
    margin-left: -105px;
    padding: 15px 30px;
    position: fixed;
    text-align: center;
    top: 45%;
    width: 150px;
}
.cmsmart-row-input{
    /*width: 90%;
    float: left;*/
    margin: 5px 0;
    float: left;
    width: 100%;
    /*margin-left: 5%;*/
}
.cmsmart-row-input label{
    float: left;
    font-weight: bold;
    position: relative;
    z-index: 0;
    min-width: 115px;
    margin-right: 10px;
    line-height: 28px;
}

.cmsmart-row-input span.required{
    float: left;
    margin-top: 10px;
}
.cmsmart-hr{
    width: 100%;
    float: left;
    margin-top: 10px;
    padding-top: 4px;
}
.cmsmart-hr a{
    font-size: 11px;
}
.shape-username{
    width: 40px;
    height: 36px;
    float: left;
    text-align: center;
    border-radius:4px 0 0 4px;
    background-color: #d4d4d4;
}
.shape-username img{
    height: 23px;
    width: 23px;
    margin-top: 8px;
}
.cms-iplogin{
   height: 18px;
line-height: 18px;
float: left;
width: 232px;
margin-left: 1px;
border: solid 1px #bebebe;
padding: 5px 0;
box-shadow: 0 0 2px #C5C5C7;
}
.cmsmart-input-text{
    width: 156px;
    height: 28px;
    border: none;
    border-radius:4px;
}

.shape_account{
    left: 10px !important;
}
.cms-setupinput{
    padding-left: 5px;
}
