* {
	margin:0;
	padding:0;
	font-family:Arial, Helvetica, sans-serif;
}
a#show-popup1 {
	margin:20px 0 0 20px;
	float:left;
	text-decoration:none;
}
div#popup-bg1 {
	position:fixed;
	top:0;
	bottom:0;
	left:0;
	right:0;
	z-index:99;
	background:#7fbf41;
	display:none;
}
div#popup1 {
	width:320px;
	height:auto;
	border:solid 4px #7fbf41;
	z-index:999;
	display:none;
	background:#FFF;
        border-radius: 6px 6px 6px 6px;
}
div#popup-header1 {
	position:relative;
	float:left;
	width:320px;
	line-height:30px;
	font-size:20px;
	background:#7fbf41;
	color:#FF0;
	cursor:move;
}
span#popup-close1 {
	cursor:pointer;
	color:#FFF;
	font-size:20px;
	position:absolute;
	top:-2px;
	right:10px;
	z-index:9999;
}
div#popup-content1 {
	width:670px;
	float:left;
	padding:5px;
}
/*reset*/
* {
	margin:0;
	padding:0;
	font-family:Arial, Helvetica, sans-serif;
}
a#show-popup2 {
	margin:20px 0 0 20px;
	float:left;
	text-decoration:none;
}
div#popup-bg2 {
	position:fixed;
	top:0;
	bottom:0;
	left:0;
	right:0;
	z-index:99;
	background:#7fbf41;
	display:none;
}
div#popup2 {
	width:320px;
	height:auto;
	border:solid 4px #7fbf41;
	z-index:999;
	display:none;
	background:#FFF;
        border-radius: 6px 6px 6px 6px;
}
div#popup-header2 {
	position:relative;
	float:left;
	width:320px;
	line-height:30px;
	font-size:20px;
	background:#7fbf41;
	color:#FF0;
	cursor:move;
}
span#popup-close2 {
	cursor:pointer;
	color:#FFF;
	font-size:20px;
	position:absolute;
	top:-2px;
	right:10px;
	z-index:9999;
}
div#popup-content2 {
	width:670px;
	float:left;
	padding:5px;
}