<div class="featured-wrapper">			
    <h3 class="featuredcategory_list_head"><?php echo $this->__('Featured Categories') ?></h3>
    <?php
    $catCollection = $this->getFeaturedCategoryCollection();
    echo("<ul id='featured_category'>");
    $i = 0;
    foreach ($catCollection as $cat) {
        $i++;
        echo("<li><a href='" . $cat->getUrl() . "'>" . $this->getFeaturedImage($cat) . "</a></li>");
        if ($i >= 5)
            break;
    }
    echo("</ul>");
    ?>
    <h3 class='featuredcategory_list_head' ><?php echo $this->__('All Categories') ?></h3>
    <?= $this->generateListCharacter(); ?>
    <ul id="featured_list">
        <?php
        $begin = $this->getRequest()->getParam('begin');
        $cats = $this->getFeaturedCategoryBeginBy($begin);
        if (count($cats)) {
            foreach ($cats as $cat) {
                echo("<li><a href='" . $cat->getUrl() . "' title='" . $cat->getName() . "'>" . $cat->getName() . "</a></li>");
            }
        } else {
            echo $this->__('No Category !');
        }
        ?>

    </ul>
</div>