<?php
/**
 * GoMage Advanced Navigation Extension
 *
 * @category     Extension
 * @copyright    Copyright (c) 2010-2014 GoMage (http://www.gomage.com)
 * @author       GoMage
 * @license      http://www.gomage.com/license-agreement/  Single domain license
 * @terms of use http://www.gomage.com/terms-of-use
 * @version      Release: 4.6
 * @since        Class available since Release 4.3
 */
?>

<?php if($this->getCollection()->getSize()): ?>
<div class="toolbar">
    <?php if( $this->isExpanded() ): ?>
        <div class="sorter">
            <?php if( $this->isEnabledViewSwitcher() ): ?>
                <p class="view-mode">
                    <?php $_modes = $this->getModes(); ?>
                    <?php if($_modes && count($_modes)>1): ?>
                        <label><?php echo $this->__('View as') ?></label>
                        <?php foreach ($this->getModes() as $_code=>$_label): ?>
                            <?php if($this->isModeActive($_code)): ?>
                                <strong title="<?php echo $_label ?>" class="<?php echo strtolower($_code); ?>"><?php echo $_label ?></strong>
                            <?php else: ?>
                                <a data-ajax="<?php echo (Mage::helper('gomage_navigation')->isGomageNavigationAjax()) ? 1 : 0 ;?>" data-param="<?php echo urlencode($this->getModeUrlParams($_code)) ?>" data-url="<?php echo $this->getModeUrl($_code, true) ?>" onclick="GomageNavigation.click(this);return false;" href="<?php echo $this->getModeUrl($_code, true) . urlencode($this->getModeUrlParams($_code)); ?>" title="<?php echo $_label ?>" class="<?php echo strtolower($_code); ?>"><?php echo $_label ?></a>
                            <?php endif; ?>
                        <?php endforeach; ?>
                    <?php endif; ?>
                </p>
            <?php endif; ?>

            <div class="sort-by">
                <label><?php echo $this->__('Sort By') ?></label>
                <select onchange="GomageNavigation.setNavigationUrl(this.value, false, true)" title="<?php echo $this->__('Sort By') ?>">
                    <?php foreach($this->getAvailableOrders() as $_key=>$_order): ?>
                        <option value="<?php echo $this->getOrderUrl($_key, 'asc') ?>"<?php if($this->isOrderCurrent($_key)): ?> selected="selected"<?php endif; ?>>
                            <?php echo $this->__($_order) ?>
                        </option>
                    <?php endforeach; ?>
                </select>
                <?php if($this->getCurrentDirection() == 'desc'): ?>
                    <a data-ajax="<?php echo (Mage::helper('gomage_navigation')->isGomageNavigationAjax()) ? 1 : 0 ;?>" data-param="<?php echo urlencode($this->getOrderUrlParams(null, 'asc')) ?>" data-url="<?php echo $this->getOrderUrl(null, 'asc', true) ?>" onclick="GomageNavigation.click(this);return false;" href="<?php echo $this->getOrderUrl(null, 'asc', true) . urlencode($this->getOrderUrlParams(null, 'asc')) ?>" title="<?php echo $this->__('Set Ascending Direction') ?>" class="sort-by-switcher sort-by-switcher--desc" style="vertical-align:top;"></a>
                <?php else: ?>
                    <a data-ajax="<?php echo (Mage::helper('gomage_navigation')->isGomageNavigationAjax()) ? 1 : 0 ;?>" data-param="<?php echo urlencode($this->getOrderUrlParams(null, 'desc')) ?>" data-url="<?php echo $this->getOrderUrl(null, 'desc', true) ?>" onclick="GomageNavigation.click(this);return false;" href="<?php echo $this->getOrderUrl(null, 'desc', true) . urlencode($this->getOrderUrlParams(null, 'desc')) ?>" title="<?php echo $this->__('Set Descending Direction') ?>" class="sort-by-switcher sort-by-switcher--asc" style="vertical-align:top;"></a>
                <?php endif; ?>
            </div>
        </div>
    <?php endif; ?>
    <?php if (Mage::getStoreConfigFlag('gomage_navigation/filter_settings/showpager')): ?>
        <div class="pager">
            <div class="count-container">
                <?php if($this->getLastPageNum()>1): ?>
                    <p class="amount amount--has-pages">
                        <?php echo $this->__('%s-%s of %s', $this->getFirstNum(), $this->getLastNum(), $this->getTotalNum()) ?>
                    </p>
                <?php else: ?>
                    <p class="amount amount--no-pages">
                        <strong><?php echo $this->__('%s Item(s)', $this->getTotalNum()) ?></strong>
                    </p>
                <?php endif; ?>

                <div class="limiter">
                    <label><?php echo $this->__('Show') ?></label>
                    <select onchange="GomageNavigation.setNavigationUrl(this.value, false, true)" title="<?php echo $this->__('Results per page'); ?>">
                    <?php foreach ($this->getAvailableLimit() as  $_key=>$_limit): ?>
                        <option value="<?php echo $this->getLimitUrl($_key) ?>"<?php if($this->isLimitCurrent($_key)): ?> selected="selected"<?php endif ?>>
                            <?php echo $_limit ?>
                        </option>
                    <?php endforeach; ?>
                    </select>
                </div>
            </div>
            <?php echo $this->getPagerHtml() ?>
        </div>
    <?php endif; ?>
</div>
<?php endif ?>
