#wk_sbcom_history{
    font-size: 16pt;
    font-weight: bold;
    margin-top: 5px;
    padding: 0;
}


.wk_sbcom_onereply{
    box-shadow: 2px 2px 5px;
    margin: 10px;
}
.wk_sbcom_onereply_head{
    background: #96C986;
    height: 15px;
    padding: 10px;
    display: block;
}
.wk_sbcom_onereply_head_left{
    color: #000000;
    float: left;
    font-size: 10pt;
    font-weight: bold;
}
.wk_sbcom_onereply_head_right{
    color: #888888;
    float: right;
    font-size: 11pt;
    font-weight: bold;
}
.wk_sbcom_onereply_cntnt{
    /*background: #DFE8E6;*/
    font-family: tahoma;
    line-height: 25px;
    padding: 10px;
}
.wk_sbcom_onereply_customer{
    background: #B9CDF8 !important;
}
.wk_sbcom_onereply_admin{
    background: #FFE0B3 !important;
}
#wk_sbcom_conversation_container{
    margin-top: 10px;
}