<?php
    list($_imgWidth, $_imgHeight, $_columnWidth, $_productCollection) = Mage::helper('smartcatalog')->getTemplateData($this);
    $_displayShortDescription = Mage::helper('smartcatalog')->displayShortDescription();
    $_productList = $_productCollection->getItems();
?>

<?php if (!$_productCollection->getSize()): ?>
<p class="note-msg"><?php echo $this->__('There are no products matching the selection.') ?></p>
<?php else: ?>
<div class="category-products load-next-page-ajax-wrap ajax-page-update <?php echo "img_{$_imgWidth}_{$_imgHeight}"; ?>">

    <?php echo $this->getToolbarHtml() ?>

    <?php // List mode ?>

    <?php if ($this->getMode() != 'grid'): ?>

    <ol class="products-list load-next-page-ajax-list">
    <?php foreach ($_productList as $_product): ?>

        <li class="item">
            <?php // Product Image ?>
            <a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $this->htmlEscape($this->getImageLabel($_product, 'small_image')) ?>" class="product-image">
                <?php if ($_imgWidth && $_imgHeight) : ?>
                <img src="<?php echo $this->helper('catalog/image')->init($_product, 'small_image')->resize($_imgWidth, $_imgHeight); ?>" width="<?php echo $_imgWidth; ?>" height="<?php echo $_imgHeight; ?>" alt="<?php echo $this->htmlEscape($this->getImageLabel($_product, 'small_image')) ?>" />
                <?php else : ?>
                <img src="<?php echo $this->helper('catalog/image')->init($_product, 'small_image'); ?>" alt="<?php echo $this->htmlEscape($this->getImageLabel($_product, 'small_image')) ?>" />
                <?php endif; ?>
            </a>
            <?php // Product description ?>
            <div class="product-shop">
                <div class="f-fix">
                    <h2 class="product-name"><a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $this->htmlEscape($_product->getName()) ?>"><?php echo $this->htmlEscape($_product->getName()) ?></a></h2>
                    <?php if($_product->getRatingSummary()): ?>
                    <?php echo $this->getReviewsSummaryHtml($_product) ?>
                    <?php endif; ?>
<!--                     <?php echo $this->getPriceHtml($_product, true) ?>
                    <?php if($_product->isSaleable()): ?>
                        <p><button type="button" title="<?php echo $this->__('Add to Cart') ?>" class="button btn-cart" onclick="setLocation('<?php echo $this->getAddToCartUrl($_product) ?>')"><span><span><?php echo $this->__('Add to Cart') ?></span></span></button></p>
                    <?php else: ?>
                        <p class="availability out-of-stock"><span><?php echo $this->__('Out of stock') ?></span></p>
                    <?php endif; ?>
                    <div class="desc std">
                        <?php echo $_product->getShortDescription() ?>
                        <a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $this->htmlEscape($_product->getName()) ?>" class="link-learn"><?php echo $this->__('Learn More') ?></a>
                    </div> -->
<!--                     <ul class="add-to-links">
                        <?php if ($this->helper('wishlist')->isAllow()) : ?>
                            <li><a href="<?php echo $this->helper('wishlist')->getAddUrl($_product) ?>" class="link-wishlist"><?php echo $this->__('Add to Wishlist') ?></a></li>
                        <?php endif; ?>
                        <?php if($_compareUrl=$this->getAddToCompareUrl($_product)): ?>
                            <li><span class="separator">|</span> <a href="<?php echo $_compareUrl ?>" class="link-compare"><?php echo $this->__('Add to Compare') ?></a></li>
                        <?php endif; ?>
                    </ul> -->
                </div>
            </div>
        </li>

    <?php endforeach; ?>
    </ol>

    <?php else: ?>

    <?php // Grid Mode ?>

    <script type="text/javascript">document.documentElement.id = 'js'</script>
    <style type="text/css">#js .show_through_js {visibility: hidden; display: block; height: 0px; overflow: hidden;}</style>

    <div class="smart-columns smart-columns-list load-next-page-ajax-grid <?php echo "img_{$_imgWidth}_{$_imgHeight}"; ?>">
        <div class="smartcolumns-splash"><?php echo $this->__('Loading...') ?></div>

        <ul class="products-grid smart show_through_js">
        <?php foreach ($_productList as $_product): ?>

            <li class="item">

                <div class="item-content">

                    <a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $this->htmlEscape($this->getImageLabel($_product, 'small_image')) ?>" class="product-image">
                        <?php if ($_imgWidth && $_imgHeight) : ?>
                        <img src="<?php echo $this->helper('catalog/image')->init($_product, 'small_image')->resize($_imgWidth, $_imgHeight); ?>" width="<?php echo $_imgWidth; ?>" height="<?php echo $_imgHeight; ?>" alt="<?php echo $this->htmlEscape($this->getImageLabel($_product, 'small_image')) ?>" />
                        <?php else : ?>
                        <img src="<?php echo $this->helper('catalog/image')->init($_product, 'small_image'); ?>" alt="<?php echo $this->htmlEscape($this->getImageLabel($_product, 'small_image')) ?>" />
                        <?php endif; ?>
                    </a>
                    <h2 class="product-name"><a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $this->htmlEscape($_product->getName()) ?>"><?php echo $this->htmlEscape($_product->getName()) ?></a></h2>
                    <?php if ($_product->getRatingSummary()): ?>
                    <?php echo $this->getReviewsSummaryHtml($_product, 'short') ?>
                    <?php endif; ?>
                    <!-- <?php echo $this->getPriceHtml($_product, true) ?> -->
<!--                     <?php if ($_displayShortDescription) : ?>
                    <div class="short-description">
                        <?php echo $_product->getShortDescription(); ?>
                    </div>
                    <?php endif; ?>
                    <div class="actions">
                        <?php if($_product->isSaleable()): ?>
                            <button type="button" title="<?php echo $this->__('Add to Cart') ?>" class="button btn-cart" onclick="setLocation('<?php echo $this->getAddToCartUrl($_product) ?>')"><span><span><?php echo $this->__('Add to Cart') ?></span></span></button>
                        <?php else: ?>
                            <p class="availability out-of-stock"><span><?php echo $this->__('Out of stock') ?></span></p>
                        <?php endif; ?>
                        <ul class="add-to-links">
                            <?php if ($this->helper('wishlist')->isAllow()) : ?>
                                <li><a href="<?php echo $this->helper('wishlist')->getAddUrl($_product) ?>" class="link-wishlist"><?php echo $this->__('Add to Wishlist') ?></a></li>
                            <?php endif; ?>
                            <?php if($_compareUrl=$this->getAddToCompareUrl($_product)): ?>
                                <li><span class="separator">|</span> <a href="<?php echo $_compareUrl ?>" class="link-compare"><?php echo $this->__('Add to Compare') ?></a></li>
                            <?php endif; ?>
                        </ul>
                    </div> -->

                </div>

            </li>

            <?php endforeach ?>
        </ul>
    </div>

    <?php endif; ?>

    <div class="toolbar-bottom">
        <?php echo $this->getToolbarHtml() ?>
    </div>

    <script type="text/javascript">
        var wpSmartColumnsInit = function() {
            jqSmartCatalog('div.smart-columns-list').wpSmartColumns({columnWidth: <?php echo $_columnWidth; ?>});
            jqSmartCatalog('.products-list').wpDecorateLists({'type': 'list'});
        }
        jqSmartCatalog(document).ready(function() {
            wpSmartColumnsInit();
        });
        jQuery(document).bind('m-ajax-after', function (e, selectors, url, action) {
            wpSmartColumnsInit();
        });
    </script>
</div>
<?php endif; ?>
