<?php

require_once 'app/Mage.php';


umask(0);

Mage::app('default');

Mage::getSingleton('core/session', array('name' => 'frontend'));

$sessionCustomer = Mage::getSingleton("customer/session");

// if($sessionCustomer->isLoggedIn()) {
//   echo "Logged";
// } else {
//    echo "Not Logged";
// }

$ur = Mage::helper('core/url')->getCurrentUrl();
//$ur = "http://tin9x.vn/index.php/chair.html";

$manglike = $this->helper('productvote/data')->getlike($ur);

$facebook = Mage::getStoreConfig('productvote/product_general/facebook');
$tweet = Mage::getStoreConfig('productvote/product_general/tweet');
$goo = Mage::getStoreConfig('productvote/product_general/goo');
$trang = Mage::getStoreConfig('productvote/product_general/trang');
$tumblr = 1; //set tumblr as enable
$configmodule = Mage::getStoreConfig('productvote/product_general/enable');
if($configmodule==1){
$provote = $this->numberlikeblock();
$_product = $this->getProduct();
$idproduct = $_product->getId();
$nameproduct = $_product->getName();
$statusproduct = $this->helper('productvote/data')->enablevote($idproduct);
if($statusproduct=='Enable'){
?>

<script type="text/javascript">   
    var id = <?php echo $idproduct; ?>;
    var name = "<?php echo $nameproduct; ?>";
    var fa = <?php if($manglike["face"]) echo $manglike["face"]; else echo 0; ?>;
    var twee = <?php if($manglike["tweet"]) echo $manglike["tweet"]; else echo 0; ?>;
    var gcong = <?php if($manglike["gcong"]) echo $manglike["gcong"]; else echo 0; ?>;
    var url_requestlike = '<?php echo $this->getUrl('routeurfrontend/index/like') ?>';  
    var url_request1 = '<?php echo $this->getUrl('routeurfrontend/index/changedislike') ?>';   
    var url_login = '<?php echo $this->getUrl('routeurfrontend/index/login') ?>'; 
    var url_load = '<?php echo $this->getUrl('routeurfrontend/index/loadpage') ?>'; 
	var url_xoa = '<?php echo $this->getUrl('routeurfrontend/index/deleteko') ?>'; 
    var url_logout = '<?php echo $this->getUrl() ?>'; 

    var url_hitinfo = '<?php echo $this->getUrl('browser/index/hitinfo') ?>';
    var url_updateinfo = '<?php echo $this->getUrl('browser/index/updateinfo') ?>';

//<![CDATA[
  (function() {
    var s = document.createElement('script'); s.type = 'text/javascript'; s.async = true;
    s.src = "<?php echo $this->getSkinUrl('js/count.js') ?>";
    var x = document.getElementsByTagName('script')[0]; x.parentNode.insertBefore(s, x);
  })();
//]]>
</script>

<style>
/*
.product-view .product-img-box {position: relative;}
.product-view .product-img-box .add-social-media {position: absolute; bottom: 0; width: 100%; background:#444; color:#fff; opacity:0.8; filter:alpha(opacity=80); /* For IE8 and earlier */}
.addthis_toolbox ul li {float: left; padding-right:10px; padding-top: 5px;}
.addthis_toolbox ul li#voteimg {float: right;}
*/
</style>

<div id="box-up"> 
    <div style="display: none;" class="alProgressBar alPopup">
    <div class="Shadow"></div>
    <div class="loading-mask">
        <p id="loading_mask_loader" class="loader"><img alt="Loading..." src="<?php echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_MEDIA) . 'productvote/loading.gif'; ?>"><br><?php echo __('Please wait...') ?></p>
    </div>
</div>
    <!-- start  mang xa hoi -->
	<script>
		jQuery(window).load(function(){
			jQuery("div.pluginCountBox").css("height","17px");
		});
	</script>

    <div class="addthis_toolbox product-addthis">
    <ul>
    <li>SHARE</li>
	<?php if($facebook==1){ ?>
    <li><a class="addthis_button_facebook"></a></li>
	<?php } if($tweet==1) { ?>
    <li><a class="addthis_button_twitter"></a></li>
	<?php } if($goo==1){ ?>
    <li><a class="addthis_button_pinterest_share"></a></li>
    <?php } if($tumblr==1){ ?>
    <li><a class="addthis_button_tumblr"></a></li>
    <?php } if($trang==1){ ?>
    <!--end mang xa hoi -->
    <?php  
        if($sessionCustomer->isLoggedIn()) {
    ?>
    <li id="voteimg">
        <div id="likepage" class="box-d bl" title="Like on page!">
            <a href="#" id="likepage1" onclick="return false;">
                <img src="<?php echo $this->getSkinUrl('images/icon-star.png'); ?>"/>
            </a>    
        </div>
        <div id="like" class="box-d bl" style="display: none;">
            <a href="#" id="like1" onclick="return false;">
                <img src="<?php echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_MEDIA) . 'productvote/like.png'; ?>"/>
            </a>
           
        </div>
    </li>
    <?php  
    } else {
    ?>
<!--echo "Not Logged"; -->
    <li id="voteimg">
        <a title="Login" href="#" data-reveal-id="login" data-animation="fade">
        <!-- <a title="Login" href="#" data-reveal-id="login" data-animation="fade">Log in</a> -->
                <img src="<?php echo $this->getSkinUrl('images/icon-star.png'); ?>"/>
        </a>  
    </li> 
   <?php  
    }
   ?>
    
	<?php } ?>
    </ul>
    </div>

    <script type="text/javascript">var addthis_config = {"data_track_addressbar":false};</script> 
    <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js"></script> 


<div id="loin">
<div id="popup-bg"></div>
<div id="popup">
    <div id="popup-header"><?php echo $this->__('Login') ?><span id="popup-close" title="Close">x</span></div>

            <div id="cmsmart-popup-content">
                <div class=""></div>
                <p>If you have an account with us, please log in.</p>
                <div class="cmsmart-error-ajax-login" id="cmsmart-error"></div>
                <div class="cmsmart-row-input">
                    
                    <input type="text" id="cmsmart-email-login" class="cms-iplogin cms-setupinput required" name="cmsmart-email-login" placeholder="Email Address">
					<div><img alt="" style="margin-left: 4px; position: absolute;" src="<?php echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_MEDIA) . 'productvote/user.png'; ?>"> </div>
                    <div class="cmsmart-error-email-login" id="cmsmart-error" style="color: #ff7e00;"></div>              
                </div>
                <div class="cmsmart-row-input">
                    
                    <div><input type="password" id="cmsmart-password-login" class="cms-iplogin cms-setupinput" name="cmsmart-password-login" placeholder="Password"></div>
					<div><img style="margin-left: 4px; position: absolute;" src="<?php echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_MEDIA) . 'productvote/clock.png'; ?>"></div>
                    <div class="cmsmart-error-password-login" id="cmsmart-error" style="color: #ff7e00;"></div>            
                </div>
                <div class="cmsmart-row-input">
                     <a href="<?php echo Mage::getBaseUrl()."customer/account/create/"; ?>" id="cmsmart-quicklogin-register">Create an Account</a></br>
					<a href="<?php echo Mage::getBaseUrl()."customer/account/forgotpassword/"; ?>" id="cmsmart-quicklogin-resetpassword">Forgot Your Password?</a>
                    <p>
                        <button id="loginvote" type="button" class="button-cmsmart cmsmart-quicklogin-login"><img align="absmiddle" src="<?php echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_MEDIA) . 'productvote/shape.png'; ?>">
                            Login</button>
                    </p>

                    <p></p>
                </div>
                  </div>
    
        </div>
<div id="xuly" style="display: none;"><img align="absmiddle" src=""></div>
    </div>
</div>
<?php
}
}
?>