<?php $config  = $this->getConfig(); ?>
<?php if (Mage::helper('customer')->isLoggedIn() != true) : ?>  
    <div id="cmsmart-popup-bg"></div>
<div style="display: none;" class="alProgressBar alPopup">
    <div class="Shadow"></div>
    <div class="loading-mask">
        <p id="loading_mask_loader" class="loader"><img alt="Loading..." src="<?php echo $this->getSkinUrl('css/cmsmart/quicklogin/images/loading.gif') ?>"><br><?php echo __('Please wait...') ?></p>
    </div>
</div>
        <div id="cmsmart-popup-login" class="cmsmart-popup">
            <div id="cmsmart-popup-header"><strong><?php echo $this->__('Login') ?></strong><span id="cmsmart-popup-close" title="Close">x</span>
            <?php  if($config["type"] == 2){ ?><div class="cms-shape"></div><?php } ?>
            </div>
            <div id="cmsmart-popup-content">
                <div class=""></div>
                <p><?php echo $this->__('If you have an account with us, please log in.') ?></p>
                 <div class="cmsmart-error-ajax-login" id="cmsmart-error"></div>
                <div class="cmsmart-row-input">
                    <div class="shape-username"><img alt="" src="<?php if($config["defaultimg"] != 1){ echo Mage::getBaseUrl('media')."cmsmart/quicklogin/".$config["imguser"]; } else {echo Mage::getBaseUrl('media')."cmsmart/quicklogin/default/user.png";} ?>" /></div>
                    <input type="text" id="cmsmart-email-login" class="cms-iplogin cms-setupinput" name="cmsmart-email-login" placeholder="<?php echo $this->__('Email Address'); ?>" />
                    <div class="cmsmart-error-email-login" id="cmsmart-error"></div>              
                </div>
                <div class="cmsmart-row-input">
                    <div class="shape-username shapepass"><img src="<?php if($config["defaultimg"] != 1){ echo Mage::getBaseUrl('media')."cmsmart/quicklogin/".$config["imgclock"]; } else {echo Mage::getBaseUrl('media')."cmsmart/quicklogin/default/clock.png";} ?>" /></div>
                    <input type="password"  id="cmsmart-password-login" class="cms-iplogin cms-setupinput" name="cmsmart-password-login"  placeholder="<?php echo $this->__('Password'); ?>" />
                    <div class="cmsmart-error-password-login" id="cmsmart-error"></div>            
                </div>
                 <div class="cmsmart-row-input">
                    <p> <a href="#tips" id="cmsmart-quicklogin-register"><?php echo $this->__('Create an Account') ?></a><span style="margin-left:55px;"><a href="#tips" id="cmsmart-quicklogin-resetpassword"><?php echo $this->__('Forgot Your Password?') ?></a></span></p>
                <p>
                     <span class="required"><?php echo $this->__('* Required Fields') ?></span>
                     <button type="button" class="button-cmsmart cmsmart-quicklogin-login" ><img align="absmiddle" src="<?php if($config["defaultimg"] != 1){ echo Mage::getBaseUrl('media')."cmsmart/quicklogin/".$config["imgshape"]; } else {echo Mage::getBaseUrl('media')."cmsmart/quicklogin/default/shape.png";} ?>" />
                       <?php echo $this->__('Login') ?></button>
                        </p>
                
                </p>
            </div>

               
            </div>
        </div>
    <div id="cmsmart-popup-register" class="cmsmart-popup">
        <div id="cmsmart-popup-header"><strong><?php echo $this->__('Create an Account') ?></strong><span id="cmsmart-popup-close" title="Close">x</span>
              <?php  if($config["type"] == 2){ ?>
             <div class="cms-shape"></div>   
             <?php } ?>
        </div>
        <div id="cmsmart-popup-content">
            <div class="cmsmart-create-form">
                <div class="cmsmart-error-ajax-register" id="cmsmart-error"></div>
                   
                <div class="cmsmart-row-input">
                    <label for="cmsmart-firstname"><?php echo $this->__('First Name') ?> <em>*</em></label>
                    <input type="text" id="cmsmart-firstname" name="cmsmart-firstname" class="cmsmart-input-text cms-setupinput"/>
                    <div class="cmsmart-error-firstname" id="cmsmart-error"></div>            
                </div>
                <div class="cmsmart-row-input">
                    <label for="cmsmart-lastname"><?php echo $this->__('Last Name') ?> <em>*</em></label>
                    <input type="text" id="cmsmart-lastname" name="cmsmart-lastname" class="cmsmart-input-text cms-setupinput" />
                    <div class="cmsmart-error-lastname" id="cmsmart-error"></div>            
                </div>
                 <div class="cmsmart-row-input">
                    <label for="cmsmart-email"><?php echo $this->__('Email Address') ?> <em>*</em></label>
                    <input type="text" id="cmsmart-email" name="cmsmart-email" class="cmsmart-input-text cms-setupinput" />
                    <div class="cmsmart-error-email" id="cmsmart-error"></div>            
                </div>
                <div class="cmsmart-row-input">
                      <label for="cmsmart-newsletter"><?php echo $this->__('Sign Up for Newsletter') ?></label>
                    <input type="checkbox" name="cmsmart-newsletter" title="<?php echo $this->__('Sign Up for Newsletter') ?>" value="1" class="cmsmart-checkbox" id="cmsmart-newsletter" />
                   
                </div>
                <div class="cmsmart-row-input">
                    <label for="cmsmart-password"><?php echo $this->__('Password') ?> <em>*</em></label>
                    <input type="password"  class="cmsmart-input-text cms-setupinput" id="cmsmart-password" name="cmsmart-password" value="" />
                    <div class="cmsmart-error-password" id="cmsmart-error"></div>            
                </div>
                 <div class="cmsmart-row-input">
                    <label for="cmsmart-confirmpassword"><?php echo $this->__('Confirm Password') ?> <em>*</em></label>
                    <input type="password"  class="cmsmart-input-text cms-setupinput"  id="cmsmart-confirmpassword" name="cmsmart-confirmpassword" value="" />
                    <div class="cmsmart-error-confirmpassword" id="cmsmart-error"></div>            
                </div>
                  <div class="cmsmart-row-input">
                 <p><button type="button" class="button-cmsmart cmsmart-quicklogin-create"><img align="absmiddle" src="<?php if($config["defaultimg"] != 1){ echo Mage::getBaseUrl('media')."cmsmart/quicklogin/".$config["imgshape"]; } else {echo Mage::getBaseUrl('media')."cmsmart/quicklogin/default/shape.png";} ?>" /><?php echo $this->__('Submit') ?></button><span class="required"><?php echo $this->__('* Required Fields') ?></span></p>
                  <p class="cmsmart-hr"><a href="#tips" id="cmsmart-quicklogin-login"><?php echo $this->__('Back to Login') ?></a></p>
                    </div>
                
            </div>
            
        </div>
    </div>
    <div id="cmsmart-popup-resetpas" class="cmsmart-popup">
        <div id="cmsmart-popup-header"><strong><?php echo $this->__('Forgot Your Password?') ?></strong><span id="cmsmart-popup-close" title="Close">x</span>
          <?php  if($config["type"] == 2){ ?>
             <div class="cms-shape"></div>   
             <?php } ?>
         </div>

        <div id="cmsmart-popup-content">
               <p><?php echo $this->__('Please enter your email address below. You will receive a link to reset your password.') ?></p>
               <div class="cmsmart-error-ajax-resetpassword" id="cmsmart-error"></div>
            <div class="cmsmart-row-input">
                    <label for="cmsmart-email-resetpassword"><?php echo $this->__('Email Address') ?> <em>*</em></label>
                    <input type="text"  class="cmsmart-input-text cms-setupinput" id="cmsmart-email-resetpassword" name="cmsmart-email" value="" />
                    <div class="cmsmart-error-email-resetpassword" id="cmsmart-error"></div>            
                </div>
            <div class="cmsmart-row-input">
            <p><button type="button" class="button-cmsmart cmsmart-quicklogin-resetpassword"><img align="absmiddle" src="<?php if($config["defaultimg"] != 1){ echo Mage::getBaseUrl('media')."cmsmart/quicklogin/".$config["imgshape"]; } else {echo Mage::getBaseUrl('media')."cmsmart/quicklogin/default/shape.png";} ?>" /><?php echo $this->__('Submit') ?></button>  <span class="required"><?php echo $this->__('* Required Fields') ?></span></p>
            <p class="cmsmart-hr"><a href="#tips" id="cmsmart-quicklogin-login"><?php echo $this->__('Back to Login') ?></a></p>
        </div>
        </div>
    </div>
   <?php endif ?>
    <style type="text/css">
    .cmsmart-popup{
        background: <?php echo $config['bgform']; ?>;
        color: <?php echo $config['colortext']; ?>;
       border: 1px solid <?php echo $config['boderform']; ?>;
       border-top: none;
    }

    .cmsmart-popup a{
         color: <?php echo $config['colorlink']; ?>;

    }
    .cmsmart-popup a:hover{
        color: <?php echo $config['colortext']; ?>;
    }
    #cmsmart-popup-header{
        background: <?php echo $config['bgtitle']; ?>;
        color: <?php echo $config['colortitle']; ?>;
    }
    #cmsmart-popup-close{
         color: <?php echo $config['colortitle']; ?>;
    }
    #cmsmart-popup-content{
        border-bottom:5px solid <?php echo $config['bgtitle']; ?>;

    }
    .button-cmsmart{
          color: <?php echo $config['colorbutton']; ?>;
          border: 1px  solid  <?php echo $config['borderbutton']; ?>;
          background: <?php echo $config['bgbutton']; ?>;
    }
    .active-lastlink{
/*        background: <?php echo $config['bgtitle']; ?>;*/
    }
 /*   .active-lastlink a{
        
            color: <?php echo $config['colortitle']; ?> !important;
            border-radius: 7px 7px 0 0;
            padding: 3px 0 10px 0;
            position: relative;
            text-decoration: none;
            z-index: 999999 !important;
    }*/
    .active-firstlink{
       /* background: <?php echo $config['bgtitle']; ?>;*/
    }
    /*.active-firstlink a{
         
            color: <?php echo $config['colortitle']; ?> !important;
            border-radius: 6px 6px 0 0;
            padding: 3px 0 10px 0;
            position: relative;
            text-decoration: none;
            z-index: 999999 !important;
    }*/
    .shape-username{
        background: <?php echo $config['bgtitle']; ?>;
    }
    .shapepass{
        background: <?php echo $config['bgpassicon']; ?>;
    }
    .cms-shape{
        border-bottom: 13px solid <?php echo $config['bgtitle']; ?>;
    }
    .cmsmart-hr{
    border-top: 1px dotted <?php echo $config['colortext']; ?>;
    }
    .cmsmart-row-input span.required{
        color: <?php echo $config['colorerror']; ?>;
    }
    .cmsmart-row-input label em{
        color: <?php echo $config['colorerror']; ?>;
    }
    #cmsmart-error{
        color: <?php echo $config['colorerror']; ?>;
    }
    .cms-setupinput{
        border:1px solid <?php echo $config['bginput']; ?>; 
    }
    .cmsmart-popup ul li{
        border-bottom: 1px dotted <?php echo $config['colorlink']; ?>;
    }
     #cmsmart-error p {
        display: block;
        border: 1px solid <?php echo $config['colorerror']; ?>;
        text-align: center;
        line-height: 18px;  
    }

    </style>
    <script type="text/javascript">
     
    var baseUrl =  '<?php  echo Mage::getBaseUrl(); ?>';  
   
    var loginSuccessUrl = '<?php  if($config["loginredirect"] == 1){
                                echo "1";
                                    }
                                else {if($config["loginredirect"] == 2){
                                        echo Mage::getBaseUrl();}
                                    else{
                                        echo Mage::getBaseUrl().$config["loginspecified"];}} ?>';
    var registerSuccessUrl = '<?php  if($config["registerredirect"] == 1){  echo "1";}
                            else {if($config["registerredirect"] == 2){
                                    echo Mage::getBaseUrl();}
                                else{
                                    echo Mage::getBaseUrl().$config["registerspecified"];}} ?>';                                   
    var forgotSuccessUrl = '<?php  if($config["forgotredirect"] == 1){ echo "1"; }
                             else {if($config["forgotredirect"] == 2){
                                     echo Mage::getBaseUrl();}
                                 else{
                                     echo Mage::getBaseUrl().$config["forgotspecified"];}} ?>';  
    var welcome = "<?php echo $this->__('Welcome'); ?>"                                
    var cmsmartRequired = "<?php echo $this->__('This is a required field.'); ?>";
    var cmsmartInvalidemail = "<?php echo $this->__('Please enter a valid email address. For example johndoe@domain.com.'); ?>";
    var cmsmartShortpass = "<?php echo $this->__('Please enter 6 or more characters. Leading or trailing spaces will be ignored.'); ?>";
    var cmsmartConfirmpassword = "<?php echo $this->__('Please make sure your passwords match.'); ?>";
    var cmsmartErrorlogin = "<span></span><?php echo $this->__('Invalid login or password.'); ?>";
    var cmsmartErrorEmailNotex = "<?php echo $this->__('Email is not existed.'); ?>";
    var cmsmartErrorCreate = "<?php echo $this->__('There is already an account with this email address.'); ?>";
    var RegisterSuccessText = "<?php echo $this->__('Thank you for registering with Main Website Store.'); ?>";
    var loginSuccessText = "<?php echo $this->__('Login success.'); ?>";
    var forgotSuccessText = "<?php echo $this->__('A new password was sent.'); ?>";
    var cmsmartEffect = '<?php echo $config["effect"]; ?>';   
    var cmsmartTypepopup =  '<?php echo $config["type"]; ?>';    
    var showMyaccount =  '<?php echo $config["show_myaccount"]; ?>';                          
</script>
 
