<?php
$provote = $this->numberlikeblock();
$_product = $this->getProduct();
$idproduct = $_product->getId();
$nameproduct = $_product->getName();
?>
<script type="text/javascript">   
    var id = <?php echo $idproduct; ?>;
    var name = '<?php echo $nameproduct; ?>';
    var url_request = '<?php echo $this->getUrl('routeurfrontend/index/changelike') ?>';    
    var url_request1 = '<?php echo $this->getUrl('routeurfrontend/index/changedislike') ?>';    
</script>
<div class="box-social" id="tong">    
<!--   <div class="face social"><div class="fb-like" data-href="<?php /* echo Mage::helper('core/url')->getCurrentUrl(); */ ?>" data-layout="button_count" data-action="like" data-show-faces="true" data-share="false"></div>
        <div id="fb-root"></div>
        <script>(function(d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/en_us/all.js#xfbml=1";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));</script>
    </div>
    <div class="twitter social">
        <a href="<?php /*  echo Mage::helper('core/url')->getCurrentUrl();  */ ?>" class="twitter-share-button">Tweet</a>
        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
    </div>

    <div class="google social">
        <div class="g-plusone" data-size="medium"></div>
        <script type="text/javascript">
        (function() {
            var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
            po.src = 'https://apis.google.com/js/platform.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
        })();
        </script>
    </div>-->
    <div id="tong1" class="social">
        <a href="#" id="hee" onclick="return false;">
            <img src="<?php echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_MEDIA) . 'productvote/like.png'; ?>" height="22px" width="50px" />
        </a>   
            <img src="<?php echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_MEDIA) . 'productvote/numlike.png'; ?>" height="24px" width="50px" />
            <span class="like"><?php echo $provote;?></span>
    </div>
    <div id="tong111" class="social">
        <a href="#" id="hee1" onclick="return false;">
            <img src="<?php echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_MEDIA) . 'productvote/dislike.png'; ?>" height="22px" width="50px" />
        </a>   
            <img src="<?php echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_MEDIA) . 'productvote/numlike.png'; ?>" height="24px" width="50px" />
            <span class="unlike"><?php echo $provote;?></span>
    </div>
</div> 
 