<meta property="og:title" content="<?php echo $this->getProductName(); ?>"/>
<meta property="og:image" content="<?php echo $this->getProductImage(); ?>"/>
<meta property="og:url" content="<?php echo $this->getProductUrl(); ?>"/>
<meta property="og:type" content="product"/>