<?php $collection = $this->getArtists() ?>

<input type="hidden" value="<?php echo $collection->getSize(); ?>" name="artistcount" class="artistcount">

<ul class="products-grid">
<?php $i = 0;
	if(count($collection)){
		foreach($collection as $seller) {
			$customerid=$seller->getMageuserid();
			$customer=Mage::getModel('customer/customer')->load($customerid);
			$logo=$seller->getlogopic()==''?"noimage.png":$seller->getlogopic();
			$logo=Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_MEDIA).'avatar/'.$logo;
	?>
	<li class="item even first" style="width: 275px; padding: 0px; margin: 0px;">
    	<div class="item-content">
			<a href="<?php echo  Mage::getUrl()."marketplace/seller/profile/".$seller->getProfileurl(); ?>" title="" class="product-image">
            	<img src="<?php echo $logo;?>" alt="<?php echo $customer->getFirstname()." ".$customer->getLastname(); ?>" title="<?php echo $customer->getFirstname()." ".$customer->getLastname(); ?>">
			</a>
            <h2 class="product-name"><a href="<?php echo  Mage::getUrl()."marketplace/seller/profile/".$seller->getProfileurl(); ?>"><?php echo $customer->getFirstname()." ".$customer->getLastname(); ?></a></h2>
   
		</div>
	</li>

<?php } } ?>
</ul>