<?php $cities = $this->getCities() ?>
<ul>
	<?php foreach($cities as $city) { 
		//$countryCode = $country->getBillingCountryId();
		//$countryModel = Mage::getModel('directory/country')->loadByCode($countryCode);
	?>
		<li data-citycode="<?php echo $city ?>"><?php echo $city ?></li>
	<?php } ?>
</ul>