<?php $countries = $this->getCountries() ?>
<ul>
	<?php foreach($countries as $country) { 
		//$countryCode = $country->getBillingCountryId();
		//$countryModel = Mage::getModel('directory/country')->loadByCode($countryCode);
		$countryName = Mage::app()->getLocale()->getCountryTranslation($country);
	?>
		<li data-countrycode="<?php echo $country ?>"><?php echo $countryName ?></li>
	<?php } ?>
</ul>