<div class="top-region">
	<div class="left-region">
<!-- 		<h2>Filter By:</h2> -->
		<ul class="mainfilter">
			<li class="categoryfilter">Categories</li>
			<li class="artistfilter">Artist</li>
		</ul>

		<a href="#" class="clearfilter">clear</a>
	</div>

	<div class="right-region">

		<div class="filterlevel1">

		</div>


		<div class="filterlevel2">

		</div>

	</div>
</div>

<div class="clear"></div>

<div class="bottom-region">
	<p>SHOWING <span class="count"></span></p>
	<div class="smfilter">
		<select name="sortbycategory" class="sortcategory" style="display:none;">
			<option value="">Sort By</option>
			<option value="nameup">Name A to Z</option>
			<option value="namedown">Name Z to A</option>
			<option value="priceup">Price Low to High</option>
			<option value="pricedown">Price High to Low</option>
		</select>
		<select name="sortbyartist" class="sortartist" style="display:none;">
			<option value="">Sort By</option>
			<option value="nameup">Name A to Z</option>
			<option value="namedown">Name Z to A</option>
		</select>
	</div>
	<div class="clear"></div>

	<div class="productlist"></div>

	<div class="ajaxloader">
		<img src="<?php echo $this->getSkinUrl('images/ajax-loader.gif') ?>"/>
	</div>
</div>


<script>

jQuery(document).ready(function($) {
	// Variables
	var subcategoryUrl = "<?php echo $this->getUrl('browser/index/subcategory/')?>";
	var categoryproductsUrl = "<?php echo $this->getUrl('browser/index/categoryproducts/')?>";
	var artistcountriesUrl = "<?php echo $this->getUrl('browser/index/artistcountries/')?>";
	var artistcitiesUrl = "<?php echo $this->getUrl('browser/index/artistcities/')?>";
	var artistlistUrl = "<?php echo $this->getUrl('browser/index/artistlist/')?>";
	var artistlistcityUrl = "<?php echo $this->getUrl('browser/index/artistlistcity/')?>";
	var rootcategoryId = 2;
	var defaultcountryCode = "";
	var perpage = 12;
	var current_filter = "category";
	var current_id = "";
	var current_sort = "";


	// Functions
	function loadFirstLevelCategory() {
			$.ajax({
	            url: subcategoryUrl,
	            type: 'POST',
	            data: {id: rootcategoryId},
	            success: function(data) {
	            	var response = jQuery.parseJSON(data);
	            	if(response.subcategories) {
	            		$('.filterlevel1').html(response.subcategories);
	            	}
	            	$('.filterlevel2').html('');
	        	}
	    });
	}

	function loadSecondLevelCategory(id) {
			$.ajax({
	            url: subcategoryUrl,
	            type: 'POST',
	            data: {id: id},
	            success: function(data) {
	            	var response = jQuery.parseJSON(data);
	            	if(response.subcategories) {
	            		$('.filterlevel2').html(response.subcategories);
	            	} else {
	            		$('.filterlevel2').html('');
	            	}

	        	}
	    });		
	}

	function loadCategoryProducts(id, page) {
		$.ajax({
	            url: categoryproductsUrl,
	            type: 'POST',
	            data: {id: id, page: page, perpage: perpage, sortby: current_sort},
	            success: function(data) {
	            	var response = jQuery.parseJSON(data);

	            	if(page == 1) {
	            		$('.productlist').hide().html(response.productlist).fadeIn();
	            	} else {
		            	$('.productlist').append(response.productlist).fadeIn();
		            }
		            if($('.productlist').find('.productcount')) {
	            		var count = $('.productlist').find('.productcount').val();
	            		$('.count').html(count);
	            	}
	            	$('.ajaxloader').hide();

	            	var totalpage = parseInt(count / perpage);
	            	if(count % perpage > 0) totalpage++;
	            	if(page == totalpage) {
						$('.productlist .more_product').remove();
	            	} else if(page < totalpage) {
	            		$('.productlist').append("<a href='#' class='more_product' data-categoryid='"+id+"' data-page='"+(page+1)+"'>Load More</a>");
	            	}
	        	}
	    });

	    current_filter = 'category';
	    current_id = id;
	    $('.smfilter select.sortcategory').show();
	    $('.smfilter select.sortartist').hide();
	}

	function loadArtistCountries() {
		$.ajax({
	            url: artistcountriesUrl,
	            success: function(data) {
	            	var response = jQuery.parseJSON(data);
	            	if(response.countries) {
	            		$('.filterlevel1').html(response.countries);
	            		$('.filterlevel2').html('');
	            	}

	        	}
	    });
	}

	function loadArtistCities(code) {
		$.ajax({
	            url: artistcitiesUrl,
	            type: 'POST',
	            data: {code: code},
	            success: function(data) {
	            	var response = jQuery.parseJSON(data);
	            	if(response.cities) {
	            		$('.filterlevel2').html(response.cities);
	            	} else {
	            		$('.filterlevel2').html('');
	            	}

	        	}
	    });		

	}

	function loadArtistList(code, page) {
		$.ajax({
	            url: artistlistUrl,
	            type: 'POST',
	            data: {code: code, page: page, perpage: perpage, sortby: current_sort},
	            success: function(data) {
	            	var response = jQuery.parseJSON(data);

	            	if(page == 1) {
	            		$('.productlist').hide().html(response.artistlist).fadeIn();
	            	} else {
	            		$('.productlist').append(response.artistlist).fadeIn();
	            	}
	            	if($('.productlist').find('.artistcount')) {
	            		var count = $('.productlist').find('.artistcount').val();
	            		$('.count').html(count);
	            	}
	            	$('.ajaxloader').hide();

	            	
	            	var totalpage = parseInt(count / perpage);
	            	if(count % perpage > 0) totalpage++;
	            	if(page == totalpage) {
						$('.productlist .more_artist').remove();
	            	} else if(page < totalpage) {
	            		$('.productlist').append("<a href='#' class='more_artist' data-code='"+code+"' data-page='"+(page+1)+"'>Load More</a>");
	            	}
	        	}
	    });

	    current_filter = 'artist';
	    current_id = code;
	    $('.smfilter select.sortcategory').hide();
	    $('.smfilter select.sortartist').show();
	}


	function loadArtistListByCity(code, page) {
		$.ajax({
	            url: artistlistcityUrl,
	            type: 'POST',
	            data: {code: code, page: page, perpage: perpage, sortby: current_sort},
	            success: function(data) {
	            	var response = jQuery.parseJSON(data);

	            	if(page == 1) {
	            		$('.productlist').hide().html(response.artistlist).fadeIn();
	            	} else {
	            		$('.productlist').append(response.artistlist).fadeIn();
	            	}
	            	if($('.productlist').find('.artistcount')) {
	            		var count = $('.productlist').find('.artistcount').val();
	            		$('.count').html(count);
	            	}
	            	$('.ajaxloader').hide();

	            	
	            	var totalpage = parseInt(count / perpage);
	            	if(count % perpage > 0) totalpage++;
	            	if(page == totalpage) {
						$('.productlist .more_artist').remove();
	            	} else if(page < totalpage) {
	            		$('.productlist').append("<a href='#' class='more_artist' data-code='"+code+"' data-page='"+(page+1)+"'>Load More</a>");
	            	}
	        	}
	    });

	    current_filter = 'artist_city';
	    current_id = code;
	    $('.smfilter select.sortcategory').hide();
	    $('.smfilter select.sortartist').show();
	}


	function preloadAjax() {
		$('.productlist').hide();
	    $('.ajaxloader').show();
	}


	// Events
	$('.mainfilter li').on('click', function() {
		current_sort = "";
		$('.smfilter select').val('');
		$(this).addClass('active');
		if($(this).text() == "Categories") {
			preloadAjax();
			loadFirstLevelCategory();
			loadCategoryProducts(rootcategoryId, 1);
		} else {
			preloadAjax();
			loadArtistCountries();
			loadArtistList(defaultcountryCode, 1);
		}
	})

	$('.filterlevel1 li').live('click', function() {
		preloadAjax();
		if(current_filter == 'category') {
			var id = $(this).data('categoryid');
			loadSecondLevelCategory(id);
			loadCategoryProducts(id, 1);
		} else if(current_filter == 'artist' || current_filter == 'artist_city') {
			var code = $(this).data('countrycode');
			loadArtistCities(code);
			loadArtistList(code, 1);
		}
	})

	$('.filterlevel2 li').live('click', function() {
		preloadAjax();
		if(current_filter == 'category') {
			loadCategoryProducts($(this).data('categoryid'), 1);
		} else if(current_filter == 'artist' || current_filter == 'artist_city') {
			loadArtistListByCity($(this).data('citycode'), 1);
		}
	})

	$('.more_product').live('click', function(e) {
		e.preventDefault();
		$(this).hide();
		$('.ajaxloader').show();
		loadCategoryProducts($(this).data('categoryid'), $(this).data('page'));
	})

	$('.more_artist').live('click', function(e) {
		e.preventDefault();
		$(this).hide();
		$('.ajaxloader').show();
		if(current_filter == 'artist') {
			loadArtistList($(this).data('code'), $(this).data('page'));
		} else if(current_filter == 'artist_city') {
			loadArtistListByCity($(this).data('code'), $(this).data('page'));
		}
	})

	$('.smfilter select').on('change', function(e) {
		e.preventDefault();
		if($(this).val()) {
			current_sort = $(this).val();
			preloadAjax();
			if(current_filter == 'category') {
				loadCategoryProducts(current_id, 1);
			} else if(current_filter == 'artist') {
				loadArtistList(current_id, 1);
			} else if(current_filter == 'artist_city') {
				loadArtistListByCity(current_id, 1);
			}
		}
	})

	<?php if($_GET['filterby'] == 'artist') { ?>
	$('.mainfilter li.artistfilter').trigger('click');
	<?php } else { ?>
	$('.mainfilter li.categoryfilter').trigger('click');
	<?php } ?>

	$('.clearfilter').on('click', function(e) {
		e.preventDefault();
		current_sort = "";
		$('.smfilter select').val('');
		if(current_filter == 'category') {
			$('.mainfilter li.categoryfilter').trigger('click');
		} else if(current_filter == 'artist') {
			$('.mainfilter li.artistfilter').trigger('click');
		}
	})
})


</script>