<?php $products = $this->getProducts() ?>

<input type="hidden" value="<?php echo $products->getSize(); ?>" name="productcount" class="productcount">

<ul class="products-grid">
<?php foreach($products as $product) { ?>
	<li class="item even first" style="width: 275px; padding: 0px; margin: 0px;">
    	<div class="item-content">
			<a href="<?php echo $product->getProductUrl(); ?>" title="<?php echo $product->getName();?>" class="product-image">
            	<img src="<?php echo Mage::helper('catalog/image')->init($product, 'small_image')->resize(135, 135); ?>" width="135" height="135" alt="Horse1">
			</a>
            <h2 class="product-name"><a href="<?php echo $product->getProductUrl(); ?>" title="<?php echo $product->getName();?>"><?php echo $product->getName();?></a></h2>
   
		</div>
	</li>
<?php } ?>
</ul>