<?php $categories = $this->getCategories() ?>
<ul>
	<?php foreach($categories as $category) { ?>
		<li data-categoryid="<?php echo $category->getId() ?>"><?php echo $category->getName() ?></li>
	<?php } ?>
</ul>