<?php
$isPartner= Mage::getModel('marketplace/userprofile')->isPartner();
$helper=Mage::helper('marketplace');
if($isPartner==1){ ?>
<script src="<?php echo $this->getSkinUrl('marketplace/js/jquery.min.js'); ?>" type="text/javascript"></script>
<script src="<?php echo $this->getSkinUrl('marketplace/js/jquery.jqplot.min.js'); ?>" type="text/javascript"></script>
<script src="<?php echo $this->getSkinUrl('marketplace/js/jqplot.logAxisRenderer.min.js'); ?>" type="text/javascript"></script>
<script src="<?php echo $this->getSkinUrl('marketplace/js/jqplot.canvasTextRenderer.min.js'); ?>" type="text/javascript"></script>
<script src="<?php echo $this->getSkinUrl('marketplace/js/jqplot.canvasAxisTickRenderer.min.js'); ?>" type="text/javascript"></script>
<script src="<?php echo $this->getSkinUrl('marketplace/js/jqplot.dateAxisRenderer.min.js'); ?>" type="text/javascript"></script>
<?php		
	$readresult=Mage::getModel('marketplace/saleslist')->getOrderdetails();
	$getDateDetail = Mage::getModel('marketplace/saleslist')->getDateDetail();
	$cur_symbol=Mage::app()->getLocale()->currency(Mage::app()->getStore()->getCurrentCurrencyCode())->getSymbol();
?>
	<div class="page-title">
		<h1><?php echo $helper->__('My Dashboard') ?></h1>
	</div>
	<button class="askque button"><span><?php echo $helper->__('Ask Question to Admin') ?></span></button>	
	<div class="fieldset">
		<h2 class="legend"><?php echo $helper->__('Your Income') ?></h2>
		<div class="wk_sales">
			 <div class="wk_todaysale"><?php echo  Mage::helper('core')->currency($getDateDetail['day'], true, false)?><span class="wk_sale_color"><?php echo $helper->__(' Today ') ?></span>
			 </div>
			 <div class="wk_weeksale"><?php echo Mage::helper('core')->currency($getDateDetail['week'], true, false); ?><span class="wk_sale_color"><?php echo $helper->__(' Week ') ?></span>
			 </div>
			 <div class="wk_monthsale"><?php echo Mage::helper('core')->currency($getDateDetail['month'], true, false); ?>
				<span class="wk_sale_color"><?php echo $helper->__(' Month ') ?></span>
			 </div>
		</div>
	</div>
	<div class="fieldset">
		<h2 class="legend"><?php echo $helper->__('Latest Order') ?></h2>
		<div class="wk_orderbox orderbox1">
			<?php if(count($readresult)==0){ ?>
				<div class="wk_emptymsg"><?php echo $helper->__("no order available"); ?></div>
			<?php }
			$m=0;
			foreach($readresult as $res){
				$order = Mage::getModel('sales/order')->load($res['mageorderid']);
				$status=$order->getStatus();
				$name=$order->getCustomerName();
				if($res['mageorderid']>0){ ?>
					<div class="wk_orderbox order">
						<div class="wk_dash_orderstatus">
							<label for="name" class="wk_dash_label">
								<div class="status <?php echo $status;?>"><?php echo strtoupper($status); ?> </div>
								<p class="order_date"><?php echo $res['cleared_at']; ?></p> 
							</label> 
						</div>
						<div class="wk_dash_orderstatus">
							<label for="name" class="wk_dash_label">
								<div class="color"><?php echo $helper->__("Order #").$res['magerealorderid']; ?></div>
								<div class="name"><?php  echo $helper->__("By")." ".$name; ?><br/>
								<?php $pname=explode(',',$res['mageproname']);
								
								  $pid=explode(',',$res['mageproid']);
								
									for($p=0;$p<count($pid);$p++){
										if($pname[$p]){?>
											<p class='product_label'>
												<?php echo  $pname[$p]?>
											</p>
										<?php
										 $proid[$m]=$pid[$p];
										}
									} ?>
								</div> 
							</label> 
						</div>
						<div class="wk_dash_orderstatus">
							<label for="name" class="wk_dash_label cost"><?php echo Mage::helper('core')->currency($res['actualparterprocost'], true, false);?> </label> 
						</div>
						<?php $isThisEnabled = Mage::helper('core/data')->isModuleOutputEnabled('Webkul_Mpshipping');
						if($isThisEnabled == 1){
							 if($status=='processing') {?>
								<a href="<?php echo $this->getUrl('mpshipping/shipping/invoice/').'id/'.$res['mageorderid']; ?>" class="tracking"><?php echo $helper->__('Generate Tracking Id') ?></a>
						<?php }
						} ?>
					</div>
					<div class="clear"></div>
				<?php }
			} ?>		
		</div>
	</div>
	<div class="fieldset">
		<h2 class="legend"><?php echo $helper->__('Latest Comments & Reviews') ?></h2>	
		<?php $ratings=array();
		$products=array();
		$rate=array();
		$userid=Mage::getSingleton('customer/session')->getCustomerId();
		$reviewcollection=Mage::getModel('marketplace/feedback')->getCollection();
		$reviewcollection=$reviewcollection
							->addFieldToFilter('proownerid',array('eq'=>$userid));
		$reviewcollection=$reviewcollection
								->addFieldToFilter('status',1)
								->setOrder('createdat','DESC')
								->setPageSize(5)
								->setCurPage(1);
		if(count($reviewcollection)==0){ ?>
			<div class="wk_emptymsg">
				<?php echo $helper->__('no comment & review available'); ?>
			</div>
		<?php }
		else{ ?>
			<div class="feedback-list">
				<?php foreach($reviewcollection as $keyed){   ?>	
					<div class="feedback-item">
						<div class="feedback">
							<div class="price">
								<h2><?php echo $helper->__('Price') ?> :</h2>
								<div class="ratingslider-box">
									<div class="rating" style="width:<?php echo ceil($keyed['feedprice']);?>%;"></div>
								</div>
								<div class="clear"></div>
							</div>
							<div class="value">
								<h2><?php echo $helper->__('Value') ?> :</h2>
								<div class="ratingslider-box" >
									<div class="rating" style="width:<?php echo ceil($keyed['feedvalue']);?>%;"></div>
								</div>
								<div class="clear"></div>
							</div>
							<div class="quality">
								<h2><?php echo $helper->__('Quality') ?> :</h2>
								<div class="ratingslider-box">
									<div class="rating" style="width:<?php echo ceil($keyed['feedquality']);?>%;"></div>
								</div>
								<div class="wk_clear"></div>
							</div>
						</div>
						<div class="buyer">
							<?php echo $helper->__('FeedBack By') ?> 
							<span>
							<?php 
								$feedcustomer = Mage::getModel('customer/customer')
																->load($keyed['userid']); 
								echo $feedcustomer['firstname'].' '.$feedcustomer['lastname'];  
							?>
							</span>
						</div>
						<div class="date">
							<?php echo $helper->__('Date') ?> 
							<span><?php echo $keyed['createdat']; ?></span>
						</div>
						<div class="RATING">
							<span title="" class="icon icon-fbk-pos hastip tooltipsy-init"></span>
						</div>
						<div class="comment"><?php echo $keyed['feedreview']; ?> </div>
					</div>
				<?php } ?>
			</div>
		<?php } ?>		
	</div>	
	<div class="fieldset">
		<h2 class="legend"><?php echo $helper->__('Sales Chart') ?></h2>	
		<div class="example-plot" id="chart2"></div>
	</div>
	<div id="ask_data"> 
		<div class="modal_header">
			<h3><?php echo $helper->__('Ask Question to Admin') ?>..</h3>
			<span  class="wk_close" >x</span>
			<span  class="clear" ></span>
		</div>
		<form id="ask_form" method="post" >
			<span class="label">
				<?php echo $helper->__('Subject') ?> :
			</span>
			<input type="text" name="subject" class="querysubject"/>
			<span class="label"> 
				<?php echo $helper->__('Ask') ?> :
			</span>
			<textarea  name="ask" class="queryquestion"></textarea>
			<input type="hidden" name="seller-id" value="<?php echo Mage::getSingleton('customer/session')->getCustomerId();?>"/>
			<div class="modal_footer">
				<span class="error"></span>
				<input type="reset" value="<?php echo $helper->__('Reset') ?>" id="resetbtn"/>
				<input type="button" value="<?php echo $helper->__('Ask') ?>" id="askbtn"/>
				<span class="clear"></span>
			</div>
		</form>
	</div>
<script class="code" type="text/javascript" language="javascript">
var $wk_jq= jQuery.noConflict();
(function($wk_jq){
	$wk_jq(function(){ 
    var data=JSON.parse('<?php echo Mage::getModel("marketplace/saleslist")->getMonthlysale() ?>');
    console.log(data);
	var line2 = [['1/1/<?php echo date("Y");?>',parseInt(data[1])], 
	             ['2/1/<?php echo date("Y");?>',parseInt(data[2])], 
				 ['3/1/<?php echo date("Y");?>',parseInt(data[3])], 
				 ['4/1/<?php echo date("Y");?>',parseInt(data[4])], 
				 ['5/1/<?php echo date("Y");?>',parseInt(data[5])], 
				 ['6/1/<?php echo date("Y");?>',parseInt(data[6])], 
				 ['7/1/<?php echo date("Y");?>',parseInt(data[7])], 
				 ['8/1/<?php echo date("Y");?>',parseInt(data[8])], 
				 ['9/1/<?php echo date("Y");?>',parseInt(data[9])], 
				 ['10/1/<?php echo date("Y");?>',parseInt(data[10])], 
				 ['11/1/<?php echo date("Y");?>',parseInt(data[11])], 
				 ['12/1/<?php echo date("Y");?>',parseInt(data[12])]
				]; 


    var plot2 = $wk_jq.jqplot('chart2', [line2], {
      axes: {
        xaxis: {
          renderer: $wk_jq.jqplot.DateAxisRenderer,
          label: 'Month',
          labelRenderer: $wk_jq.jqplot.CanvasAxisLabelRenderer,
          tickRenderer: $wk_jq.jqplot.CanvasAxisTickRenderer,
          tickOptions: {angle: 30}
        },
        yaxis: {
          label: 'Money',
          labelRenderer: $wk_jq.jqplot.CanvasAxisLabelRenderer
        }
      }
    });
	$wk_jq('.wrapper').append($wk_jq('#ask_data'));
	$wk_jq('.askque').click(function(){
			$wk_jq('#ask_form input,#ask_form textarea').removeClass('error_border');
			$wk_jq('.page').css('opacity','0.4');
			$wk_jq('#ask_data').show();
		});
		$wk_jq('.wk_close').click(function(){
			$wk_jq('.page').css('opacity','1');
			$wk_jq('#resetbtn').trigger('click');
			$wk_jq('#ask_data').hide();
		});
		$wk_jq('#askbtn').click(function(){
				var f=0;
				$wk_jq('#ask_form input,#ask_form textarea').each(function(){
					if($wk_jq(this).val()==''){
						$wk_jq(this).addClass('error_border');
						f++;
					}
				});
				if(f>0){
					$wk_jq('#ask_form .error').text("<?php echo $helper->__(' Fill all the fields ') ?>").slideDown('slow').delay(2000).slideUp('slow');
				}else{	
					$wk_jq('#ask_data').addClass('mail_procss');
					$wk_jq.ajax({
						url:'<?php echo Mage::getBaseUrl();?>marketplace/marketplaceaccount/askquestion',
						data:$wk_jq('#ask_form').serialize(),
						type:'post',
						dataType:'json',
						success:function(d){
							$wk_jq('#ask_data').removeClass('mail_procss')
							alert("<?php echo $helper->__(' Mail Send ') ?>");
							$wk_jq('.wk_close,#resetbtn').trigger('click'); 
						}
					});
			}	
		});	
	});
})($wk_jq);
</script>
<div class="buttons-set">
	<p class="back-link">
		<a href="javascript:;" onclick="javascript: window.history.back();" class="left">&laquo; <?php echo $helper->__('Back') ?></a>
	</p>
</div>
<?php }else{
	echo $helper->__("<h2 class='nofify'>FOR BECOME SELLER CONTACT TO ADMIN..</h2>");
}?>
