<?php
	$customerId = Mage::getSingleton('customer/session')->getCustomer()->getId();
	$isPartner= Mage::getModel('marketplace/userprofile')->isPartner();
	$allow_pro_type=Mage::getStoreConfig('marketplace/marketplace_options/allow_for_seller');
	if($isPartner==1 && strpos($allow_pro_type,'configurable') !== false){
?>
<script type="text/javascript">
	if (typeof jQuery == 'undefined'){
		document.write(unescape("%3Cscript src='http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js' type='text/javascript'%3E%3C/script%3E"));
	}
</script>
<?php $helper= Mage::helper('marketplace'); ?>

<div class="page-title">
	<h1><?php echo $helper->__("Manage Configurable Product's Attribute") ?></h1>
</div>
<div id="custwrap" >
	<form action="<?php echo $this->getUrl('marketplace/marketplaceaccount/createattribute') ?>" method="POST"  id="form-customer-attr-new">
		<input type="hidden" name="form_key" value="<?php echo Mage::getSingleton('core/session')->getFormKey(); ?>" />
		<div class="fieldset " id="associate_product">
			<h4 class="legend"><?php echo $helper->__('Create Attribute for Configurable Products') ?></h4>
			<ul class="form-list" id="cust">
				<?php 
				$entityTypeId = Mage::getModel('eav/entity')->setType('catalog_product')
															->getTypeId();
				$allowed=explode(',',Mage::getStoreConfig('marketplace/marketplace_options/attributesetid'));
				$attributeSetCollection = Mage::getModel('eav/entity_attribute_set')
								->getCollection()
								->addFieldToFilter('attribute_set_id',array('in'=>$allowed))
								->setEntityTypeFilter($entityTypeId);
				?>
				<li>
					<label class="required"><em>*</em><?php echo $helper->__('Attribute Set   :') ?></label>
					<div class="input-box">
						<select name="attribute_set_id">
							<?php 
							foreach ($attributeSetCollection as $attributeSet) { ?>
								<option value="<?php echo $attributeSet->getId();  ?>"><?php  echo $attributeSet->getAttributeSetName(); ?></option>
							<?php }?>
						</select>
					</div>
				</li>
				<?php 
				$grp = '';
				$id = '';
				$product = Mage::getModel('catalog/product')->getCollection()->getFirstItem();
				$groups = Mage::getModel('eav/entity_attribute_group')
	            ->getResourceCollection()
	            ->setAttributeSetFilter(4)
	            ->setSortOrder()
	            ->load();
				?>
				<li>
					<label class="required"><em>*</em><?php echo $helper->__('Attribute Group :') ?></label>
					<div class="input-box">
						<select name="AttributeGroupId">
							<?php 
							 foreach ($groups as $group) { ?>
								<option value="<?php echo $group->getAttributeGroupId(); ?>"><?php  echo $group->getAttributeGroupName(); ?></option>
							<?php }?>
						</select>
					</div>
				</li>
				<li>
					<label class="required"><em>*</em><?php echo $helper->__('Attribute Code :') ?></label>
					<div class="input-box">
						<input type="name" class="validate-code validate-length maximum-length-30 input-text required-entry" name="attribute_code" id="" />
					</div>
				</li>
				<li>
					<label class="required"><em>*</em><?php echo $helper->__('Attribute Label :') ?></label>
					<div class="input-box">
						<input type="name" class="required-entry widthinput" name="attribute_label" id="" />
					</div>
				</li>
				<li>
					<label class="required"><em>*</em><?php echo $helper->__('Catalog Input Type:') ?></label>
					<span class="required starimp"></span>
					<div class="input-box">
						<select id="frontend_input" class=" select" title="Catalog Input Type for Store Owner" name="frontend_input">
							<option value=""><?php echo $helper->__("--Select--"); ?></option>
							<option value="multiselect"><?php echo $helper->__("Multiple Select"); ?></option>
							<option value="select"><?php echo $helper->__("Dropdown"); ?></option>
						</select>
					</div>
				</li>
				<li>
					<label class="required"><em>*</em><?php echo $helper->__('Values Required:') ?></label>
					<div class="input-box">
						<select id="val_required" class="select val_required" title="Values Required" name="val_required">
							<option value="1"><?php echo $helper->__("Yes"); ?></option>
							<option selected="selected" value="0"><?php echo $helper->__("No"); ?></option>
						</select>
					</div>
				</li>
			</ul>	
			<div class="buttons-set">
				<p class="required">* <?php echo $helper->__('Required Fields') ?></p>
				<button class="button quickcreate"  title="Save" type="submit" id="save_butn" style="float:none;">
					<span><span><?php echo $helper->__('Save Attributes') ?></span></span>
				</button>
				<p class="back-link">
					<a href="javascript:;" onclick="javascript: window.history.back();" class="left">&laquo; <?php echo $helper->__('Back') ?></a>
				</p>
			</div>
		</div>
	</form>	
</div>
<script> 
$wk_jq=jQuery.noConflict();
(function($wk_jq){
	$wk_jq(function(){
		var fcop=0;
		var count=0;
		new VarienForm('form-customer-attr-new', true);
		var nextopcresort=new Array();
		$wk_jq("button#add_new_defined_option").click( function() { 
			$wk_jq('#cust').show();
		});	
		$wk_jq("button#save").click( function() { 
			if($wk_jq('#apply_to').is(":visible")){
				$wk_jq('#protype').attr('disabled', 'disabled');
			}
		});
		var attr_options=0,select=0;
		$wk_jq("#frontend_input").click( function() {
			if(attr_options!=0 && select!=1)	{
				attr_options=$wk_jq(".option-box").clone();
			}
		});
		
		$wk_jq("#associate_product").delegate('.headcus input','focusout',function(){
				$wk_jq(this).attr('value',$wk_jq(this).val());
		});
		
		$wk_jq("#associate_product").delegate('.headcus input[type="checkbox"]','focusout',function(){
			if($wk_jq(this).is(":checked"))
				$wk_jq(this).attr('checked','checked');
			else
				$wk_jq(this).removeAttr("checked");
		});

		 $wk_jq("#frontend_input").change( function() { 
			$wk_jq('.val_required').show();
			$wk_jq(".option-box").remove();
			if($wk_jq("#frontend_input").val()== "multiselect" || $wk_jq("#frontend_input").val() == "select")		{
				if(attr_options==0){
					var headone=$wk_jq('<div/>').addClass("option-box mp_co_option")
										.append($wk_jq('<ul/>').addClass("headcus ul_first")
																.append($wk_jq('<li/>').text('Admin'))
																.append($wk_jq('<li/>').text('Default Store View'))
																.append($wk_jq('<li/>').text('Position'))
																.append($wk_jq('<li/>').text('Is Default'))
																.append($wk_jq('<li/>')
																			.append($wk_jq('<button/>').attr({type:'button', value:" Add Option",title:" Add Option",class:"attroptions button"}).append("<span><span>Add Option</span></span>"))))
					$wk_jq('#cust').append(headone);
					$wk_jq(".attroptions").trigger("click");
					attr_options++;
				}else{
					$wk_jq('#cust').append($wk_jq('<div/>').addClass("option-box").append(attr_options.html()));
				}			
			}	
			else{
				select=1;
			}
		});	

		$wk_jq("#associate_product").delegate(".deletecusopt","click",function(){
			$wk_jq(this).parents(".headcus").remove();
		});

		$wk_jq("#associate_product").delegate(".attroptions","click",function(){
			var addcust = $wk_jq('<ul/>').addClass('headcus')
											.append($wk_jq('<li/>')
													.append($wk_jq('<input/>').attr({type:'text',class:"required-entry widthinput",name:'attroptions['+fcop+'][admin]'})))
											.append($wk_jq('<li/>')
													.append($wk_jq('<input/>').attr({type:'text',class:"widthinput",name:'attroptions['+fcop+'][store]'})))
											.append($wk_jq('<li/>')
													.append($wk_jq('<input/>').attr({type:'text',class:"widthinput",name:'attroptions['+fcop+'][position]'})))
											.append($wk_jq('<li/>')
													.append($wk_jq('<input/>').attr({type:'checkbox',class:"widthinput",name:'attroptions['+fcop+'][isdefault]'})))
											.append($wk_jq('<li/>')
													.append($wk_jq('<button/>').attr({type:'button', value:" Delete Row",title:"Delete Row",class:"deletecusopt button"}).append("<span><span>Delete</span></span>")));
			$wk_jq('.option-box').append(addcust);
			fcop++;
		});	
		
		jQuery(document).on('change','.widthinput',function(){
	    var validt = jQuery(this).val();
	    var regex = /(<([^>]+)>)/ig;
        var mainvald = validt .replace(regex, "");
        jQuery(this).val(mainvald);	
        });
		
		
	});
})($wk_jq);												
</script>
<?php } ?>
