<?php 
	$isPartner= Mage::getModel('marketplace/userprofile')->isPartner();
	$helper=Mage::helper('marketplace');
	$customerid=Mage::getSingleton('customer/session')->getCustomerId();
	if($isPartner==1){?>
<?php
	$partner=Mage::getModel('marketplace/userprofile')->getPartnerProfileById($customerid); ?>
	<div class="page-title">
		<h1><?php echo $helper->__('Add New Product') ?></h1>
	</div>
	<form action="<?php echo $this->getUrl('marketplace/marketplaceaccount/new') ?>" enctype="multipart/form-data" method="post" id="form-customer-product-new">
		<input type="hidden" name="form_key" value="<?php echo Mage::getSingleton('core/session')->getFormKey(); ?>" />
		<div class="fieldset">
			<h4 class="legend"><?php echo $helper->__('Add New Product') ?></h4>
			<ul class="form-list" id="wk_bodymain">
						<input type="hidden"  name="producttypecustom" id="producttypecustom" value="customproductsimple" title="producttypecustom" class="" />
					<?php if(($partner['twitterid']=='')||($partner['facebookid']=='')||($partner['bannerpic']=='')||($partner['logopic']=='')||($partner['complocality']=='')||($partner['countrypic']=='')||($partner['compdesi']=='')){?>
						<marquee><h4 class="wk_marquee"><?php echo $helper->__('Please Complete your Profile..')?></h4></marquee>
					<?php } ?>
					
				<li>
					<label class="required"><em>*</em><?php echo $helper->__('Attribute Set') ?>:</label>
					<div class="input-box">
						<select name="set" class="required-entry">
						<?php foreach($this->getAllowedSets() as $set) {?>
							<option value="<?php echo $set['value'] ?>"><?php echo $set['label']?></option>
						<?php } ?>
						</select>
					</div>
				</li>
				<li>
					<label class="required"><em>*</em><?php echo $helper->__('Product Type') ?>:</label>
					<div class="input-box">
						<select name="type" class="required-entry">
						<?php foreach($this->getAllowedProductTypes() as $type) {?>
							<option value="<?php echo $type['value'] ?>"><?php echo $type['label']?></option>
						<?php } ?>
						</select>
					</div>
				</li>
			</ul>
		</div>
		<div class="buttons-set">
			<p class="required">* <?php echo $helper->__('Required Fields') ?></p>
			<button class="button" title="Continue" type="submit" id="save_butn" style="float:none;">
				<span><span><?php echo $helper->__('Continue') ?></span></span>
			</button>
			<p class="back-link">
				<a href="javascript:;" onclick="javascript: window.history.back();" class="left">&laquo; <?php echo $helper->__('Back') ?></a>
			</p>
		</div>
	</form>
<?php }else{
	echo "<h2 class='wk_new_msg'>".$helper->__("FOR BECOME SELLER CONTACT TO ADMIN")."..</h2>";
}?>
