<div class="block block-list block-wk-cat-filter">
	<div class="block-title">
        <strong><span><?php echo Mage::helper('marketplace')->__("Seller Category List"); ?></span></strong>
    </div>
	<div class="block-content">
		<ul class="cat_menu">
		<?php foreach($this->getCategoryList() as $key => $value){?>
			<li><a href="<?php echo $this->getUrl('marketplace/seller/collection').$this->getProfileDetail()->getprofileurl()."/?&c=".$key;?>"><?php echo Mage::getModel('catalog/category')->load($key)->getName()." (".$value.") "; ?></a></li>
		<?php } ?>
		</ul>
	</div>
</div>