<?php 
	$isPartner= Mage::getModel('marketplace/userprofile')->isPartner();
	$helper=Mage::helper('marketplace');
	$customerid=Mage::getSingleton('customer/session')->getCustomerId();
	if($isPartner==1){?>
<script type="text/javascript">
if (typeof jQuery == 'undefined'){
    document.write(unescape("%3Cscript src='http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js' type='text/javascript'%3E%3C/script%3E"));
}
</script> 
<script src="//code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
<link rel="stylesheet" href="//code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
<script type="text/javascript">
  bkLib.onDomLoaded(function() {
        new nicEditor({fullPanel : true}).panelInstance('description');
        new nicEditor({fullPanel : true}).panelInstance('short_description');
  });
</script>
<?php
	$collection = Mage::getModel('sales/order')->getCollection();
	$categories = Mage::getModel('catalog/category')->getCollection()->addAttributeToSelect('*')->addIsActiveFilter();
	$allcatid = array();
	$k=0;
	foreach ($categories as $c) {
	   $allcatid[$k] = $c->getId();
	   $k++;
	}
	$finalcat=array_shift($allcatid);
	$partner=Mage::getModel('marketplace/userprofile')->getPartnerProfileById($customerid); ?>
	<div class="page-title">
		<h1><?php echo $helper->__('Add New Virtual Product') ?></h1>
	</div>
	<form action="<?php echo $this->getUrl('marketplace/marketplaceaccount/virtualproduct') ?>" enctype="multipart/form-data" method="post" id="form-customer-product-new">
		<input type="hidden" name="form_key" value="<?php echo Mage::getSingleton('core/session')->getFormKey(); ?>" />
		<div class="fieldset">
			<input type="hidden" name="attribute_set_id" id="attribute_set_id" value="<?php echo $this->getRequest()->getParam('set')!=''? $this->getRequest()->getParam('set'):4;  ?>" />
			<input type="hidden" name="type_id" id="producttype" value="<?php echo $this->getRequest()->getParam('type')?>" />
			<!--input type="hidden" class="len" name="status" id="status" value="2" title="status" class="" /-->
			<!--input type="hidden" class="len" name="userid" id="userid" value="<?php //echo Mage::getSingleton('customer/session')->getCustomer()->getId();?>" title="id" class="" /-->
			<input type="hidden"  name="wstoreids" id="wstoreids" value="<?php echo Mage::app()->getStore()->getStoreId(); ?>" title="wstoreids" class="" />
				<h4 class="legend"><?php echo $helper->__('Virtual Product') ?></h4>
					<ul class="form-list" id="wk_bodymain">
						<!--input type="hidden"  name="producttypecustom" id="producttypecustom" value="customproductvirtual" title="producttypecustom" /-->
						<li>
							<label class="required"><em>*</em><?php echo $helper->__('Product Category') ?>:</label>
							<div class="wk_field wk_category">
								<div class="wk_for_validation">
									<div id="wk_category_label"><?php echo $helper->__('CATEGORIES'); ?></div>
			<?php					$Mar_lef = 0;$count = 0;
									$category_helper = Mage::helper("catalog/category");
									$category_model = Mage::getModel("catalog/category");
									$_categories = $category_helper->getStoreCategories();
									$total = count($_categories->getNodes());
									if($total > 0)	{
										foreach($_categories as $_category)	{
											$count++;
											?>
											<?php if(count($category_model->getResource()->getAllChildren($category_model->load($_category['entity_id'])))-1 > 0){
											if($count <= $total) { ?>
											<div class="wk_cat_container" style="margin-left:0px;"><span class="wk_plus">
											</span><span class="wk_foldersign"></span>
											<span class="wk_elements wk_cat_name"><?php echo $_category->getName() ?></span><input class="wk_elements" type="checkbox" name="category[]" value=<?php echo $_category['entity_id'] ?>></div>
											
										<?php	} }
										 else 
										     {
										 ?><div class="wk_cat_container">
											</span><span class="wk_foldersign"></span>
											<span class="wk_elements wk_cat_name"><?php echo $_category->getName() ?></span><input class="wk_elements" type="checkbox" name="category[]" value=<?php echo $_category['entity_id'] ?>></div> 
									   <?php }
									   }                                  									   
									}				
                                   ?>						
								</div>
							</div>
						</li>
						<li>
							<label class="required"><em>*</em><?php echo $helper->__('Product Name') ?>:</label>
							<div class="input-box">
								<input type="name" class="required-entry input-text" name="name" id="name" />
							</div>
						</li>
						<li>
							<label><?php echo $helper->__('Description') ?>:</label>
							<div class="input-box">
								<textarea name="description" class="input-text" id="description" rows="5" cols="75" ></textarea>
							</div>
						</li>
						<li>
							<label><?php echo $helper->__('Short Description') ?>:</label>
							<div class="input-box">
								<textarea name="short_description" id="short_description" rows="5" cols="75" class="input-text"></textarea>
							</div>
						</li>
						<li>
							<label class="required"><em>*</em><?php echo $helper->__('SKU') ?>:</label>
							<div class="input-box">
								<input name="sku" id="sku" class="required-entry input-text" />
							</div>
							<div id="skuavail" >
								<span class="success-msg skuavailable"><?php echo $helper->__('SKU Available') ?></span>
							</div>
							<div id="skunotavail" >
								<span class="error-msg skunotavailable"><?php echo $helper->__('SKU Already Exist') ?></span>
							</div>
						</li>
						<li>
							<label class="required"><em>*</em><?php echo $helper->__('Price') ?><b><?php $currency_code = Mage::app()->getStore()->getCurrentCurrencyCode(); echo  " (". Mage::app()->getLocale()->currency( $currency_code )->getSymbol().")"; ?></b>:</label>
							<div class="input-box">
								<input type="price" class="required-entry validate-zero-or-greater input-text" name="price" id="price"/>
							</div>
						</li>
						<li>
							<label class="required"><?php echo $helper->__('Special Price') ?><b><?php $currency_code = Mage::app()->getStore()->getCurrentCurrencyCode(); echo  " (". Mage::app()->getLocale()->currency( $currency_code )->getSymbol().")"; ?></b>:</label>
							<div class="input-box">
								<input type="special_price" class="widthinput input-text" name="special_price" id="special_price" />
							</div>
						</li>
						<li>
							<label class="required"><?php echo $helper->__('Special Price From') ?>:</label>
							<div class="input-box">
								<input name="special_from_date" id="special_from_date" class="input-text"/>
							</div>
						</li>
						<li>
							<label class="required"><?php echo $helper->__('Special Price To') ?>:</label>
							<div class="input-box">
								<input name="special_to_date" id="special_to_date" class="input-text"/>
							</div>
						</li>
						<li>
							<label class="required"><em>*</em><?php echo $helper->__('Stock') ?>:</label>
							<div class="input-box">
								<input type="stock" class="required-entry validate-number input-text" name="stock" id="stock"/>
							</div>
						</li>
						<li>
							<label class="required"><em>*</em><?php echo $helper->__('Stock Availability') ?>:</label>
							<div class="input-box">
								<select id="inventory_stock_availability" class="select" name="is_in_stock">
									<option value="1"><?php echo $helper->__('In Stock'); ?></option>
									<option value="0"><?php echo $helper->__('Out of Stock'); ?></option>
								</select>
							</div>
						</li>
						<li>
							<label class="required"><em>*</em><?php echo $helper->__('Tax Class') ?>:</label>
							<div class="input-box">
								<select id="tax_class_id" class=" required-entry required-entry select" name="tax_class_id">
									<option value=""><?php echo $helper->__('--Plese Sellect--')?></option>
									<option value="0"><?php echo $helper->__('None')?></option>
									<?php
										$taxes=Mage::getModel('tax/class')->getCollection()
													->addFieldToFilter('class_type',array('eq'=>'PRODUCT'));
										foreach($taxes as $tax){
									?>
									<option value="<?php echo $tax->getId() ?>"><?php echo $tax->getClassName()?></option>
									<?php } ?>
								</select>
							</div>
						</li>
						<li>
							<label><?php echo $helper->__('Sample Image') ?>:</label>
							<div class="input-box" style="width:380px;">
								<input type="file" name="dumimg" class="dumimg wk_imagevalidate" accept="image/*" size="33" ><input type="radio" value='' class='defaultimage' onClick='defaultimagevalue(this)' name="defaultimage"><span class='defaultimageset'><?php echo $helper->__('Base image') ?></span>
								<br>
								<a href="#" onClick="showOtherImage(); return false;"><?php echo $helper->__('Add other image') ?></a>
								<br />
								<div id="otherimages"></div>
							</div>
						</li>
						<?php echo $this->getChildHtml(); ?>
					</ul>
		</div>
		<div class="buttons-set">
			<p class="required">* <?php echo $helper->__('Required Fields') ?></p>
			<button class="button" title="Save" type="submit" id="save_butn" style="float:none;">
				<span><span><?php echo $helper->__('Save') ?></span></span>
			</button>
			<button type="reset" class="button"><span><span><?php echo $helper->__('Cancel') ?></span></span></button>
			<p class="back-link">
				<a href="javascript:;" onclick="javascript: window.history.back();" class="left">&laquo; <?php echo $helper->__('Back') ?></a>
			</p>
		</div>
	</form>
<script> 
jQuery.noConflict();
var newCustomerProductForm = new VarienForm('form-customer-product-new', true);
(function(jQuery){
	jQuery( "#special_from_date").datepicker({'dateFormat':'yy:mm:dd'});
	jQuery( "#special_to_date" ).datepicker({'dateFormat':'yy:mm:dd'});
	jQuery('#save_butn').click(function(e){
		if(newCustomerProductForm.validator.validate()!=false){
			
			var descrip = nicEditors.findEditor( "description" ).getContent();
		    var sdescrip = nicEditors.findEditor( "short_description" ).getContent();
			var regex = /(&lt([^>]+)&gt)/ig;
            var result = descrip .replace(regex, "");
            nicEditors.findEditor( "description" ).setContent(result);
		    var sresult = sdescrip .replace(regex, "");
		    nicEditors.findEditor( "short_description" ).setContent(sresult);
		    jQuery('#description').text(result);
		    jQuery('#short_description').text(sresult);
			
			jQuery('#save_butn span span').text('Saving..');
			jQuery('.button').css('opacity','0.7');
			jQuery('.button').css('cursor','default');
			jQuery('.button').attr('disabled','disabled');
			jQuery('#form-customer-product-new').submit();
		}
	});
	
	jQuery('.input-text').change(function(){
	 var validt = jQuery(this).val();
	 var regex = /(<([^>]+)>)/ig;
     var mainvald = validt .replace(regex, "");
     jQuery(this).val(mainvald);	
    });
	
	jQuery(".dumimg").change(function(){
		jQuery( ".defaultimage" ).prop( "checked", false );
	});
	
	jQuery('input#sku').change(function(){
		var len=jQuery('input#sku').val();
		var len2=len.length;
		if(len2==0){
			alert("SKU can't be left empty");
			jQuery('div#skuavail').css('display','none');
			jQuery('div#skunotavail').css('display','none');
		}
		else{
			jQuery.ajax({
				url: "<?php echo Mage::getUrl('marketplace/marketplaceaccount/verifysku');?>",
				type: "POST",
				data: {sku:jQuery('input#sku').val()},
				dataType: 'html',
				success:function($data){
					$data=JSON.parse($data);
					if($data.avl==1){
						jQuery('div#skuavail').css('display','block');
						jQuery('div#skunotavail').css('display','none');
					}
					else{
						jQuery('div#skunotavail').css('display','block');
						jQuery('div#skuavail').css('display','none');
						jQuery("input#sku").attr('value','');
					}
				}
			});
		}
	});
})(jQuery);
</script>	
<script type="text/javascript">
	var i=2;
	function showOtherImage(){
		var newdiv = document.createElement('div');
		newdiv.setAttribute("id","childDiv"+i);
		newdiv.innerHTML = "<input type='file' name='images"+i+"' accept='image/\*' class='wk_imagevalidate'/><input type='radio'  onClick='defaultimagevalue(this)'  value=''  class='defaultimage' name='defaultimage'><span class='defaultimageset'><?php echo $helper->__(' Base image ') ?></span><a href=\"javascript:;\" onclick=\"removeEvent('childDiv"+i+"')\"><?php echo $helper->__(' Remove ') ?></a>";
		var ni = document.getElementById('otherimages');
		ni.appendChild(newdiv);
		i++;
	}
	function removeEvent(divNum){
		var d = document.getElementById('otherimages');
		var olddiv = document.getElementById(divNum);
		d.removeChild(olddiv);
		i--;
	}
	function defaultimagevalue(object){
		var strs=jQuery(object).prev('input').val().split('\\'); 
	    jQuery(object).val(strs[strs.length-1]);
	}
	function catchanged(){
		jQuery("#wk_cp_cat_edited").val(1);
	}
	jQuery("body").delegate('.wk_imagevalidate',"change",function(){
		var ext = jQuery(this).val().split('.').pop().toLowerCase();
		if(jQuery.inArray(ext, ['gif','png','jpg','jpeg']) == -1) {
			jQuery(this).val('');
		    alert('invalid extension! Please Upload an image.');
		}
	});
	jQuery("#wk_bodymain").delegate('.wk_plus ,.wk_plusend,.wk_minus, .wk_minusend ',"click",function(){
		var thisthis=jQuery(this);	
		if(thisthis.hasClass("wk_plus") || thisthis.hasClass("wk_plusend")){
			if(thisthis.hasClass("wk_plus"))
				thisthis.removeClass('wk_plus').addClass('wk_plus_click');
			if(thisthis.hasClass("wk_plusend"))
				thisthis.removeClass('wk_plusend').addClass('wk_plusend_click');

			thisthis.prepend("<span class='wk_node_loader'></span>");
			jQuery.ajax({
				url  	:   "<?php echo $this->getUrl('marketplace/marketplaceaccount/categorytree/');?>",
				type 	:   "POST",
				data 	:   {CID:thisthis.siblings("input").val(),
							ML:thisthis.parent(".wk_cat_container").css("margin-left").replace("px","")},
				dataType:   "html",
				success :   function(content){				
					var newdata=  jQuery.parseJSON(content);					
					len= newdata.length;
					var pxl= parseInt(thisthis.parent(".wk_cat_container").css("margin-left").replace("px",""))+20;
					thisthis.find(".wk_node_loader").remove();
					if(thisthis.attr("class") == "wk_plus")
						thisthis.attr("class","wk_minus");
					if(thisthis.attr("class") == "wk_plusend")
						thisthis.attr("class","wk_minusend");
					if(thisthis.attr("class") == "wk_plus_click")
						thisthis.attr("class","wk_minus");
					if(thisthis.attr("class") == "wk_plusend_click")
						thisthis.attr("class","wk_minusend");
			     	for(i=0;i<len; i++)	{     
						id=newdata[i].id;                  
						nam=newdata[i].name;					 
						if(newdata[i].counting ==0){
			         		thisthis.parent(".wk_cat_container").after('<div class="wk_removable wk_cat_container" style="display:none;margin-left:'+pxl+'px;"><span  class="wk_no"></span><span class="wk_foldersign"></span><span class="wk_elements wk_cat_name">'+ nam +'</span><input class="wk_elements" type="checkbox" name="category[]" value='+ id +'></div>');
					  	}else{
					 		thisthis.parent(".wk_cat_container").after('<div class="wk_removable wk_cat_container" style="display:none;margin-left:'+pxl+'px;"><span  class="wk_plusend"></span><span class="wk_foldersign"></span><span class="wk_elements wk_cat_name">'+ nam +'</span><input class="wk_elements" type="checkbox" name="category[]" value='+ id +'></div>');   
					  	}
                    }
					thisthis.parent(".wk_cat_container").nextAll().slideDown(300);
				}
			});			
		}
		if(thisthis.hasClass("wk_minus") || thisthis.hasClass("wk_minusend")){
			if(thisthis.attr("class") == "wk_minus")
				thisthis.attr("class","wk_plus");
			if(thisthis.attr("class") == "wk_minusend")
				thisthis.attr("class","wk_plusend");
			var thiscategory = thisthis.parent(".wk_cat_container");
			var marg= parseInt(thiscategory.css("margin-left").replace("px",""));
			while(thiscategory.next().hasClass("wk_removable")){			  
				if(parseInt(thiscategory.next().css("margin-left").replace("px",""))>marg)
					thiscategory.next().slideUp("slow",function(){jQuery(this).remove();});
				thiscategory = thiscategory.next();
				if(typeof thiscategory.next().css("margin-left")!= "undefined"){
					if( marg==thiscategory.next().css("margin-left").replace("px",""))
					{
					  break;
					}
				}
			}
		}		
	});
	jQuery("body").delegate('.nicEdit-main',"blur",function(){
		var x = jQuery(this).text()
		jQuery(this).parent().parent().children('textarea').text(x);		
	});
</script>
<?php }else{
	echo "<h2 class='wk_new_msg'>".$helper->__("TO BECOME SELLER PLEASE CONTACT TO ADMIN").".</h2>";
}?>

