/*	--------------------------------------------------

Reveal Modals

-------------------------------------------------- */	

.reveal-modal-bg { 

	position: fixed; 

	height: 100%;

	width: 100%;

	background: #000;

	background: rgba(0,0,0,.7);

	z-index: 100;

	display: none;

	top: 0;

	left: 0;

	bottom:10px;

}



.reveal-modal {

	visibility: hidden; top:40px; left: 50%; padding:50px 80px; color:#808080; font-size:14px; text-align:left;

	width: 344px; background: none repeat scroll 0 0 #FFFFFF;

	position: absolute; z-index: 101; 

}

.reveal-modal .fieldset { border:none; padding: 0; margin: 0;}
.reveal-modal .form-list label{ font-weight:normal; font-size: 0.8em; text-transform: uppercase;}
.reveal-modal .form-list .field { float: none;}
.reveal-modal .form-list .input-box { max-width: 320px; margin: 0;}	
.reveal-modal #wantptr { max-width: 344px;}
.reveal-modal button.button { width: 100%; float: none; margin: 0; padding: 0 143px;}
.reveal-modal button.button span span { font-size: 18px; font-weight: 400;}
.reveal-modal p { color: #000; margin-top: 1.25em; font-size: 0.8em; text-align: center;}
.reveal-modal a { text-decoration: underline;}
.reveal-modal .account-login .buttons-set { position: relative;}
.reveal-modal .account-login .buttons-set a { color: #808080; text-transform: uppercase; font-size: 0.8em; position: absolute; right: 0; top: -30px;}

.reveal-modal.small 		{ width: 200px; margin-left: -140px;}

.reveal-modal.medium 		{ width: 400px; margin-left: -240px;}

.reveal-modal.large 		{ width: 600px; margin-left: -340px;}

.reveal-modal.xlarge 		{ width: 800px; margin-left: -440px;}



.reveal-modal .close-reveal-modal {

	font-size: 22px;

	line-height: .5;

	position: absolute;

	top: 20px;

	right: 20px;

	color: #aaa;

	text-shadow: 0 -1px 1px rbga(0,0,0,.6);

	font-weight: bold;

	cursor: pointer;

} 

.reveal-modal h1{ text-align:center; color:#000; font-size:21px; font-weight:normal; text-transform:uppercase; padding-bottom:20px;}

.reveal-modal a.fb_button { width: 344px; height: 36px; display: block; background-image: url(../../images/fb-login-button.png); background-repeat: no-repeat; background-position: left top;}
.reveal-modal a.fb_button:hover { background-position: left bottom;}
.reveal-modal a.fb_button img { display: none;}



/*********NEWSLETTER***********/

#pop-newsletter{ left:33%; width:330px;}

#pop-newsletter .block-subscribe .block-title strong{ padding-left:0;}

#pop-newsletter .block-subscribe{ padding:0; border:none;}

/***********************************/

#login{ left:30%;}

#login .page-title { border:none;}



/**********CREATE AN ACCOUNT***********/

#create{ left:30%; padding:80px 95px;}

#create .page-title{ margin-bottom:0;}



/**********CONTACT US************/

#contact-us{ width:720px; left:16%; }

   .contact-left, .contact-center{ width:250px; float:left; margin-right:36px;}

   #contactForm{ width:445px; float:left;}

   #ccontactForm:after{ clear:both;}

   #contact-us dl dt{ font-size:16px; color:#000;}

   #contact-us dl dd{ line-height:24px;} 

   #contact-us dl dd.contact-info{ color:#2350b4; margin-bottom:24px;} 

   #contactForm .fieldset .legend { font-size: 30px; font-weight: 700;}

   #contactForm .form-list input.input-text{ width:421px; padding:10px;}

   #contactForm .form-list li.wide textarea{ max-width:421px; padding:10px;}

   .reveal-modal #contactForm button.button { padding: 0 186px;}

.other-infomation { width: 245px; float: right; padding-top: 37px;}
.reveal-modal .email-info { padding-bottom: 1em;}
.reveal-modal .email-info p { text-align: left; font-size: 1em; color: #808080; margin-bottom: 0.5em; text-transform: uppercase;}
.reveal-modal .email-info address { color: #000; text-transform: uppercase;}



/************GIFT CERTIFICATE***************/

#gift-certificates{ width:886px; left:16%;}

.gift-left{ width:484px; float:left; margin-left:18px;}

#gift-certificates form{ width:330px; float:right; margin-right:18px;}

#gift-certificates form:after{ clear:both;}

   .reveal-modal .form-list .gift-amount label{ float:left; margin-right:10px;}

   #gift-certificates .gift-amount .input-box{ width:92px; float:left; clear:none;}      

      #gift-certificates .form-list .gift-amount input.input-text{ background:none; width:60px; text-align:center; -moz-border-radius:5px; -webkit-border-radius:5px; border-radius:5px;}

#gift-certificates .form-list input.input-text{ width:327px; padding:}

#gift-certificates .form-list li.wide textarea{ width:327px; padding:3px;}



















/*

	

NOTES



Close button entity is &#215;



Example markup



<div id="myModal" class="reveal-modal">

	<h2>Awesome. I have it.</h2>

	<p class="lead">Your couch.  I it's mine.</p>

	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In ultrices aliquet placerat. Duis pulvinar orci et nisi euismod vitae tempus lorem consectetur. Duis at magna quis turpis mattis venenatis eget id diam. </p>

	<a class="close-reveal-modal">&#215;</a>

</div>



*/

