<?php 
$marketplacelabel=Mage::getStoreConfig('marketplace/marketplace_options/marketplacelabel'); 
$marketplacebutton=Mage::getStoreConfig('marketplace/marketplace_options/marketplacebutton');
$marketplaceprofile=Mage::getStoreConfig('marketplace/marketplace_options/marketplaceprofile');
?>
<!-- <div id="wk_mp_header">
	<h1><?php echo $marketplacelabel; ?></h1>
	<p>
		<a class="button-large" href="<?php echo $this->getUrl('customer/account/create/'); ?>"><?php echo $marketplacebutton; ?></a>
	</p>
</div> -->
<!-- <div class="wk_profiledata">
<?php echo Mage::helper('cms')->getBlockTemplateProcessor()->filter($marketplaceprofile); ?>
</div> -->

<div class="artists home-block">
	<div class="page-title featured-title">
		<h3><?php echo $this->__('Featured Artists') ?></h3>
	</div>

	<div class="artist-gallery">
		<?php $collectionfetch = Mage::getModel('marketplace/userprofile')->getCollection()
		->addFieldToFilter('partnerstatus',array('eq'=>'Seller'))
		->addFieldToFilter('wantpartner',array('eq'=>1));								 
		$record = array();
		foreach($collectionfetch as $id){
			$record[] = $id->getmageuserid();
		}
		if(count($record)!=0){
			$collection = Mage::getModel('customer/customer')->getCollection()
			->addNameToSelect();
			$collection->addAttributeToFilter('entity_id', array('in' => $record));
			$collection->joinTable('marketplace/userprofile', 'mageuserid=entity_id', array('*'), null, 'left');
		}else{
			$collection = $collectionfetch;
			$collection->addFieldToFilter('mageuserid', array('eq' => -1));
		}
		$collection->setOrder('autoid','DESC')
		->setPageSize(8)
		->setCurPage(1);
		
		$i = 0;
		if(count($collection)){
			foreach($collection as $seller) {
			   $topartist=$seller->getMageuserid();
			   $customer=Mage::getModel('customer/customer')->load($topartist);
			   $logo=$seller->getlogopic()==''?"noimage.png":$seller->getlogopic();
			   $logo=Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_MEDIA).'avatar/'.$logo; 
			   ?>
			<div class="top-artist">
					<a class="high_light" href="<?php echo  Mage::getUrl()."marketplace/seller/profile/".$seller->getProfileurl(); ?>">
						<img alt="<?php echo $customer->getFirstname()." ".$customer->getLastname(); ?>" title="<?php echo $customer->getFirstname()." ".$customer->getLastname(); ?>" src="<?php echo $logo;?>">
						<div class="mp_landing_hover">
							<span><?php echo $customer->getFirstname()." ".$customer->getLastname(); ?></span>
							<!-- <span><?php echo $customer->getAddresses();?></span> -->
						</div>
					</a> 
			</div>
			<?
			   break; // or exit or whatever exits a foreach loop...
			} 	

		?>

		<div class="other-artist"><ul>
		<?php	
		foreach($collection as $seller){
			$i ++;
			$customerid=$seller->getMageuserid();
			$customer=Mage::getModel('customer/customer')->load($customerid);
			$logo=$seller->getlogopic()==''?"noimage.png":$seller->getlogopic();
			$logo=Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_MEDIA).'avatar/'.$logo; 
			if( $i > 7 ) break;

			if( $i > 1 ) {
				?>
				<li>
					<a href="<?php echo  Mage::getUrl()."marketplace/seller/profile/".$seller->getProfileurl(); ?>">
						<img alt="<?php echo $customer->getFirstname()." ".$customer->getLastname(); ?>" title="<?php echo $customer->getFirstname()." ".$customer->getLastname(); ?>" src="<?php echo $logo;?>">
						<div class="mp_landing_hover">
							<span><?php echo $customer->getFirstname()." ".$customer->getLastname(); ?></span>
						</div>
					</a>
				</li>
		<?php } }?>
		</ul></div>

		<?php  if(count($sellerlist)>=8){ 
			//echo $this->getChildHtml('sellerpluse');
		} }?>
	</div>
	

</div>
<div class="browser"><a href="<?php echo $this->getUrl('browser')?>?filterby=artist">Browser All Artists</a></div>

<div class="product-featured home-block">

	<div class="page-title featured-title">
		<h3><?php echo $this->__('Featured Designs') ?></h3>
	</div>

	<?php
		// some helpers
	$_helper = $this->helper('catalog/output');
	$storeId = Mage::app()->getStore()->getId();
	$catalog = $this->getLayout()->createBlock('catalog/product_list')->setStoreId($storeId);

		// get all products that are marked as featured
	$collection = Mage::getModel('catalog/product')->getCollection();
	$collection->addAttributeToSelect('fb_product');
	$collection->addFieldToFilter(array(
		array('attribute' => 'fb_product', 'eq' => true),
		));

		// if no products are currently featured, display some text
	if (!$collection->count()) :
		?>

	<p class="note-msg"><?php echo $this->__('There are no featured products at the moment.') ?></p>

<?php else : ?>

	<div class="category-products">
		<ul class="products-grid">
		<?php
		$_collectionSize = $collection->count();
		$_columnCount = 4;
		$i = 0;
		foreach ($collection as $_product) :
			$_product = Mage::getModel('catalog/product')->setStoreId($storeId)->load($_product->getId());
		?>

		<?php if ($i++ < $_columnCount): ?>
			
				<li class="item<?php if(($i-1)%$_columnCount==0): ?> first<?php elseif($i%$_columnCount==0): ?> last<?php endif; ?>">
					<a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $this->stripTags($this->getImageLabel($_product, 'small_image'), null, true) ?>" class="product-image"><img src="<?php echo $this->helper('catalog/image')->init($_product, 'small_image')->resize(135); ?>" width="135" height="135" alt="<?php echo $this->stripTags($this->getImageLabel($_product, 'small_image'), null, true) ?>" /></a>
					<h2 class="product-name"><a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $this->stripTags($_product->getName(), null, true) ?>"><?php echo $_helper->productAttribute($_product, $_product->getName(), 'name') ?></a></h2>
					<?php if($_product->getRatingSummary()): ?>
					<?php echo $this->getReviewsSummaryHtml($_product, 'short') ?>
				<?php endif; ?>
				<?php echo $this->getPriceHtml($_product, true) ?>
				</li>
			
		<?php endif ?>
		<?php endforeach ?>
		</ul>

<script type="text/javascript">decorateGeneric($$('ul.products-grid'), ['odd','even','first','last'])</script>
</div>
<?php endif ?>
</div>
<div class="browser"><a href="<?php echo $this->getUrl('browser')?>?filterby=category">Browser All Designs</a></div>

<!-- New Featured Categories -->
<div class="catogery-featured home-block">
	<div class="page-title featured-title">
		<h3><?php echo $this->__('Featured Categories') ?></h3>
	</div>

	    <?php   
	    //$cats = Mage::getModel('catalog/category')->load(6)->getChildren();
        $catCollection=Mage::getModel('catalog/category')->getCollection()->addAttributeToSelect('*')->addFieldToFilter('fea_category',1);
        //print_r($cats);
        
        echo("<ul id='featured_category'>");
				$i=0;
				foreach($catCollection as $cat)
				{
					$i++;
					echo("<li><a href='". $cat->getUrl()."'>"."<img src='". $cat->getImageUrl()."'>" . "</a><h2 class='category-name'>".$cat->getName()."</h2></li>");
					if($i>=5) break;
				}
				echo("</ul>");
		?>

</div>
