<?php
$ur = Mage::helper('core/url')->getCurrentUrl();
//$ur = "http://tin9x.vn/index.php/chair.html";
echo "hello";
$manglike = $this->helper('productvote/data')->getlike($ur);

$facebook = Mage::getStoreConfig('productvote/product_general/facebook');
$tweet = Mage::getStoreConfig('productvote/product_general/tweet');
$goo = Mage::getStoreConfig('productvote/product_general/goo');
$trang = Mage::getStoreConfig('productvote/product_general/trang');
$configmodule = Mage::getStoreConfig('productvote/product_general/enable');
if($configmodule==1){
$provote = $this->numberlikeblock();
$_product = $this->getProduct();
$idproduct = $_product->getId();
$nameproduct = $_product->getName();
$statusproduct = $this->helper('productvote/data')->enablevote($idproduct);
echo $statusproduct;
if($statusproduct=='Enable'){
?>
<script type="text/javascript">   
    var id = <?php echo $idproduct; ?>;
    var name = "<?php echo $nameproduct; ?>";
    var fa = <?php if($manglike["face"]) echo $manglike["face"]; else echo 0; ?>;
    var twee = <?php if($manglike["tweet"]) echo $manglike["tweet"]; else echo 0; ?>;
    var gcong = <?php if($manglike["gcong"]) echo $manglike["gcong"]; else echo 0; ?>;
    var url_requestlike = '<?php echo $this->getUrl('routeurfrontend/index/like') ?>';  
    var url_request1 = '<?php echo $this->getUrl('routeurfrontend/index/changedislike') ?>';   
    var url_login = '<?php echo $this->getUrl('routeurfrontend/index/login') ?>'; 
    var url_load = '<?php echo $this->getUrl('routeurfrontend/index/loadpage') ?>'; 
	var url_xoa = '<?php echo $this->getUrl('routeurfrontend/index/deleteko') ?>'; 
    var url_logout = '<?php echo $this->getUrl() ?>'; 
</script>
<div id="box-up"> 
    <div style="display: none;" class="alProgressBar alPopup">
    <div class="Shadow"></div>
    <div class="loading-mask">
        <p id="loading_mask_loader" class="loader"><img alt="Loading..." src="<?php echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_MEDIA) . 'productvote/loading.gif'; ?>"><br><?php echo __('Please wait...') ?></p>
    </div>
</div>
    <!-- start  mang xa hoi -->
	<script>
		jQuery(window).load(function(){
			jQuery("div.pluginCountBox").css("height","17px");
		});
	</script>
	<?php if($facebook==1){ ?>
     <div class="box-a bl" >
		<div id="fb-root"></div>
		<script>(function(d, s, id) {
		  var js, fjs = d.getElementsByTagName(s)[0];
		  if (d.getElementById(id)) return;
		  js = d.createElement(s); js.id = id;
		  js.src = "//connect.facebook.net/en_us/all.js#xfbml=1&appid=";
		  fjs.parentNode.insertBefore(js, fjs);
		}(document, 'script', 'facebook-jssdk'));</script>
		<div class="fb-like" data-href="<?php echo Mage::helper('core/url')->getCurrentUrl(); ?>" data-layout="box_count" data-action="like" data-show-faces="true" data-share="false"></div>
    </div>
	<?php } if($tweet==1) { ?>
    <div class="box-b bl" style="a{text-decoration: none !important;}">
        <a href="<?php echo Mage::helper('core/url')->getCurrentUrl(); ?>" class="twitter-share-button" data-count="vertical">Tweet</a>
        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
    </div>
	<?php } if($goo==1){ ?>
    <div class="box-c bl">
        <div box-c bl sgf>
            <!-- Đặt thẻ này vào nơi bạn muốn Nút +1 kết xuất. -->
			<div class="g-plusone" data-size="tall"></div>

			<!-- Đặt thẻ này sau thẻ Nút +1 cuối cùng. -->
			<script type="text/javascript">
			  (function() {
				var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
				po.src = 'https://apis.google.com/js/platform.js';
				var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
			  })();
			</script>
        </div>
    </div>
	<?php } if($trang==1){ ?>
    <!--end mang xa hoi -->
        
    <div id="likepage" class="box-d bl" title="Like on page!">
		<div class="num-like">
            <div class="pluginCountButton pluginCountNum">
                <span id="u_0_72" class="a">
                    <span class="like123"><?php if($provote) echo $provote; else echo "0"; ?></span>
                </span>
            </div>
            <div class="pluginCountButtonNub">
                <s></s>
                <i></i>
            </div>
        </div>
        <a href="#" id="likepage1" onclick="return false;">
            <img src="<?php echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_MEDIA) . 'productvote/likepage.png'; ?>" height="20px" width="50px" />
        </a>
        
    </div>
    <div id="like" class="box-d bl" style="display: none;">
		 <div class="num-like">
            <div class="pluginCountButton pluginCountNum">
                <span id="u_0_7" class="a">
                    <span class="like"><?php if($provote) echo $provote; else echo "0"; ?></span>
                </span>
            </div>
            <div class="pluginCountButtonNub">
                <s></s>
                <i></i>
            </div>
        </div>
        <a href="#" id="like1" onclick="return false;">
            <img src="<?php echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_MEDIA) . 'productvote/like.png'; ?>" height="20px" width="50px" />
        </a>
       
    </div>
    <div id="unlike" class="box-d bl" style="display: none;">
		<div class="num-like">
            <div class="pluginCountButton pluginCountNum">
                <span id="u_0_71" class="a">
                    <span class="unlike"><?php if($provote) echo $provote; else echo "0"; ?></span>
                </span>
            </div>
            <div class="pluginCountButtonNub">
                <s></s>
                <i></i>
            </div>
        </div>
        <a href="#"  id="unlike1" onclick="return false;">
            <img src="<?php echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_MEDIA) . 'productvote/dislike.png'; ?>" height="20px" width="50px" />
        </a>
        
    </div>
	<?php } ?>
<div id="loin">
<div id="popup-bg"></div>
<div id="popup">
    <div id="popup-header"><?php echo $this->__('Login') ?><span id="popup-close" title="Close">x</span></div>

            <div id="cmsmart-popup-content">
                <div class=""></div>
                <p>If you have an account with us, please log in.</p>
                <div class="cmsmart-error-ajax-login" id="cmsmart-error"></div>
                <div class="cmsmart-row-input">
                    
                    <input type="text" id="cmsmart-email-login" class="cms-iplogin cms-setupinput required" name="cmsmart-email-login" placeholder="Email Address">
					<div><img alt="" style="margin-left: 4px; position: absolute;" src="<?php echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_MEDIA) . 'productvote/user.png'; ?>"> </div>
                    <div class="cmsmart-error-email-login" id="cmsmart-error" style="color: #ff7e00;"></div>              
                </div>
                <div class="cmsmart-row-input">
                    
                    <div><input type="password" id="cmsmart-password-login" class="cms-iplogin cms-setupinput" name="cmsmart-password-login" placeholder="Password"></div>
					<div><img style="margin-left: 4px; position: absolute;" src="<?php echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_MEDIA) . 'productvote/clock.png'; ?>"></div>
                    <div class="cmsmart-error-password-login" id="cmsmart-error" style="color: #ff7e00;"></div>            
                </div>
                <div class="cmsmart-row-input">
                     <a href="<?php echo Mage::getBaseUrl()."customer/account/create/"; ?>" id="cmsmart-quicklogin-register">Create an Account</a></br>
					<a href="<?php echo Mage::getBaseUrl()."customer/account/forgotpassword/"; ?>" id="cmsmart-quicklogin-resetpassword">Forgot Your Password?</a>
                    <p>
                        <button id="loginvote" type="button" class="button-cmsmart cmsmart-quicklogin-login"><img align="absmiddle" src="<?php echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_MEDIA) . 'productvote/shape.png'; ?>">
                            Login</button>
                    </p>

                    <p></p>
                </div>
                  </div>
    
        </div>
<div id="xuly" style="display: none;"><img align="absmiddle" src=""></div>
    </div>
</div>
<?php
}
}
?>