<?php
 /**
 * GoMage Advanced Navigation Extension
 *
 * @category     Extension
 * @copyright    Copyright (c) 2010-2014 GoMage (http://www.gomage.com)
 * @author       GoMage
 * @license      http://www.gomage.com/license-agreement/  Single domain license
 * @terms of use http://www.gomage.com/terms-of-use
 * @version      Release: 4.6
 * @since        Class available since Release 4.0
 */
?>
<table class="gomage_product_navigation">
	<tbody>
		<tr>
            <td class="gomage_product_prev">
            	<?php echo $this->getPrevLinkHTML(); ?>
            </td>
            <td class="gomage_product_category">
                <?php echo $this->getCategoryLinkHTML(); ?>
            </td>
            <td class="gomage_product_next">
                <?php echo $this->getNextLinkHTML(); ?>
            </td>
        </tr>
    </tbody>
</table>