.col-main .home-block h3 { font-size: 24px; color: #000; font-weight: 700; margin-bottom: 0.5em; text-transform: uppercase;}
.browser { font-size: 18px; color: #000; font-weight: 700; text-transform: uppercase; text-align: right; padding: 0 0 30px 0; border-bottom: 2px solid #cdcdcd; margin-bottom: 20px;}
.browser1 { font-size: 18px; color: #000; font-weight: 700; text-transform: uppercase; text-align: right; padding: 0 0 30px 0; margin-bottom: 20px;}
.home-block li { float: left;}

.artists .artist-gallery { clear: both; content: ""; display: table;}
.artists .top-artist { float: left;}
.artists .top-artist img { width: 540px; height: 378px;}
.artists .other-artist { float: right; width: 570px;}
.artists .other-artist img { width: 160px; height: 160px;}
.mp_landing_hover { font-size: 16px; font-weight: 700; color: #595959; text-transform: uppercase; padding: 10px 0 30px;}
.artists ul li { margin-left: 30px;}

h2.category-name { font-size: 16px; font-weight: 700; text-align: center; padding-top: 10px; color: #555;}
.catogery-featured li { margin-left: 0; margin-right: 30px;}
.catogery-featured li:last-child { margin-right: 0;}

.list_seller_product a {
    float: left;
    margin: 10px;
}

.about-us { max-width: 920px; margin: 0 auto;}
.about-us h2 { padding-bottom: 5px;}
.about-us h3 { padding-bottom: 20px;}

.cms-privacy-policy-term .main-container { max-width: 920px;}
.cms-privacy-policy-term p { font-family: 'Open Sans', Arial, sans-serif; line-height: 1.5em;}
.cms-privacy-policy-term h2, .cms-privacy-policy-term h3 { text-align: center;}
.cms-privacy-policy-term h2 { padding-bottom: 1.5em;}
.cms-privacy-policy-term h3 { padding: 1em 0 1.75em;}


.product-design { width: 255px; float: left;}
.product-design .product-name h1 { font-size: 1.5em; font-weight: 700;}
.product-essential { width: 825px; float: right;}
.product-shop .add-to-cart { margin: 0;}
.design-name { margin: 10px 0;}
.design-name img { width: 255px;}
.box-collateral { margin-bottom: 30px;}
.box-collateral.box-description { color: #595959;}

.product-img-box .product-image img { width: 540px;}

.marketplace-seller-profile .category-products { border-top: 2px solid #cdcdcd; padding-top: 30px;}

.advfilter-index-index { background: url(../images/bg-browser.jpg) center top no-repeat;}
.advfilter-index-index .main-container { background:none;}
.top-region { height: 400px; font: bold 100% 'Montserrat', Verdana, Arial, sans-serif; text-transform: uppercase;}
.top-region li {cursor: pointer;}
.left-region { float: left; width: 290px; height: 365px; background-color: rgba(0, 0, 0, .75); color: #fff; padding: 0 30px;}
.left-region h2 { color: #fff; padding-top: 30px;}
.left-region li { border-bottom: 2px solid #cdcdcd; line-height: 80px; font-size: 24px;}
.right-region { float: right; width: 730px; }
.right-region li { border-bottom: 2px solid #cdcdcd; line-height: 44px; font-size: 18px;}
.right-region li:last-child { border-bottom: none;}
.filterlevel1 {float: left; width: 290px; height: 365px; background-color: rgba(0, 0, 0, .75); color: #fff; padding: 0 30px; overflow-y:scroll;}
.filterlevel2 {float: right; width: 290px; height: 365px; background-color: rgba(0, 0, 0, .75); color: #fff; padding: 0 30px; overflow-y:scroll;}
.clear { clear: both;}
.bottom-region { margin-top: 30px;}
.bottom-region p { font: bold 18px 'Montserrat', Verdana, Arial, sans-serif; text-transform: uppercase; float: left;}
.smfilter {float: right;}
.ajaxloader {text-align: center;}
a.more_product, a.more_artist {
	width: 100%;
	text-align: center;
	padding: 10px;
	display: block;
	background: #000;
	color: #fff;
	text-transform: uppercase;
	font: 14px 'Montserrat', Verdana, Arial, sans-serif;
}
a.clearfilter {
	padding-top: 80px;
	display: block;
	color: #fff;
}

/*dashboard*/
.marketplace-marketplaceaccount-mydashboard .sidebar { float: left; width: 350px;}
.marketplace-marketplaceaccount-mydashboard .msg-content { float: right; width: 730px;}
.marketplace-marketplaceaccount-mydashboard .box { background: #000; width: 100%; padding: 37px 0; margin-bottom: 30px; overflow: hidden;}
.marketplace-marketplaceaccount-mydashboard .box:after { clear: both; content: "";}
.marketplace-marketplaceaccount-mydashboard .box p { margin-bottom: 0; color: #fff; font: bold 18px 'Montserrat', Verdana, Arial, sans-serif; text-transform: uppercase; text-align: center;}
.marketplace-marketplaceaccount-mydashboard .box p.number { font-size: 60px;}
.marketplace-marketplaceaccount-mydashboard .box p.month { font-size: 12px;}
.marketplace-marketplaceaccount-mydashboard .box.box-earned, .box.box-purchases { width: 160px; float: left;}
.marketplace-marketplaceaccount-mydashboard .box.box-earned p.number, .box.box-purchases p.number { font-size: 30px;}
.marketplace-marketplaceaccount-mydashboard .box.box-earned { margin-right: 30px;}
.marketplace-marketplaceaccount-mydashboard .box.box-paypal { padding: 10px 0; text-align: center;}
.marketplace-marketplaceaccount-mydashboard .box.box-paypal a { color: #fff; text-transform: uppercase; font: 18px 'Montserrat', Verdana, Arial, sans-serif;}
.marketplace-marketplaceaccount-mydashboard .box.box-profileviews p.desc { background: url(../images/icon-profileviws.png) 25% center no-repeat; padding-left: 25px;}
.marketplace-marketplaceaccount-mydashboard .box.box-favorites p.desc { background: url(../images/icon-favorites.png) 31% center no-repeat; padding: 3px 0 3px 25px;}
.marketplace-marketplaceaccount-mydashboard .page-title h1 { padding-top: 20px;}
.marketplace-marketplaceaccount-mydashboard .messages-list { border: 2px solid #000;}
.marketplace-marketplaceaccount-mydashboard .message-item { border-bottom: 2px solid #cdcdcd; padding: 30px;}
.marketplace-marketplaceaccount-mydashboard .message-item:last-child { border-bottom: none;}
.marketplace-marketplaceaccount-mydashboard .message-item:after { clear: both; content: "";}
.marketplace-marketplaceaccount-mydashboard .message-item p { font: 18px 'Montserrat', Verdana, Arial, sans-serif; text-transform: uppercase;}
.marketplace-marketplaceaccount-mydashboard .message-item .message-accord a { background: #000; color: #fff; padding: 15px 0; text-align: center; display: block; width: 80px;} 

/*banner*/
.banner-desc { position: absolute; top: 40px; left: 50%; text-align: left; margin-left: -555px;}
.banner-desc p, .banner-desc h1 { color: #fff; width: 950px;}
.banner-desc p { font-size: 24px;}
.banner-desc h1 { font-size: 56px; padding: 25px 0;}

/*others*/
.productlist { margin-top: 30px;}

/*vote the product*/
.catalog-product-view .block { border-top: 2px solid #cdcdcd; margin-top: 30px; margin-bottom: 0;}
.catalog-product-view .browser { border: none; padding: 0; margin: 0;}
.product-view .product-img-box {position: relative;}
.product-view .product-img-box .add-social-media {position: absolute; bottom: 0; width: 100%; background:#444; color:#fff; opacity:0.8; filter:alpha(opacity=80); /* For IE8 and earlier */ height: 32px; padding: 14px 0;}
.product-view .product-img-box .add-social-media .addthis_toolbox { padding: 0 16px;}
.addthis_toolbox ul li {float: left; padding-right:30px; line-height: 32px;}
.addthis_toolbox ul li#voteimg {float: right; padding: 0;}

/*blog*/
.blog-post { margin-bottom: 30px;}

.blog-post .blog-info { width: 95px; float: left;}
.blog-date { width: 95px; height: 70px; background: #000; color: #80868c; text-align: center; padding-top: 20px;}
.blog-date span { color: #fff; font-size: 2em; display: block; padding-bottom: 10px;}
.blog-author { font: 12px 'Lato', Verdana, Arial, sans-serif; color: #80868c;}
.blog-author span { font-weight: 700; color: #2e2b34;}

.blog-post .blog-content { width: 1015px; float: right;}
.blog-image { margin-bottom: 30px;}
.blog-image img { width: 1015px;}
h1.blog-title { font-size: 2em; margin-bottom: 20px;}
p.blog-article { line-height: 1.75em;}
.blog-extention { margin-top: 2em;}
.blog-extention p { float: left;}
.blog-extention p a {  padding: 0 17px; background: #000; color: #fff; display: block; font-size: 12px; height: 29px; line-height: 29px;}
.blog-extention p a:hover { opacity: .8;}
.blog-extention div.tags { float: right;}

/*----- Tabs -----*/
.tabs {
    width:100%;
    display:inline-block;
}
 
    /*----- Tab Links -----*/
    /* Clearfix */
    .tab-links:after {
        display:block;
        clear:both;
        content:'';
    }
 
    .tab-links li {
        margin:0px 5px;
        float:left;
        list-style:none;
    }
 
        .tab-links a {
            padding:9px 15px;
            display:inline-block;
            border-radius:3px 3px 0px 0px;
            background:#7FB5DA;
            font-size:16px;
            font-weight:600;
            color:#4c4c4c;
            transition:all linear 0.15s;
        }
 
        .tab-links a:hover {
            background:#a7cce5;
            text-decoration:none;
        }
 
    li.active a, li.active a:hover {
        background:#fff;
        color:#4c4c4c;
    }
 
    /*----- Content of Tabs -----*/
    .tab-content {
        padding:15px;
        border-radius:3px;
        box-shadow:-1px 1px 1px rgba(0,0,0,0.15);
        background:#fff;
    }
 
        .tab {
            display:none;
        }
 
        .tab.active {
            display:block;
        }


/*Other Css*/


.wk_row_view .label-date {
	width: 150px;
}
.blog-index-list .pagination { display: block; text-transform: uppercase; font-size: 1.25em;}
.blog-index-list .pagination a { color: #000;}
.blog-index-list .pagination .nav-previous { float: left;}
.blog-index-list .pagination .nav-next { float: right;}
