<?php
 /**
 * GoMage Advanced Navigation Extension
 *
 * @category     Extension
 * @copyright    Copyright (c) 2010-2014 GoMage (http://www.gomage.com)
 * @author       GoMage
 * @license      http://www.gomage.com/license-agreement/  Single domain license
 * @terms of use http://www.gomage.com/terms-of-use
 * @version      Release: 4.6
 * @since        Class available since Release 3.0
 */
?>
<?php 
	$more_url = $this->getMoreUrl();
?>
<?php if ($more_url): ?>
<div class="gan-more-button" id="gan-more-button">
	<button onclick="GomageNavigation.setNavigationUrl('<?php echo urlencode($more_url) ?>', true);" ><span><?php echo Mage::helper('gomage_navigation')->getShowmore();?></span></button>
</div>
<?php endif; ?>